<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" href='/assets/images/favicon/apple-touch-icon.png'>
  <link rel="shortcut icon" type="image/x-icon" href='/assets/images/favicon/favicon.ico'>

  <title><%= current_article.title unless current_article.nil? %> - Solidus</title>

  <%= partial "partials/head_analytics" %>

  <%= javascript_include_tag "modernizr" %>
  <%= stylesheet_link_tag "site" %>
  <% if current_page.data.canonical_link %>
    <link rel="canonical" href="<%= current_page.data.canonical_link %>" />
  <% end %>
</head>

<body>
<%= partial "partials/header" %>

<div class="site-content">
  <div class="blog-post container container-sm">
    <div class="content-block content-block-lg text-md-center">
      <h1 class="post-title title"><%= current_page.data.title %></h1>
      <div class="blog-post-author text-gray-048"><%= current_page.data.author %> · <%= current_page.date.strftime('%b %e, %Y') %></div>
    </div>
    <% if current_page.data.cover_image %>
      <img class="img-fluid mb-4" src="<%= current_page.data.cover_image %>">
    <% end %>

    <%= yield %>
  </div>

  <div class="content-block text-center">
    <div class="social-plugins-block">
      <div class="social-btn">
        <a class="twitter-share-button" href="https://twitter.com/share" data-text="<%= current_page.data.title %>" data-url="<%= config.base_url %><%= current_page.url %>" data-hashtags="solidus">Tweet</a>
      </div>
      <div class="social-btn">
        <div class="fb-share-button" data-href="<%= config.base_url %><%= current_page.url %>" data-layout="button" data-size="small" data-mobile-iframe="true">Share</div>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/footer" %>

<%= javascript_include_tag "vendor" %>
<%= javascript_include_tag "common" %>
<%= yield_content :scripts %>

<!--Social scrtipts-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  t._e = [];
  t.ready = function(f) { t._e.push(f); };
  return t;
}(document, "script", "twitter-wjs"));</script>
</body>
</html>
