<% wrap_layout :layout do %>
  <article class="blog-article blog-content">
    <header class="blog-article-header">
      <h1><%= current_article.title %></h1>
      <p><%= current_article.date.strftime('%b %-d, %Y') %> • <%= current_article.data[:author] %></p>
    </header>

    <div class="blog-article-content">
      <%= yield %>
    </div>
  </article>

  <div class="blog-sidebar recent-articles">
    <h4>Recent Articles</h4>
    <ol>
      <% blog.articles[0...5].each do |article| %>
        <li>
          <%= link_to article.title, article %><br>
          <span class="small-caps"><%= article.date.strftime('%b %e') %></span>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>

<%= javascript_include_tag "blog" %>
