<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" href='assets/images/favicon/apple-touch-icon.png'>
  <link rel="shortcut icon" type="image/x-icon" href='assets/images/favicon/favicon.ico'>

  <title><%= current_article.title unless current_article.nil? %> - Solidus</title>
  <%= stylesheet_link_tag "site" %>
</head>

<body>
<%= partial "partials/header" %>

<div class="site-content">
  <div class="blog-post container container-sm">
    <div class="content-block content-block-lg text-md-center">
      <h1 class="post-title title"><%= current_page.data.title %></h1>
      <div class="blog-post-author text-gray-048"><%= current_page.data.author %> · <%= current_page.date.strftime('%b %e, %Y') %></div>
    </div>

    <%= yield %>
  </div>

  <div class="content-block text-center">
    tweet share
  </div>

  <div class="content-block content-block-gray-100 text-center">
    <div class="container container-xs">
      <h4 class="title mb-1">Your feedback is important to us!</h4>
      <p>Join the Solidus user testing mailing list to share your opinions and participate in user testing. </p>

      <form action="" class="needs-validation" novalidate>
        <div class="form-group form-group-submittable">
          <div class="has-float-label">
            <input type="email" class="form-control " name="inputName" id="inputName" placeholder="Email" required>
            <label for="inputName">Email</label>
            <div class="invalid-feedback">Please enter correct email</div>
            <button type="submit" class="btn btn-link"><%= inline_svg("icons/arrow-right.svg", class: "isvg") %></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<%= partial "partials/footer" %>

<%= javascript_include_tag "vendor" %>
<%= javascript_include_tag "common" %>
</body>
</html>
