<% author = find_author(current_article.data.author) %>

<% content_for :head do %>
  <meta name='twitter:card' content='summary'>
  <meta name='twitter:site' content='@solidusio'>
  <meta name='twitter:creator' content='<%= "@#{ author.twitter_name || 'solidusio' }" %>'>
  <meta name='og:title' content='<%= "#{ current_article.title }" %>'>
  <meta name='og:description' content='<%= "#{ strip_tags(current_article.summary) }" %>'>
<% end %>

<% wrap_layout :layout do %>
  <article class="blog-article blog-content">
    <header class="blog-article-header">
      <h1><%= current_article.title %></h1>
      <p><%= current_article.date.strftime('%b %-d, %Y') %> • <%= author.name %></p>
    </header>

    <div class="blog-article-content">
      <%= yield %>
    </div>
  </article>

  <div class="blog-sidebar recent-articles">
    <h4>Recent Articles</h4>
    <ol>
      <% blog.articles[0...5].each do |article| %>
        <li>
          <%= link_to article.title, article %><br>
          <span class="small-caps"><%= article.date.strftime('%b %e') %></span>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>

<%= javascript_include_tag "blog" %>
