<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <title><%= current_page.data.title || "Middleman" %></title>
  <%= stylesheet_link_tag "site" %>
</head>

<body>
<header class="site-header">
  <div class="navbar container">
    <div class="logo-wrapper">
      <a class="site-logo" href="/"><%= inline_svg("logo.svg", class: "isvg") %></a>
    </div>

    <nav class="site-menu" role="navigation">
      <ul class="menu-items list-inline">
        <li class="list-inline-item <%= nav_active("features.html") %>"><a href="/features">Features</a></li>
        <li class="list-inline-item <%= nav_active("developers.html") %>"><a href="/developers">Developers</a></li>
        <li class="list-inline-item <%= nav_active("blog.html") %>"><a href="/blog">Blog</a></li>
      </ul>
    </nav>

    <div class="navbar-right">
      <ul class="social-links list-inline">
        <li class="list-inline-item"><a class="text-gray-400" href="#"><%= inline_svg("social-icons/slack.svg", class: "isvg") %></a></li>
        <li class="list-inline-item"><a class="text-gray-400" href="#"><%= inline_svg("social-icons/github.svg", class: "isvg") %></a></li>
      </ul>
      <a class="btn btn-primary btn-sm" href="#">Contact</a>
    </div>
  </div>
</header>

<div class="site-content">
  <%= yield %>
</div>

<footer class="site-footer content-block-gray-900">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <nav class="footer-menu">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="text-white" href="/features">Features</a></li>
            <li class="list-inline-item"><a class="text-white" href="/developers">Developers</a></li>
            <li class="list-inline-item"><a class="text-white" href="/contact">Contact</a></li>
            <li class="list-inline-item"><a class="text-white" href="/legal">Legal</a></li>
          </ul>
        </nav>

        <div class="text-gray-500">
          <%= inline_svg("footer-icons.svg", class: "isvg isvg-coffee-love") %> <br class="d-lg-none">
          Created by <a class="text-white" href="#">Stembolt</a>, maintained by the core team with the help of our contributors.
        </div>
      </div>
      <div class="col-lg-5">
        <ul class="social-links list-inline">
          <li class="list-inline-item"><a class="text-gray-800" href="#"><%= inline_svg("social-icons/twitter.svg", class: "isvg") %></a></li>
          <li class="list-inline-item"><a class="text-gray-800" href="#"><%= inline_svg("social-icons/slack.svg", class: "isvg") %></a></li>
          <li class="list-inline-item"><a class="text-gray-800" href="#"><%= inline_svg("social-icons/github.svg", class: "isvg") %></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<%= javascript_include_tag "vendor" %>
<%= javascript_include_tag "common" %>
</body>
</html>
