<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" href='/assets/images/favicon/apple-touch-icon.png'>
  <link rel="shortcut icon" type="image/x-icon" href='/assets/images/favicon/favicon.ico'>

  <title><%= current_page.data.title || "Middleman" %></title>

  <script type="text/javascript" charset="utf-8">
    document.documentElement.classList.remove('no-js');
    document.documentElement.classList.add('js');
  </script>
  <%= stylesheet_link_tag "site" %>
</head>

<body>
<%= partial "partials/header" %>

<div class="site-content">
  <%= yield %>
</div>

<%= partial "partials/footer" %>

<%= javascript_include_tag "vendor" %>
<%= javascript_include_tag "common" %>
</body>
</html>
