---
title: Industries | Automotive
description: Your eCommerce platform shouldn’t be a backseat driver. Use Solidus to create a fully customized shopping experience.
preview_image: industries/social/automotive_preview.jpg
---

<div class="industries-hero hero-block">
  <div class="content-wrapper">
    <nav class="subnav">
      <div class="subnav-wrapper container">
        <small>Industries</small>
        <ul>
          <li class="subnav__item selected">
            <a class="subnav__item__link" href="/industries/automotive">Automotive</a>
          </li>
          <li class="subnav__item">
            <a class="subnav__item__link" href="/industries/home-decor">Home Decor</a>
          </li>
          <li class="subnav__item">
            <a class="subnav__item__link" href="/industries/apparel">Apparel</a>
          </li>
          <li class="subnav__item">
            <a class="subnav__item__link" href="/industries/health-and-beauty">Health and Beauty</a>
          </li>
          <li class="subnav__item">
            <a class="subnav__item__link" href="/industries/food-and-beverage">Food and Beverage</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="content-block">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg">
            <div class="pr-lg-6 mb-3">
              <h5>Automotive</h5>
              <h1 class="title">Build your shopping experience <span class="d-md-block">at top speed.</span></h1>
              <p class="mb-6">
                Your eCommerce platform shouldn’t be a backseat driver: use Solidus to create a fully customized shopping experience that keeps your customer front and center, while giving you full control over order management and fulfillment.
              </p>
              <a class="btn btn-primary btn-lg" href="/get-started">Get started</a>
              <a class="btn btn-secondary btn-white" href="<%= data.urls.demo %>" target="_blank">Demo</a>
            </div>
          </div>
          <div class="col-lg">
            <div class="hero-image-wrapper">
              <img data-srcset="<%= image_path('industries/automotive_hero@2x.jpg') %> 2x, <%= image_path('industries/automotive_hero@1x.jpg') %> 1x" class="img-fluid" alt="Automotive" >
              <%= inline_svg("industries/hero-bg.svg", class: "hero-background") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-block pt-0">
  <div class="content-block content-block-gray-900">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3 class="mb-5">
            Solidus powers the Automotive brands that are defining the future of eCommerce.
          </h3>
        </div>

        <%= partial 'industries/logos', locals: { industry: 'automotive' } %>
      </div>
    </div>
  </div>
</div>

<div class="content-block pt-0">
  <div class="container">
    <div class="row">
      <div class="industries__image col-md order-md-2">
        <img src="<%= image_path("industries/automotive_01@1x.png") %>" data-srcset="<%= image_path("industries/automotive_01@2x.png") %> 2x, <%= image_path("industries/automotive_01@1x.png") %> 1x" class="img-fluid" width="100%" alt="Flexible fulfillment" />
      </div>
      <div class="col-md align-self-center">
        <div class="industries__header">
          <h5>Flexible fulfillment</h5>
          <h2>Fulfill your fulfillment dreams.</h2>
        </div>
        <p>
          Manage inventory across Flexible fulfillment, compute product ETA dynamically, build complex fulfillment flows that pick and prioritize stock locations according to your own rules and integrate with any vendor’s API in a scalable, maintainable and performant way. Forget the days of building for your platform — start building for your business.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="content-block content-block-gray-100">
  <div class="container">
    <div class="row">
      <div class="industries__image col-md">
        <img src="<%= image_path("industries/automotive_04@1x.png") %>" data-srcset="<%= image_path("industries/automotive_04@2x.png") %> 2x, <%= image_path("industries/automotive_04@1x.png") %> 1x" class="img-fluid" width="100%" alt="Custom search" />
      </div>
      <div class="col-md align-self-center">
        <div class="industries__header">
          <h5>Custom search and filtering</h5>
          <h2>Build search that finds your customers.</h2>
        </div>
        <p>
          When you have hundreds of thousands of products, product discovery is crucial. Build search, filtering and recommendation flows that are tailored to customer taste and your product taxonomy. Use the built-in search system for a quick start, or replace it with powerful alternatives such as Elasticsearch and Algolia to unleash the full potential of search.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="content-block">
  <div class="container">
    <div class="row">
      <div class="industries__image order-md-2 col-md">
        <img src="<%= image_path("industries/automotive_03@1x.png") %>" data-srcset="<%= image_path("industries/automotive_03@2x.png") %> 2x, <%= image_path("industries/automotive_03@1x.png") %> 1x" class="img-fluid" width="100%" alt="B2B capabilities" />
      </div>
      <div class="col-md align-self-center">
        <div class="industries__header">
          <h5>B2B capabilities</h5>
          <h2>Blur the business-consumer boundary.</h2>
        </div>
        <p>
          They’ve told you you’re either B2C or B2B, but we don’t think so. Implement multiple customer groups and use them to compute pricing, discounts, shipping options, payment methods and anything else you need. And of course, it’s all part of one, fully integrated shopping experience for your customers and your store administrators.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="content-block content-block-gray-100">
  <div class="container">
    <div class="row">
      <div class="industries__image col-md">
        <img src="<%= image_path("industries/automotive_02@1x.png") %>" data-srcset="<%= image_path("industries/automotive_02@2x.png") %> 2x, <%= image_path("industries/automotive_02@1x.png") %> 1x" class="img-fluid" width="100%" alt="Flexible pricing" />
      </div>
      <div class="col-md align-self-center">
        <div class="industries__header">
          <h5>Digital products</h5>
          <h2>Sell services, not just products.</h2>
        </div>
        <p>
          It doesn’t need to be physical for Solidus to sell it: offer white-glove services and customize your store to build advanced booking, management and delivery features. Provide your staff with a unified interface to seamlessly manage all customer transactions and use the built-in REST and GraphQL APIs to create an amazing mobile experience for your team on the ground.
        </p>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/cta_bottom" %>
