---
title: Industries | Health and Beauty
description: Create the shopping experience you’ve been craving with an eCommerce platform that gives you unparalleled flexibility.
preview_image: industries/social/health-and-beauty_preview.jpg
---

<div class="industries-hero hero-block">
  <div class="content-wrapper">
    <nav class="subnav">
      <div class="subnav-wrapper container">
        <small>Industries</small>
        <ul>
          <li class="subnav__item">
            <a class="subnav__item__link" href="/industries/automotive">Automotive</a>
          </li>
          <li class="subnav__item">
            <a class="subnav__item__link" href="/industries/home-decor">Home Decor</a>
          </li>
          <li class="subnav__item">
            <a class="subnav__item__link" href="/industries/apparel">Apparel</a>
          </li>
          <li class="subnav__item selected">
            <a class="subnav__item__link" href="/industries/health-and-beauty">Health and Beauty</a>
          </li>
          <li class="subnav__item">
            <a class="subnav__item__link" href="/industries/food-and-beverage">Food and Beverage</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="content-block">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg">
            <div class="pr-lg-6 mb-3">
              <h5>Health and Beauty</h5>
              <h1 class="title">Beautiful eCommerce for beauty brands.</h1>
              <p class="mb-6">
                Create the shopping experience you’ve been craving with an eCommerce platform that gives you unparalleled flexibility.
              </p>
              <a class="btn btn-primary btn-lg" href="/get-started">Get started</a>
              <a class="btn btn-secondary btn-white" href="<%= data.urls.demo %>" target="_blank">Demo</a>
            </div>
          </div>
          <div class="col-lg">
            <div class="hero-image-wrapper">
              <img data-srcset="<%= image_path('industries/health-beauty_hero@2x.jpg') %> 2x, <%= image_path('industries/health-beauty_hero@1x.jpg') %> 1x" class="img-fluid" alt="Health and Beauty" >
              <%= inline_svg("industries/hero-bg.svg", class: "hero-background") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-block pt-0">
  <div class="content-block content-block-gray-900">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3 class="mb-5">
            Solidus powers the Health and Beauty brands that are defining the future of eCommerce.
          </h3>
        </div>

        <%= partial 'industries/logos', locals: { industry: 'health_beauty' } %>
      </div>
    </div>
  </div>
</div>

<div class="content-block pt-0">
  <div class="container">
    <div class="row">
      <div class="industries__image col-md order-md-2">
        <img src="<%= image_path("industries/health-beauty_04@1x.png") %>" data-srcset="<%= image_path("industries/health-beauty_04@2x.png") %> 2x, <%= image_path("industries/health-beauty_04@1x.png") %> 1x" class="img-fluid" width="445" alt="Omnichannel" />
      </div>
      <div class="col-md align-self-center">
        <div class="industries__header">
          <h5>Omnichannel eCommerce</h5>
          <h2>Become that brand that’s everywhere.</h2>
        </div>
        <p>
          With social media being such a critical channel for beauty brands, you can’t miss the chance to become a part of your user’s feed. Use Solidus to export your product catalog for the major social platforms and get in front of your customers even when they’re not thinking about you. And with our open architecture, be the first to explore new channels.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="content-block content-block-gray-100">
  <div class="container">
    <div class="row">
      <div class="industries__image col-md">
        <img src="<%= image_path("industries/health-beauty_05@1x.png") %>" data-srcset="<%= image_path("industries/health-beauty_05@2x.png") %> 2x, <%= image_path("industries/health-beauty_05@1x.png") %> 1x" class="img-fluid" width="100%" alt="User generated content" />
      </div>
      <div class="col-md align-self-center">
        <div class="industries__header">
          <h5>Product reviews & UGC</h5>
          <h2>Turn customers into advocates, just like that.</h2>
        </div>
        <p>
          As a Health and Beauty brand, social proof is central to your success. By giving you full control over customer data, Solidus lets you integrate with any third-party UGC service or even implement your own solution. And once you have your users’ feedback, you can use it wherever you want, however you want. It’s data freedom at its finest.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="content-block">
  <div class="industries testimonials">
    <div class="container text-center">
      <div class="carousel-content">
        <div class="main-image-container">
          <img src="<%= image_path("use-cases/quote-goby@1x.jpg") %>" data-srcset="<%= image_path("use-cases/quote-goby@2x.jpg") %> 2x, <%= image_path("use-cases/quote-goby@1x.jpg") %> 1x" class="img-fluid" width="100%" alt="Goby" />
        </div>
        <div class="blockquote-container">
          <blockquote class="blockquote goby d-flex flex-column justify-content-between">
            <a class="logo" href="https://goby.co" target="_blank"><%= inline_svg("community-logos/goby.svg", class: "isvg") %></a>
            <div>
              <%= inline_svg("icons/quote.svg", class: "quote") %>
              <p class="pl-4">
                Solidus offers Goby the flexibility we need to meet our ever-growing business demands. The ability to fully customize our site has been a meaningful driver of the continued growth of our business.
              </p>
            </div>
            <footer class="blockquote-footer pt-3">
              <cite>
                <img src="<%= image_path("quotes/ben-goldberg.png") %>" data-srcset="<%= image_path("quotes/ben-goldberg@2x.png") %> 2x, <%= image_path("quotes/ben-goldberg.png") %> 1x" class="img-circled" width="48" height="48" alt="Ben Goldberg" />
                <span class="text">
                  <span class="author">Ben Goldberg</span>
                    CEO at Goby
                  </span>
                </cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-block pt-0">
  <div class="container">
    <div class="row">
      <div class="industries__image col-md">
        <img src="<%= image_path("industries/health-beauty_02@1x.png") %>" data-srcset="<%= image_path("industries/health-beauty_02@2x.png") %> 2x, <%= image_path("industries/health-beauty_02@1x.png") %> 1x" class="img-fluid" width="100%" alt="Brand centered experience" />
      </div>
      <div class="col-md align-self-center">
        <div class="industries__header">
          <h5>Content management</h5>
          <h2>Promote content beyond your blog.</h2>
        </div>
        <p>
          With one of the most flexible content management solutions on the market and full-blown REST and GraphQL APIs, Solidus allows you to rethink how you produce content and how your customers consume it. Turn content into an organic part of your shopping experience and capitalize on the opportunity to engage with your customers anywhere, any time.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="content-block content-block-gray-100">
  <div class="container">
    <div class="row">
      <div class="industries__image col-md order-md-2">
        <img src="<%= image_path("industries/health-beauty_01@1x.png") %>" data-srcset="<%= image_path("industries/health-beauty_01@2x.png") %> 2x, <%= image_path("industries/health-beauty_01@1x.png") %> 1x" class="img-fluid" width="100%" alt="Subscriptions" />
      </div>
      <div class="col-md align-self-center">
        <div class="industries__header">
          <h5>Subscriptions</h5>
          <h2>Go from “once” to “once a month.”</h2>
        </div>
        <p>
          Create a subscription-based model that has your brand all over it by customizing each and every aspect of the buyer’s journey. Custom subscription configurators, promotions and subscription bundles, a fully customizable fulfillment system... Stop worrying about what your commerce platform can do — start doing it instead.
        </p>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/cta_bottom" %>
