<div class="community-logos col-lg-12">
    <div class="community-logos__item"><a href="https://www.meundies.com/" target="_blank"><%= inline_svg("community-logos/meundies.svg", class: "isvg") %></a></div>
    <div class="community-logos__item"><a href="https://moddedeuros.com/" target="_blank"><%= inline_svg("community-logos/moddedeuros.svg", class: "isvg") %></a></div>
    <div class="community-logos__item"><a href="https://bookshop.org/" target="_blank"><%= inline_svg("community-logos/bookshop.svg", class: "isvg") %></a></div>
    <div class="community-logos__item"><a href="https://www.discoverpeach.com/" target="_blank"><%= inline_svg("community-logos/peach.svg", class: "isvg") %></a></div>
    <div class="community-logos__item"><a href="https://www.aceandtate.com/" target="_blank"><%= inline_svg("community-logos/ace&tate.svg", class: "isvg") %></a></div>
    <div class="community-logos__item"><a href="https://www.woolandthegang.com/" target="_blank"><%= inline_svg("community-logos/woolandthegang.svg", class: "isvg") %></a></div>
    <div class="community-logos__item"><a href="https://www.awaytravel.com/" target="_blank"><%= inline_svg("community-logos/awaytravel.svg", class: "isvg") %></a></div>
    <div class="community-logos__item"><a href="https://www.fortnumandmason.com/" target="_blank"><%= inline_svg("community-logos/fortnum&mason.svg", class: "isvg") %></a></div>
    <div class="community-logos__item"><a href="https://floyddetroit.com/" target="_blank"><%= inline_svg("community-logos/floyd.svg", class: "isvg" ) %></a></div>
    <div class="community-logos__item"><a href="https://www.firstleaf.club/" target="_blank"><%= inline_svg("community-logos/firstleaf.svg", class: "isvg" ) %></a></div>
    <div class="community-logos__item"><a href="https://takecareof.com/" target="_blank"><%= inline_svg("community-logos/careof.svg", class: "isvg" ) %></a></div>
    <div class="community-logos__item"><a href="https://www.wonderbly.com/" target="_blank"><%= inline_svg("community-logos/wonderbly.svg", class: "isvg" ) %></a></div>
</div>
