<div class="community-logos">
  <div class="row align-items-center justify-content-center">
    <div class="col-4 col-lg-auto"><a class="item" href="https://www.glossier.com/" target="_blank"><%= inline_svg("community-logos/glossier.svg", class: "isvg") %></a></div>
    <div class="col-4 col-lg-auto"><a class="item" href="https://www.meundies.com/" target="_blank"><%= inline_svg("community-logos/meundies.svg", class: "isvg") %></a></div>
    <div class="col-4 col-lg-auto"><a class="item" href="https://www.aceandtate.com/" target="_blank"><%= inline_svg("community-logos/ace&tate.svg", class: "isvg") %></a></div>
    <div class="col-4 col-lg-auto"><a class="item pt-1" href="https://casper.com/" target="_blank"><%= inline_svg("community-logos/casper.svg", class: "isvg") %></a></div>
    <div class="col-4 col-lg-auto"><a class="item" href="https://floyddetroit.com/" target="_blank"><%= inline_svg("community-logos/floyd.svg", class: "isvg", width: "73", height:"47") %></a></div>
  </div>
</div>
