<footer class="site-footer content-block content-block-gray-900">
  <div class="container">
    <div class="site-footer__top">
      <div class="row">
        <div class="col-12 col-lg-1">
          <a class="footer-logo" href="/"><%= inline_svg("logo-mark.svg", class: "isvg") %></a>
        </div>
        <div class="col-4 col-lg-2">
          <h6 class="text-white-048">Solidus</h6>
          <ul class="footer-links">
            <li class="footer-links-item">
              <a class="text-white" href="/features">Features</a>
            </li>
            <li class="footer-links-item">
              <a class="text-white" href="/security">Security</a>
            </li>
            <li class="footer-links-item">
              <a class="text-white" href="/partners">Become a partner</a>
            </li>
          </ul>
        </div>
        <div class="col-4 col-lg-2">
          <h6 class="text-white-048">Community</h6>
          <ul class="footer-links">
            <li class="footer-links-item">
              <a class="text-white" href="/community">Contributors</a>
            </li>
            <li class="footer-links-item">
              <a class="text-white" href="https://github.com/solidusio/">Start contributing</a>
            </li>
            <li class="footer-links-item">
              <a class="text-white" href="https://guides.solidus.io/">Guides</a>
            </li>
            <li class="footer-links-item">
              <a class="text-white" href="/community-guidelines">Community Guidelines</a>
            </li>
          </ul>
        </div>
        <div class="col-4 col-lg-2">
          <h6 class="text-white-048">News</h6>
          <ul class="footer-links">
            <li class="footer-links-item">
              <a class="text-white" href="/blog">Blog</a>
            </li>
            <li class="footer-links-item">
              <a class="text-white" href="https://github.com/solidusio/solidus/blob/master/CHANGELOG.md" target="_blank">Product changelog</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-4 ml-lg-auto">
          <div class="footer-newsletter-form" id="mc_embed_signup">
            <form action="https://solidus.us13.list-manage.com/subscribe/post?u=679f4835b2683d59bc5762ec3&amp;id=3ce07e9582" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <label for="mce-EMAIL">Get updates from Solidus</label>
              <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Enter your email" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_679f4835b2683d59bc5762ec3_3ce07e9582" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button btn"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="site-footer__bottom">
      <div class="row align-items-center">
        <div class="col-lg-9">
          <div class="text-white-048">
            Maintained by the <a class="text-white" href="/community#core-team">core team</a> with the help of our <a class="text-white" href="https://github.com/solidusio/solidus/graphs/contributors" target="_blank">contributors</a>, directed by <a class="text-white" href="https://nebulab.it/" target="_blank">Nebulab</a>.
          </div>
        </div>
        <div class="col-lg-3">
          <ul class="social-links social-links-light">
            <li class="list-inline-item"><a href="https://twitter.com/solidusio" target="_blank"><%= inline_svg("social-icons/twitter.svg", class: "isvg") %></a></li>
            <li class="list-inline-item"><a href="http://slack.solidus.io/" target="_blank"><%= inline_svg("social-icons/slack.svg", class: "isvg") %></a></li>
            <li class="list-inline-item"><a href="https://github.com/solidusio/solidus" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %></a></li>
            <li class="list-inline-item"><a href="https://stackoverflow.com/questions/tagged/solidus" target="_blank"><%= inline_svg("social-icons/stack-overflow.svg", class: "isvg") %></a></li>
            <li class="list-inline-item"><a href="https://opencollective.com/solidus" target="_blank"><%= inline_svg("social-icons/opencollective.svg", class: "isvg") %></a></li>
          </ul>
        </div>
      </div>
      <div class="netlify-badge">
        <a href="https://www.netlify.com">
          <img src="https://www.netlify.com/img/global/badges/netlify-dark.svg" alt="Deploys by Netlify" />
        </a>
      </div>
    </div>
  </div>
</footer>
