<div class="content-block pb-0 case-study">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="logo-wrapper">
        <div class="case-study__logo">
          <%= inline_svg("community-logos/maisonette.svg", class: "isvg") %>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8 case-study__image mb-4">
      <img src="<%= image_path("case-studies/maisonette@1x.jpg") %>" data-srcset="<%= image_path("case-studies/maisonette@2x.jpg") %> 2x, <%= image_path("case-studies/maisonette@1x.jpg") %> 1x" class="img-fluid" width="100%" alt="Maisonette on Solidus" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-4 order-lg-2 case-study__feature">
      <h5>Global commerce</h5>
      <p>Nunc et sem porttitor, molestie nibh quis, interdum augue. Suspendisse venenatis facilisis erat, a sollicitudin tellus sagittis.
      </p>
    </div>
    <div class="col-12 col-lg-4 order-lg-3 case-study__feature">
      <h5>Vendors management</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum.</p>
    </div>
    <div class="col-12 col-lg-4 order-lg-1">
      <p>Join the brands that are using Solidus to power their <a href="/use-cases/marketplace" target="_blank" class="case-study__cta">marketplace <%= inline_svg("icons/arrow-right.svg", class: "isvg") %></a></p>
    </div>
  </div>
</div>

<div class="content-block pb-0 case-study">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="logo-wrapper">
        <div class="case-study__logo">
          <%= inline_svg("community-logos/meundies.svg", class: "isvg") %>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8 case-study__image mb-4">
      <img src="<%= image_path("case-studies/meundies@1x.jpg") %>" data-srcset="<%= image_path("case-studies/meundies@2x.jpg") %> 2x, <%= image_path("case-studies/meundies@1x.jpg") %> 1x" class="img-fluid" width="100%" alt="MeUndies on Solidus" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-4 order-lg-2 case-study__feature">
      <h5>Subscriptions</h5>
      <p>Nunc et sem porttitor, molestie nibh quis, interdum augue. Suspendisse venenatis facilisis erat, a sollicitudin tellus sagittis.
      </p>
    </div>
    <div class="col-12 col-lg-4 order-lg-3 case-study__feature">
      <h5>Rest API</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum.</p>
    </div>
    <div class="col-12 col-lg-4 order-lg-1">
      <p>All the power you need with an <a href="/use-cases/headless-commerce" target="_blank" class="case-study__cta">headless commerce <span>infrastucture</span> <%= inline_svg("icons/arrow-right.svg", class: "isvg") %></a></p>
    </div>
  </div>
</div>
