<header class="site-header site-header--fixed <%= "site-header--blue" if current_page.data.title == 'Integrations' %> <%= "site-header--dark" if current_page.data.title == 'Roadmap' %>">
  <div class="navbar container">
    <div class="logo-wrapper">
      <a class="site-logo" href="/"><%= inline_svg("logo.svg", class: "isvg") %></a>
    </div>

    <nav class="site-menu" role="navigation">
      <ul class="menu-items <%= nav_inactive(["features.html", "community.html", "blog/", "partners.html"]) %>">
        <li class="nav-item dropdown">
          <a class="dropdown-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Product</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/features">Features</a>
            <a class="dropdown-item" href="/integrations">Integrations</a>
          </div>
        </li>
	      <li class="nav-item <%= nav_active("community.html") %>"><a href="/community">Community</a></li>
        <li class="nav-item dropdown">
          <a class="dropdown-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Developers</a>
          <div class="dropdown-menu dropdown-menu--multi">
            <a class="dropdown-item" href="https://guides.solidus.io/" target="_blank" rel="noopener noreferrer">Guides &nbsp; <%= inline_svg("icons/external-link.svg", class: "isvg") %></a>
            <div class="dropdown-top">
              <div class="dropdown-top__list">
                <a href="https://guides.solidus.io/developers/" target="_blank" rel="noopener noreferrer">Developers</a>
                <a href="https://guides.solidus.io/developers/getting-started/develop-solidus.html" target="_blank" rel="noopener noreferrer">Develop Solidus</a>
                <a href="https://guides.solidus.io/developers/customizations/overview.html" target="_blank" rel="noopener noreferrer">Customize Solidus</a>
                <a href="https://guides.solidus.io/developers/extensions/installing-extensions.html" target="_blank" rel="noopener noreferrer">Installing extensions</a>
              </div>
              <div class="dropdown-top__list">
                <a href="https://guides.solidus.io/users/index.html" target="_blank" rel="noopener noreferrer">Users</a>
                <a href="https://guides.solidus.io/users/orders/overview.html" target="_blank" rel="noopener noreferrer">Orders</a>
                <a href="https://guides.solidus.io/users/products/overview.html" target="_blank" rel="noopener noreferrer">Products</a>
                <a href="https://guides.solidus.io/users/settings/overview.html" target="_blank" rel="noopener noreferrer">Settings</a>
              </div>
              <div class="dropdown-top__list">
                <a href="https://solidus.docs.stoplight.io/" target="_blank" rel="noopener noreferrer">API</a>
                <a href="https://solidus.docs.stoplight.io/authentication" target="_blank" rel="noopener noreferrer">Authentication</a>
                <a href="https://solidus.docs.stoplight.io/checkout-flow" target="_blank" rel="noopener noreferrer">Checkout Flow</a>
              </div>
            </div>
            <div class="dropdown-bottom">
              <div class="dropdown-bottom__list">
                <a class="dropdown-item" href="/extensions">Extensions</a>
                <a class="dropdown-item" href="/partners/#become-a-partner">Become a Partner</a>
              </div>
              <div class="dropdown-bottom__list">
                <a href="https://heroku.com/deploy?template=https://github.com/solidusio/solidus-example-app" target="_blank" rel="noopener noreferrer"><%= inline_svg("social-icons/heroku.svg", class: "isvg") %>&nbsp; Run a Demo on Heroku</a>
                <a href="https://github.com/solidusio/solidus" target="_blank" rel="noopener noreferrer"><%= inline_svg("social-icons/github.svg", class: "isvg") %>&nbsp; Fork on GitHub</a>
                <a href="http://slack.solidus.io/" target="_blank" rel="noopener noreferrer"><%= inline_svg("social-icons/slack.svg", class: "isvg") %>&nbsp; Join our Slack</a>
                <a href="https://stackoverflow.com/questions/tagged/solidus" target="_blank" rel="noopener noreferrer"><%= inline_svg("social-icons/stack-overflow.svg", class: "isvg") %>&nbsp; Ask on Stack Overflow</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item <%= nav_active("partners.html") %>"><a href="/partners">Partners</a></li>
        <li class="nav-item <%= nav_active("blog/") %>"><a href="/blog">Blog</a></li>
        <li class="nav-item d-lg-none <%= nav_active("contact.html") %>"><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <div class="navbar-right">
      <a class="site-menu-toggler" href="#">
        <%= inline_svg("menu.svg", class: "isvg isvg-menu") %>
        <%= inline_svg("close.svg", class: "isvg isvg-close") %>
      </a>
      <div class="github-stars">
        <a class="github-button" href="https://github.com/solidusio/solidus" data-show-count="true" aria-label="Star solidusio/solidus on GitHub">Star</a>
      </div>
      <a class="btn btn-primary btn-sm" href="/contact">Contact</a>
    </div>
  </div>
</header>
