<details class="help-center-widget">
  <div class="help-center-widget__content">
    <div class="help-center-widget__content__header">
      <h5 class="help-center-widget__content__header__title text-white">Help Center</h5>
    </div>
    <div class="help-center-widget__content__body">
      <div class="help-center-widget__content__body__card">
        <a class="help-center-widget__content__body__card__content" href="http://guides.solidus.io" target="_blank">
          <%= inline_svg("icons/documentation.svg", class: "isvg") %>
          <div class="help-center-widget__content__body__card__content__text">
            <h5>Looking for our documentation?</h5>
            <p class="text-gray">Visit our online Guides.</p>
          </div>
        </a>
      </div>
      <div class="help-center-widget__content__body__card">
        <a class="help-center-widget__content__body__card__content" href="https://stackoverflow.com/questions/tagged/solidus" target="_blank">
          <%= inline_svg("icons/stack-overflow.svg", class: "isvg") %>
          <div class="help-center-widget__content__body__card__content__text">
            <h5>Questions about the software?</h5>
            <p class="text-gray">Ask our community on Stack Overflow.</p>
          </div>
        </a>
      </div>
      <div class="help-center-widget__content__body__card">
        <a class="help-center-widget__content__body__card__content" href="https://github.com/solidusio/solidus" target="_blank">
          <%= inline_svg("icons/bug.svg", class: "isvg") %>
          <div class="help-center-widget__content__body__card__content__text">
            <h5>Need to report a bug?</h5>
            <p class="text-gray">Report it on GitHub.</p>
          </div>
        </a>
      </div>
      <div class="help-center-widget__content__body__card">
        <a class="help-center-widget__content__body__card__content" href="/partners">
          <%= inline_svg("icons/community.svg", class: "isvg") %>
          <div class="help-center-widget__content__body__card__content__text">
            <h5>Join our Slack!</h5>
            <p class="text-gray">Connect with the community.</p>
          </div>
        </a>
      </div>
      <div class="help-center-widget__content__body__card">
        <a class="help-center-widget__content__body__card__content" href="/partners">
          <%= inline_svg("icons/partners.svg", class: "isvg") %>
          <div class="help-center-widget__content__body__card__content__text">
            <h5>Need help with your your project?</h5>
            <p class="text-gray">Contact one of our Solidus Partners.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <summary class="help-center-widget__launcher">
    <%= inline_svg("icons/help.svg", class: "isvg help") %>
    <%= inline_svg("icons/close.svg", class: "isvg close") %>
  </summary>
</details>