<div class="col-lg-6">
  <h3 class="mb-5">
    <% if current_page.data.title == 'Industries | Automotive' %>
      <%= data.industries_logos[:automotive_title] %>
    <% end %>
    
    <% if current_page.data.title == 'Industries | Home Decor' %>
      <%= data.industries_logos[:home_decor_title] %>
    <% end %>

    <% if current_page.data.title == 'Industries | Apparel' %>
      <%= data.industries_logos[:apparel_title] %>
    <% end %>

    <% if current_page.data.title == 'Industries | Health & Beauty' %>
      <%= data.industries_logos[:health_beauty_title] %>
    <% end %>

    <% if current_page.data.title == 'Industries | Food & Beverage' %>
      <%= data.industries_logos[:food_beverage_title] %>
    <% end %>
  </h3>
</div>
<div class="community-logos industries col-lg-6">
  <% if current_page.data.title == 'Industries | Automotive' %>
    <% data.industries_logos[:automotive_logos].each do |automotive, info| %>
      <div class="community-logos__item">
        <a href="<%= info[:url] %>" target="_blank">
          <%= inline_svg("community-logos/#{info[:logo]}", class: "isvg") %>
        </a>
      </div>
    <% end %>
  <% end %>
  
  <% if current_page.data.title == 'Industries | Home Decor' %>
    <% data.industries_logos[:home_decor_logos].each do |home_decor, info| %>
      <div class="community-logos__item">
        <a href="<%= info[:url] %>" target="_blank">
          <%= inline_svg("community-logos/#{info[:logo]}", class: "isvg") %>
        </a>
      </div>
    <% end %>
  <% end %>
  
  <% if current_page.data.title == 'Industries | Apparel' %>
    <% data.industries_logos[:apparel_logos].each do |apparel, info| %>
      <div class="community-logos__item">
        <a href="<%= info[:url] %>" target="_blank">
          <%= inline_svg("community-logos/#{info[:logo]}", class: "isvg") %>
        </a>
      </div>
    <% end %>
  <% end %>
  
  <% if current_page.data.title == 'Industries | Health & Beauty' %>
    <% data.industries_logos[:health_beauty_logos].each do |health_beauty, info| %>
      <div class="community-logos__item">
        <a href="<%= info[:url] %>" target="_blank">
          <%= inline_svg("community-logos/#{info[:logo]}", class: "isvg") %>
        </a>
      </div>
    <% end %>
  <% end %>
  
  <% if current_page.data.title == 'Industries | Food & Beverage' %>
    <% data.industries_logos[:food_beverage_logos].each do |food_beverage, info| %>
      <div class="community-logos__item">
        <a href="<%= info[:url] %>" target="_blank">
          <%= inline_svg("community-logos/#{info[:logo]}", class: "isvg") %>
        </a>
      </div>
    <% end %>
  <% end %>
</div>
