<div class="container">
  <div class="content-block border-bottom border-secondary">
    <div class="container container-md mb-8 text-center">
      <%= inline_svg("icons/key-stakeholder.svg", class: "isvg") %>
      <h3 class="title mt-3">Ambassadors</h3>
      <p>
        They are actively shaping the direction and strategy of Solidus
        by pledging <b>$750</b> or more a month on Open Collective.
      </p>
    </div>
    <div class="community-logos">
      <div class="row align-items-center justify-content-center">
        <% data.community_members[:ambassadors].each do |member, info| %>

          <div class="col-6 col-sm-4 col-lg">
            <a class="item" href="<%= info[:url] %>" target="_blank">

              <% if info[:retina] %>
                <img class="img-fluid" src="<%= image_path("community-logos/#{info[:retina].default_img}") %>" srcset="<%= image_path("community-logos/#{info[:retina].default_img}") %>, <%= image_path("community-logos/#{info[:retina].retina_img}") %> 2x" alt="<%= info[:name] %>">

                <% else %>
                <%= inline_svg("community-logos/#{info[:image]}", class: "isvg") %>
              <% end %>
            </a>
          </div>

        <% end %>
      </div>
    </div>
  </div>

  <div class="content-block border-bottom border-secondary">
    <div class="container container-md mb-8 text-center">
      <%= inline_svg("icons/sponsor.svg", class: "isvg") %>
      <h4 class="title mt-3">Supporters</h4>
      <p>
        They are instrumental in pushing new features and maintaining Solidus
        with their pledge on Open Collective from <b>$100</b> to <b>$500</b>
        a month.
      </p>
    </div>
    <div class="community-logos">
      <div class="row align-items-center justify-content-center">

        <% data.community_members[:supporters].each do |member, info| %>

          <div class="col-6 col-sm-4 col-lg-auto">
            <a class="item" href="<%= info[:url] %>" target="_blank">

              <% if info[:retina] %>
                <img class="img-fluid rounded-circle" src="<%= image_path("community-logos/#{info[:retina].default_img}") %>" srcset="<%= image_path("community-logos/#{info[:retina].default_img}") %>, <%= image_path("community-logos/#{info[:retina].retina_img}") %> 2x" alt="<%= info[:name] %>">

                <% else %>
                <%= inline_svg("community-logos/#{info[:image]}", class: "isvg") %>
              <% end %>
            </a>
          </div>

        <% end %>
      </div>
    </div>
  </div>

  <div class="content-block border-bottom border-secondary">
    <div class="container container-md mb-8 text-center">
      <%= inline_svg("icons/backer.svg", class: "isvg") %>
      <h4 class="title mt-3">Enthusiasts</h4>
      <p>
        They care about and contribute to the development of Solidus by
        pledging on Open Collective from <b>$10</b> to <b>$50</b> a month.
      </p>
    </div>
    <div class="community-logos">
      <div class="row align-items-center justify-content-center">

        <% data.community_members[:enthusiasts].each do |member, info| %>

          <div class="col-3 col-sm-2 col-lg-auto">
            <a class="item" href="<%= info[:url] %>" target="_blank">

              <% if info[:retina] %>
                <img class="img-fluid rounded-circle" src="<%= image_path("community-logos/#{info[:retina].default_img}") %>" srcset="<%= image_path("community-logos/#{info[:retina].default_img}") %>, <%= image_path("community-logos/#{info[:retina].retina_img}") %> 2x" alt="<%= info[:name] %>">

                <% else %>
                <%= inline_svg("community-logos/#{info[:image]}", class: "isvg") %>
              <% end %>
            </a>
          </div>

        <% end %>
      </div>
    </div>
  </div>

</div>
