<div class="partners-main-block content-block content-block-gray-100" id="partners-list">
  <div class="container container-md">
    <div class="d-flex justify-content-center mb-3">
      <%= inline_svg("icons/partners-main.svg", class: "isvg align-self-start mr-3") %>
      <h3 class="title mb-0 align-self-center">Main Contributor & Director</h3>
    </div>
    <p class="mb-5 mb-md-8 text-center">
      As well as being the main code contributor, Nebulab takes care of coordinating community efforts and makes sure everything runs smoothly.
    </p>
  </div>
  
  <div class="container">
    <div class="partner-block">
      <% data.partners[:main_contributors].each do |partner, info| %>
        <div class="row">
          <div class="col-md">
            <div class="logo">
              <img class="img-fluid" src="<%= image_path("partners/#{info[:image]}")%>" alt="<%= info[:name] %>">
            </div>
            <h4 class="title"><%= info[:name] %></h4>
            <p class="text-gray-048"><%= info[:short_description] %></p>
            <p class="mb-4 mb-md-0">
              <%= info[:description] %>
            </p>
          </div>
          <div class="main-partner justify-content-center col-md">
            <div class="align-self-center">
              <h6 class="mb-3">Expertise</h6>
              <% if info[:skills] %>
                <ul class="list-underlined">
                  <% info[:skills].each do |skill| %>
                    <li>
                      <%= skill %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
              
              <a class="btn btn-primary" href="<%= info[:url] %>" target="_blank">Contact</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    
    <div class="partner-block">
      <div class="media">
        <%= inline_svg("icons/partners-gold.svg", class: "isvg align-self-start mr-3") %>
        <div class="media-body">
          <h3 class="title">Gold</h3>
          <p class="mb-5 mb-md-8 text-gray-048">
            These partners donate $750+ per month and contribute actively to the development of Solidus.
          </p>
        </div>
      </div>
      
      <div class="card-deck">
        <% data.partners[:gold_partners].each do |partner, info| %>
        
          <div class="card card-border-none gold-partner">
            <div class="card-body">
              <div class="d-md-flex column-wrapper">
                <div class="logo">
                  <img class="img-fluid" src="<%= image_path("partners/#{info[:image]}")%>" alt="<%= info[:name] %>">
                </div>
                
                <div class="data">
                  <h4 class="title"><%= info[:name] %></h4>
                  <p class="text-gray-048"><%= info[:short_description] %></p>
                  <p class="lead">
                    <%= info[:description] %>
                  </p>
                </div>
              </div>
            </div>
            <div class="card-footer text-right">
              <a class="link" href="<%= info[:url] %>" target="_blank">Contact</a>
            </div>
          </div>
        
        <% end %>

      </div>
    </div>
    
    <div class="partner-block">
      <div class="media">
        <%= inline_svg("icons/partners-silver.svg", class: "isvg align-self-start mr-3") %>
        <div class="media-body">
          <h3 class="title">Silver</h3>
          <p class="mb-5 mb-md-8 text-gray-048">
            These partners donate $100 - $500 per month and contribute actively to the development of Solidus.
          </p>
        </div>
      </div>
      <div class="card-deck">
        <% data.partners[:silver_partners].each do |partner, info| %>
          <div class="card card-border-none silver-partner">
            <div class="card-body">
              <div class="logo text-center">
                <% if info[:retina] %>
                  <img class="img-fluid" src="<%= image_path("partners/#{info[:retina].default_img}") %>" srcset="<%= image_path("partners/#{info[:retina].default_img}") %>, <%= image_path("partners/#{info[:retina].retina_img}") %> 2x" alt="<%= info[:name] %>">
                  
                  <% else %>
                  <img class="img-fluid" src="<%= image_path("partners/#{info[:image]}")%>" alt="<%= info[:name] %>">
                <% end %>
              </div>
              <h4 class="title"><%= info[:name] %></h4>
              <p class="text-gray-048"><%= info[:short_description] %></p>
              <p>
                <%= info[:description] %>
              </p>
            </div>
            <div class="card-footer text-right">
              <a class="link" href="<%= info[:url] %>" target="_blank">Contact</a>
            </div>
          </div>
        <% end %>
        <div class="w-100"></div>

      </div>
    </div>

    <div class="partner-block">
      <div class="media">
        <%= inline_svg("icons/partners-bronze.svg", class: "isvg align-self-start mr-3") %>
        <div class="media-body">
          <h3 class="title">Bronze</h3>
          <p class="mb-5 mb-md-8 text-gray-048">
            These partners donate $10 - $50 per month and contribute actively to the development of Solidus.
          </p>
        </div>
      </div>
      <div class="card-deck">
        <% data.partners[:bronze_partners].each do |partner, info| %>
          <div class="card card-border-none bronze-partner">
            <div class="card-body">
              <div class="logo text-center">
                <% if info[:retina] %>
                  <img class="img-fluid" src="<%= image_path("partners/#{info[:retina].default_img}") %>" srcset="<%= image_path("partners/#{info[:retina].default_img}") %>, <%= image_path("partners/#{info[:retina].retina_img}") %> 2x" alt="<%= info[:name] %>">
                  
                  <% else %>
                  <img class="img-fluid" src="<%= image_path("partners/#{info[:image]}")%>" alt="<%= info[:name] %>">
                <% end %>
              </div>
              <h4 class="title"><%= info[:name] %></h4>
              <p class="text-gray-048"><%= info[:short_description] %></p>
              <p>
                <%= info[:description] %>
              </p>
            </div>
            <div class="card-footer text-right">
              <a class="link" href="<%= info[:url] %>" target="_blank">Contact</a>
            </div>
          </div>
        <% end %>
        <div class="w-100"></div>

      </div>
    </div>
    
  </div>
</div>
