<div class="partners-main-block content-block content-block-gray-100" id="partners-list" data-aos="fade">
  <div class="container container-md">
    <div class="d-flex justify-content-center mb-3">
      <%= inline_svg("icons/partners-main.svg", class: "isvg align-self-start mr-3") %>
      <h3 class="title mb-0 align-self-center">Main Contributor & Director</h3>
    </div>
    <p class="mb-5 mb-md-8 text-center">
      As well as being the main code contributor, Nebulab takes care of coordinating community efforts and makes sure everything runs smoothly.
    </p>
  </div>
  
  <div class="container">
    <div class="partner-block">
      <div class="row">
        <div class="col-md">
          <div class="logo">
            <img class="img-fluid" src="<%= image_path('partners/nebulab-logo.svg') %>" alt="Nebulab">
          </div>
          <h4 class="title">Nebulab</h4>
          <p class="text-gray-048">Back-End, Front-End, UX Design</p>
          <p class="mb-4 mb-md-0">
            Nebulab is a digital consulting company specialized in designing, developing, and maintaining high-quality eCommerce websites built with Solidus and Ruby on Rails applications. They mix passion and technology to give their clients the best the web has to offer to succeed!
          </p>
        </div>
        <div class="main-partner justify-content-center col-md">
          <div class="align-self-center">
            <h6 class="mb-3">Expertise</h6>
            <ul class="list-underlined">
              <li>
                Solidus eCommerce Development
              </li>
              <li>
                UX/UI Design
              </li>
              <li>
                QA & Workflow design
              </li>
            </ul>
            <a class="btn btn-primary" href="https://nebulab.it" target="_blank">Contact</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="partner-block">
      <div class="media">
        <%= inline_svg("icons/partners-gold.svg", class: "isvg align-self-start mr-3") %>
        <div class="media-body">
          <h3 class="title">Gold</h3>
          <p class="mb-5 mb-md-8 text-gray-048">
            These partners donate $750+ per month and contribute actively to the development of Solidus.
          </p>
        </div>
      </div>
      <div class="card-deck">
        <div class="card card-border-none col-lg-6 gold-partner">
          <div class="card-body">
            <div class="d-md-flex column-wrapper">
              <div class="logo">
                <img class="img-fluid" src="<%= image_path('partners/supergood-logo.svg') %>" alt="Super Good">
              </div>
              <div class="data">
                <h4 class="title">Super Good</h4>
                <p class="text-gray-048">Spree and Solidus Specialists</p>
                <p class="lead">
                  Super Good is a software development agency specializing in ecommerce, Solidus, Ruby on Rails, and React.
                </p>
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="https://supergood.software/" target="_blank">Contact</a>
          </div>
        </div>

      </div>
    </div>
    
    <div class="partner-block">
      <div class="media">
        <%= inline_svg("icons/partners-silver.svg", class: "isvg align-self-start mr-3") %>
        <div class="media-body">
          <h3 class="title">Silver</h3>
          <p class="mb-5 mb-md-8 text-gray-048">
            These partners donate $100 - $500 per month and contribute actively to the development of Solidus.
          </p>
        </div>
      </div>
      <div class="card-deck">
        <div class="card card-border-none col-lg-4 silver-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid" src="<%= image_path('partners/pbc-logo.svg') %>" alt="Peter Berkenbosch Consultancy (PBC)">
            </div>
            <h4 class="title">Peter Berkenbosch Consultancy (PBC)</h4>
            <p class="text-gray-048">e-commerce consultancy</p>
            <p>
              Peter Berkenbosch Consultancy (PBC) specialist in e-commerce consultancy, backend and integration development and CXOps.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="https://peterberkenbosch.nl" target="_blank">Contact</a>
          </div>
        </div>
        <div class="card card-border-none col-lg-4 silver-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid" src="<%= image_path('partners/boomerdigital-logo.png') %>" srcset="<%= image_path('partners/boomerdigital-logo.png') %>, <%= image_path('partners/boomerdigital-logo@2x.png') %> 2x" alt="Boomer Digital">
            </div>
            <h4 class="title">Boomer Digital</h4>
            <p class="text-gray-048">e-commerce, Mobile applications, DevOps, Software development</p>
            <p>
              Boomer Digital is proud to be a Solidus.io partner. We love working with Solidus because of its flexibility!
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="https://boomerdigital.net" target="_blank">Contact</a>
          </div>
        </div>
        <div class="w-100"></div>

      </div>
    </div>
    
    <div class="partner-block">
      <div class="media">
        <%= inline_svg("icons/partners-bronze.svg", class: "isvg align-self-start mr-3") %>
        <div class="media-body">
          <h3 class="title">Bronze</h3>
          <p class="mb-5 mb-md-8 text-gray-048">
            These partners donate $10 - $50 per month and contribute actively to the development of Solidus.
          </p>
        </div>
      </div>
      
    </div>
    
  </div>
</div>
