<div class="partners-main-block content-block content-block-gray-100" id="partners-list" data-aos="fade">
  <div class="container container-md">
    <div class="d-flex justify-content-center mb-3">
      <%= inline_svg("icons/partners-main.svg", class: "isvg align-self-start mr-3") %>
      <h3 class="title mb-0 align-self-center">Main Contributor & Director</h3>
    </div>
    <p class="mb-5 mb-md-8 text-center">
      As well as being the main code contributor, Nebulab takes care of coordinating community efforts and makes sure everything runs smoothly.
    </p>
  </div>
  
  <div class="container">
    <div class="partner-block">
      <div class="row">
        <div class="col-md">
          <div class="logo">
            <img class="img-fluid" src="<%= image_path('partners/nebulab-logo.svg') %>" alt="Nebulab">
          </div>
          <h4 class="title">Nebulab</h4>
          <p class="text-gray-048">Back-End, Front-End, UX Design</p>
          <p class="mb-4 mb-md-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
          </p>
        </div>
        <div class="main-partner justify-content-center col-md">
          <div class="align-self-center">
            <h6 class="mb-3">Expertise</h6>
            <ul class="list-underlined">
              <li>
                Lorem ipsum dolor sit amet
              </li>
              <li>
                Duis aute irure dolor in reprehenderit
              </li>
              <li>
                Tempor incididunt ut labore et dolore magna
              </li>
            </ul>
            <a class="btn btn-primary" href="https://nebulab.it" target="_blank">Contact</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="partner-block">
      <div class="media">
        <%= inline_svg("icons/partners-gold.svg", class: "isvg align-self-start mr-3") %>
        <div class="media-body">
          <h3 class="title">Gold</h3>
          <p class="mb-5 mb-md-8 text-gray-048">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
          </p>
        </div>
      </div>
      <div class="card-deck">
        <div class="card card-border-none">
          <div class="card-body">
            <div class="d-md-flex column-wrapper">
              <div class="logo">
                <img class="img-fluid" src="<%= image_path('partners/sample-logo.svg') %>" alt="Sample Logo">
              </div>
              <div class="data">
                <h4 class="title">Super Good</h4>
                <p class="text-gray-048">Back-End</p>
                <p class="lead">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis. Sed volutpat convallis.
                </p>
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>

        <div class="card card-border-none">
          <div class="card-body">
            <div class="d-md-flex column-wrapper">
              <div class="logo">
                <img class="img-fluid" src="<%= image_path('partners/sample-logo.svg') %>" alt="Sample Logo">
              </div>
              <div class="data">
                <h4 class="title">Super Good</h4>
                <p class="text-gray-048">Back-End</p>
                <p class="lead">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis. Sed volutpat convallis.
                </p>
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>

      </div>
    </div>
    
    <div class="partner-block">
      <div class="media">
        <%= inline_svg("icons/partners-silver.svg", class: "isvg align-self-start mr-3") %>
        <div class="media-body">
          <h3 class="title">Silver</h3>
          <p class="mb-5 mb-md-8 text-gray-048">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
          </p>
        </div>
      </div>
      <div class="card-deck">
        <div class="card card-border-none silver-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid" src="<%= image_path('partners/sample-logo.svg') %>" alt="Sample Logo">
            </div>
            <h4 class="title">Boomer Digital</h4>
            <p class="text-gray-048">Back-End</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis. Sed volutpat convallis.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
        
        <div class="card card-border-none silver-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid" src="<%= image_path('partners/sample-logo.svg') %>" alt="Sample Logo">
            </div>
            <h4 class="title">Boomer Digital</h4>
            <p class="text-gray-048">Back-End</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis. Sed volutpat convallis.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
        
        <div class="card card-border-none silver-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid" src="<%= image_path('partners/sample-logo.svg') %>" alt="Sample Logo">
            </div>
            <h4 class="title">Boomer Digital</h4>
            <p class="text-gray-048">Back-End</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis. Sed volutpat convallis.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
        
        <div class="w-100"></div>

      </div>
    </div>
    
    <div class="partner-block">
      <div class="media">
        <%= inline_svg("icons/partners-bronze.svg", class: "isvg align-self-start mr-3") %>
        <div class="media-body">
          <h3 class="title">Bronze</h3>
          <p class="mb-5 mb-md-8 text-gray-048">
            Nulla convallis egestas rhoncus. Integer viverra maximus efficitur.
          </p>
        </div>
      </div>
      
      <div class="card-deck">
        <div class="card card-border-none bronze-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid rounded-circle" src="<%= image_path('partners/sample-avatar.png') %>" srcset="<%= image_path('partners/sample-avatar.png') %>, <%= image_path('partners/sample-avatar@2x.png') %> 2x" alt="Raelene Verona">
            </div>
            <h4 class="title">Ranele Verona</h4>
            <p class="text-gray-048">Developer</p>
            <p>
              Lorem ipsum dolor sit amet.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
        
        <div class="card card-border-none bronze-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid rounded-circle" src="<%= image_path('partners/sample-avatar.png') %>" srcset="<%= image_path('partners/sample-avatar.png') %>, <%= image_path('partners/sample-avatar@2x.png') %> 2x" alt="Raelene Verona">
            </div>
            <h4 class="title">Ranele Verona</h4>
            <p class="text-gray-048">Developer</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
        
        <div class="card card-border-none bronze-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid rounded-circle" src="<%= image_path('partners/sample-avatar.png') %>" srcset="<%= image_path('partners/sample-avatar.png') %>, <%= image_path('partners/sample-avatar@2x.png') %> 2x" alt="Raelene Verona">
            </div>
            <h4 class="title">Ranele Verona</h4>
            <p class="text-gray-048">Developer</p>
            <p>
              Sed volutpat convallis.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
        
        <div class="w-100"></div>
        
        <div class="card card-border-none bronze-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid rounded-circle" src="<%= image_path('partners/sample-avatar.png') %>" srcset="<%= image_path('partners/sample-avatar.png') %>, <%= image_path('partners/sample-avatar@2x.png') %> 2x" alt="Raelene Verona">
            </div>
            <h4 class="title">Ranele Verona</h4>
            <p class="text-gray-048">Developer</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis. Sed volutpat convallis.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
        
        <div class="card card-border-none bronze-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid rounded-circle" src="<%= image_path('partners/sample-avatar.png') %>" srcset="<%= image_path('partners/sample-avatar.png') %>, <%= image_path('partners/sample-avatar@2x.png') %> 2x" alt="Raelene Verona">
            </div>
            <h4 class="title">Ranele Verona</h4>
            <p class="text-gray-048">Developer</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis. Sed volutpat convallis.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
        
        <div class="card card-border-none bronze-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid rounded-circle" src="<%= image_path('partners/sample-avatar.png') %>" srcset="<%= image_path('partners/sample-avatar.png') %>, <%= image_path('partners/sample-avatar@2x.png') %> 2x" alt="Raelene Verona">
            </div>
            <h4 class="title">Ranele Verona</h4>
            <p class="text-gray-048">Developer</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis. Sed volutpat convallis.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
