<div class="carousel">
  <div class="carousel-list">
    <% data.testimonials[:testimonials].each do |testimonial, info| %>
      <div class="carousel-list-item">
        <div class="wrapper">
          <div class="carousel-content">
            <div class="main-image-container <%= info[:custom_css] %>">
              <img data-lazy="<%= image_path("testimonials/#{info[:main_img].default_img}") %>" srcset="<%= image_path("testimonials/#{info[:main_img].retina_img}") %> 2x, <%= image_path("testimonials/#{info[:main_img].default_img}") %> 1x" class="img-fluid" />
            </div>
            <div class="blockquote-container">
              <blockquote class="<%= info[:custom_css] %> blockquote d-flex flex-column justify-content-between align-items-stretch">
                <a class="logo" href="<%= info[:url] %>" target="_blank"><%= inline_svg("community-logos/#{info[:logo]}", class: "isvg") %></a>
                <div>
                  <%= inline_svg("icons/quote.svg", class: "quote") %>
                  <p class="pl-4">
                    <%= info[:quote] %>
                  </p>
                </div>
                <footer class="blockquote-footer pt-3">
                  <cite>
                    <img data-lazy="<%= image_path("quotes/#{info[:author_img].default_img}") %>" srcset="<%= image_path("quotes/#{info[:author_img].retina_img}") %> 2x, <%= image_path("quotes/#{info[:author_img].default_img}") %> 1x" class="img-circled" alt="<%= info[:author_name] %>" />
                    <span class="text">
                      <span class="author"><%= info[:author_name] %></span>
                      <%= info[:author_role] %>
                    </span>
                  </cite>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
