---
title: Use Cases | Global Commerce
description: Establishing an international presence can be a challenge. Solidus allows you to sell to the world without diluting your brand.
preview_image: use-cases/social/global-commerce_preview.jpg
---

<div class="use-cases-hero hero-block content-block--skewed content-block-white pb-0">
  <div class="content-wrapper">
    <div class="content-block pt-0">
      <nav class="subnav">
        <div class="subnav-wrapper container">
          <small>Use Cases</small>
          <ul>
            <li class="subnav__item">
              <a class="subnav__item__link" href="/use-cases/online-store">Online Store</a>
            </li>
            <li class="subnav__item">
              <a class="subnav__item__link" href="/use-cases/headless-commerce">Headless Commerce</a>
            </li>
            <li class="subnav__item">
              <a class="subnav__item__link" href="/use-cases/marketplace">Marketplace</a>
            </li>
            <li class="subnav__item selected">
              <a class="subnav__item__link" href="/use-cases/global-commerce">Global Commerce</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg">
          <div class="pr-lg-6 mb-3">
            <h5>Global Commerce</h5>
            <h1 class="title">Go global. Accept no compromise.</h1>
            <p class="mb-6">
              Establishing an international presence can be a challenge. Solidus allows you to sell to the world without diluting your brand.
            </p>
            <a class="btn btn-primary btn-lg" href="/get-started">Get started</a>
            <a class="btn btn-secondary btn-white" href="<%= data.urls.demo %>" target="_blank">Demo</a>
          </div>
        </div>
        <div class="col-lg">
          <div class="hero-image-wrapper">
            <img data-srcset="<%= image_path('use-cases/global-commerce_hero@2x.png') %> 2x, <%= image_path('use-cases/global-commerce_hero@1x.png') %> 1x" class="img-fluid" alt="Global Commerce" >
            <%= inline_svg("use-cases/hero-bg.svg", class: "hero-background") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="intro content-block--skewed content-block-gray-100 pb-0">
  <div class="content-wrapper">
    <div class="content-block pt-0">
      <div class="container">
        <p class="lead text-gray-600 text-center font-weight-light mb-4">
          Join the brands that are using Solidus to power their global commerce infrastructure.
        </p>

        <%= partial "use-cases/logos", locals: { use_case: 'global_commerce' } %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="use-cases__image col-md">
          <img src="<%= image_path('use-cases/global-commerce_01_placeholder@2x.png') %>" data-src="<%= image_path('use-cases/global-commerce_01.svg') %>" class="img-fluid pr-md-2" alt="Integrations" width="100%" />
        </div>
        <div class="col-md">
          <div class="use-cases__header">
            <h5>Integrations</h5>
            <h2>Automate the pain out of international sales.</h2>
          </div>
          <p>
            With the right partners, unlocking new markets can become a matter of clicking a button. Solidus allows you to easily integrate with your service providers of choice, so that you don’t have to spend your day figuring out laws and regulations. Let the platform handle all the nitty gritty while you focus on servicing your new customers.
          </p>
        </div>
      </div>
    </div>

    <div class="content-block">
      <div class="container">
        <div class="row">
          <div class="use-cases__image col-md order-md-2">
            <img src="<%= image_path("use-cases/global-commerce_02@1x.png") %>" data-srcset="<%= image_path("use-cases/global-commerce_02@2x.png") %> 2x, <%= image_path("use-cases/global-commerce_02@1x.png") %> 1x" class="img-fluid" width="100%" alt="Global commerce" />
          </div>
          <div class="col-md">
            <div class="use-cases__header">
              <h5>Global commerce</h5>
              <h2>Get as local as needed, but not more.</h2>
            </div>
            <p>
              It’s easy to choose the level of personalization that is just right for your brand. Solidus supports multiple languages and currencies, as well as per-country shipping methods, payment gateways and tax requirements. Get crazy and offer a local experience everywhere, or centralize your business to streamline your workflows and simplify operations.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="use-cases testimonials">
  <div class="container text-center">
    <div class="carousel-content">
      <div class="main-image-container">
        <img src="<%= image_path("use-cases/quote-wonderbly@1x.jpg") %>" data-srcset="<%= image_path("use-cases/quote-wonderbly@2x.jpg") %> 2x, <%= image_path("use-cases/quote-wonderbly@1x.jpg") %> 1x" class="img-fluid" width="100%" alt="Wonderbly" />
      </div>
      <div class="blockquote-container">
        <blockquote class="blockquote wonderbly d-flex flex-column justify-content-between">
          <a class="logo" href="https://www.wonderbly.com/" target="_blank">
            <%= inline_svg("community-logos/wonderbly.svg", class: "isvg") %>
          </a>
          <div>
            <%= inline_svg("icons/quote.svg", class: "quote") %>
            <p class="pl-4">
              We sell millions of personalized books all over the world. We accept all main currencies and print every order as close to the customer as possible. Solidus allows us to manage this complexity while giving us the power to customize where needed.
            </p>
          </div>
          <footer class="blockquote-footer pt-3">
            <cite>
              <img src="<%= image_path("quotes/robert-watts.png") %>" data-srcset="<%= image_path("quotes/robert-watts@2x.png") %> 2x, <%= image_path("quotes/robert-watts.png") %> 1x" class="img-circled" width="48" height="48" alt="Robert Watts" />
              <span class="text">
                <span class="author">Robert Watts</span>
                  VP of Engineering at Wonderbly
                </span>
              </cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="content-block">
  <div class="container">
    <div class="row">
      <div class="use-cases__image col-md">
        <img src="<%= image_path('use-cases/global-commerce_03_placeholder@2x.png') %>" data-src="<%= image_path('use-cases/global-commerce_03.svg') %>" class="img-fluid pr-md-2" alt="Built-in compliance" width="100%" />
      </div>
      <div class="col-md">
        <div class="use-cases__header">
          <h5>Built-in compliance</h5>
          <h2>A platform that is compliant by design.</h2>
        </div>
        <p>
          Compliance is one of the biggest challenges for brands that want to go international. Solidus simplifies compliance implementations by providing a flexible architecture for meeting data and privacy regulations. Furthermore, because customer data is 100% owned by you, there are no third-party vendors to deal with.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="content-block pt-0 pb-0">
  <div class="container">
    <div class="row">
      <div class="use-cases__image order-md-2 col-md">
        <img src="<%= image_path('use-cases/global-commerce_04_placeholder@2x.png') %>" data-src="<%= image_path('use-cases/global-commerce_04.svg') %>" class="img-fluid pl-md-3" alt="Flexible logistics" width="100%" />
      </div>
      <div class="col-md">
        <div class="use-cases__header">
          <h5>Flexible logistics</h5>
          <h2>Global logistics for global brands.</h2>
        </div>
        <p>
          Shipping internationally doesn’t have to be a pain. Solidus provides a fully customizable logistics architecture that allows you to use one or multiple warehouses. You can automatically prioritize shipping from the location closest to your customer, minimize the number of shipments per order, or anything else your brand needs.
        </p>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/cta_bottom" %>
