---
title: Use Cases | Headless Commerce
description: Use Solidus to power your store and leverage modern technologies to reach your customers in all places, on all devices.
preview_image: use-cases/social/headless-commerce_preview.jpg
---

<div class="use-cases-hero hero-block content-block--skewed content-block-white pb-0">
  <div class="content-wrapper">
    <div class="content-block pt-0">
      <nav class="subnav">
        <div class="subnav-wrapper container">
          <small>Use Cases</small>
          <ul>
            <li class="subnav__item">
              <a class="subnav__item__link" href="/use-cases/online-store">Online Store</a>
            </li>
            <li class="subnav__item selected">
              <a class="subnav__item__link" href="/use-cases/headless-commerce">Headless Commerce</a>
            </li>
            <li class="subnav__item">
              <a class="subnav__item__link" href="/use-cases/marketplace">Marketplace</a>
            </li>
            <li class="subnav__item">
              <a class="subnav__item__link" href="/use-cases/global-commerce">Global Commerce</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg">
          <div class="pr-lg-6 mb-3">
            <h5>Headless Commerce</h5>
            <h1 class="title"><span class="d-block">The best technologies.</span>The greatest experience.</h1>
            <p class="mb-6">
              Use Solidus to power your store and leverage modern technologies to reach your customers in all places, on all devices.
            </p>
            <a class="btn btn-primary btn-lg" href="/get-started">Get started</a>
            <a class="btn btn-secondary btn-white" href="<%= data.urls.demo %>" target="_blank">Demo</a>
          </div>
        </div>
        <div class="col-lg">
          <div class="hero-image-wrapper">
            <img data-srcset="<%= image_path('use-cases/headless-commerce_hero@2x.png') %> 2x, <%= image_path('use-cases/headless-commerce_hero@1x.png') %> 1x" class="img-fluid" alt="Headless Commerce" >
            <%= inline_svg("use-cases/hero-bg.svg", class: "hero-background") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="intro content-block--skewed content-block-gray-100 pb-0">
  <div class="content-wrapper">
    <div class="content-block pt-0">
      <div class="container">
        <p class="lead text-gray-600 text-center font-weight-light mb-4">
          Join the brands that are using Solidus to power their headless commerce infrastructure.
        </p>

        <%= partial "use-cases/logos", locals: { use_case: 'headless_commerce' } %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="use-cases__image col-md">
          <img src="<%= image_path("use-cases/headless-commerce_01@1x.png") %>" data-srcset="<%= image_path("use-cases/headless-commerce_01@2x.png") %> 2x, <%= image_path("use-cases/headless-commerce_01@1x.png") %> 1x" class="img-fluid" width="100%" alt="REST API" />
        </div>
        <div class="col-md">
          <div class="use-cases__header">
            <h5>REST API</h5>
            <h2>Use one platform to reach all devices.</h2>
          </div>
          <p>
            It’s not about computers anymore, and it’s not about mobile either: today’s customers are always on the move and can interact with your brand in tens of different ways. Thanks to a standardized API, you can now reach them online and offline - on laptops, phones, TVs, wearables and wherever they are -  while still getting all the benefits of a unified eCommerce platform.
          </p>
        </div>
      </div>
    </div>

    <div class="content-block">
      <div class="container">
        <div class="row">
          <div class="use-cases__image col-md order-md-2">
            <img src="<%= image_path("use-cases/headless-commerce_03@1x.png") %>" data-srcset="<%= image_path("use-cases/headless-commerce_03@2x.png") %> 2x, <%= image_path("use-cases/headless-commerce_03@1x.png") %> 1x" class="img-fluid" width="100%" alt="Security" />
          </div>
          <div class="col-md">
            <div class="use-cases__header">
              <h5>Security</h5>
              <h2>End-to-end security for all interactions.</h2>
            </div>
            <p>
              As you create more ways for users to interact with your brand, it becomes more difficult to ensure the security of all transactions, and a single mistake could cost you money and your customers’ trust. The Solidus API employs industry best practices that make it secure by default, and is built on technology trusted by eCommerce giants.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="use-cases testimonials">
  <div class="container text-center">
    <div class="carousel-content">
      <div class="main-image-container">
        <img src="<%= image_path("use-cases/quote-meundies@1x.jpg") %>" data-srcset="<%= image_path("use-cases/quote-meundies@2x.jpg") %> 2x, <%= image_path("use-cases/quote-meundies@1x.jpg") %> 1x" class="img-fluid" width="100%" alt="MeUndies" />
      </div>
      <div class="blockquote-container">
        <blockquote class="blockquote meundies d-flex flex-column justify-content-between">
          <a class="logo" href="https://www.meundies.com/" target="_blank"><%= inline_svg("community-logos/meundies.svg", class: "isvg") %></a>
          <div>
            <%= inline_svg("icons/quote.svg", class: "quote") %>
            <p class="pl-4">
              Solidus has evolved with our business over the years, and continues to do so as we begin a comprehensive rearchitecture of our eCommerce platform.
            </p>
          </div>
          <footer class="blockquote-footer pt-3">
            <cite>
              <img src="<%= image_path("quotes/robert-zablit.png") %>" data-srcset="<%= image_path("quotes/robert-zablit@2x.png") %> 2x, <%= image_path("quotes/robert-zablit.png") %> 1x" class="img-circled" width="48" height="48" alt="Braden Douglass" />
              <span class="text">
                <span class="author">Robert Zablit</span>
                  Senior Developer at MeUndies
                </span>
              </cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="content-block">
  <div class="container">
    <div class="row">
      <div class="use-cases__image col-md">
        <img src="<%= image_path("use-cases/headless-commerce_04@1x.png") %>" data-srcset="<%= image_path("use-cases/headless-commerce_04@2x.png") %> 2x, <%= image_path("use-cases/headless-commerce_04@1x.png") %> 1x" class="img-fluid pr-md-2" width="100%" alt="Faster time to market" />
      </div>
      <div class="col-md">
        <div class="use-cases__header">
          <h5>Faster time to market</h5>
          <h2>Follow market trends at the speed of light.</h2>
        </div>
        <p>
          Use a headless architecture to follow market trends and respond to customer requirements in the blink of an eye. SPAs, PWAs and whatever’s next — it all becomes a no-brainer when you have the right tools at your disposal. Solidus’ headless commerce capabilities enable your brand to capitalize on each and every opportunity as quickly as it’s presented to you.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="content-block pt-0 pb-0">
  <div class="container">
    <div class="row">
      <div class="use-cases__image order-md-2 col-md">
        <img src="<%= image_path("use-cases/headless-commerce_05@1x.png") %>" data-srcset="<%= image_path("use-cases/headless-commerce_05@2x.png") %> 2x, <%= image_path("use-cases/headless-commerce_05@1x.png") %> 1x" class="img-fluid pl-md-2" width="100%" alt="Scalability" />
      </div>
      <div class="col-md">
        <div class="use-cases__header">
          <h5>Scalability</h5>
          <h2>Embrace technology that scales with you.</h2>
        </div>
        <p>
          Traditional platforms force you to scale your store as one monolith. By decoupling your eCommerce engine from your storefronts, you can scale all sides of your business independently as demand changes across different channels. Create new opportunities for your brand, face growth challenges and keep operational costs under control.
        </p>
        <a href="/roadmap" class="btn-link">Solidus moving forward along with your business</a>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/cta_bottom" %>
