---
title: Use Cases | Marketplace
description: Your vendors define your brand. With Solidus, you can create an onboarding and management experience they won’t forget.
preview_image: use-cases/social/marketplace_preview.jpg
---

<div class="use-cases-hero hero-block content-block--skewed content-block-white pb-0">
  <div class="content-wrapper">
    <div class="content-block pt-0">
      <nav class="subnav">
        <div class="subnav-wrapper container">
          <small>Use Cases</small>
          <ul>
            <li class="subnav__item">
              <a class="subnav__item__link" href="/use-cases/online-store">Online Store</a>
            </li>
            <li class="subnav__item">
              <a class="subnav__item__link" href="/use-cases/headless-commerce">Headless Commerce</a>
            </li>
            <li class="subnav__item selected">
              <a class="subnav__item__link" href="/use-cases/marketplace">Marketplace</a>
            </li>
            <li class="subnav__item">
              <a class="subnav__item__link" href="/use-cases/global-commerce">Global Commerce</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg">
          <div class="pr-lg-6 mb-3">
            <h5>Marketplace</h5>
            <h1 class="title"><span class="d-block">They make your store cool.</span>Give them a cool store.</h1>
            <p class="mb-6">
              Your vendors define your brand. With Solidus, you can create an onboarding and management experience they won’t forget.
            </p>
            <a class="btn btn-primary btn-lg" href="/get-started">Get started</a>
            <a class="btn btn-secondary btn-white" href="<%= data.urls.demo %>" target="_blank">Demo</a>
          </div>
        </div>
        <div class="col-lg">
          <div class="hero-image-wrapper">
            <img data-srcset="<%= image_path('use-cases/marketplace_hero@2x.png') %> 2x, <%= image_path('use-cases/marketplace_hero@1x.png') %> 1x" class="img-fluid" alt="Marketplace" >
            <%= inline_svg("use-cases/hero-bg.svg", class: "hero-background") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="intro marketplace content-block--skewed content-block-gray-100 pb-0">
  <div class="content-wrapper">
    <div class="content-block pt-0">
      <div class="container">
        <p class="lead text-gray-600 text-center font-weight-light mb-4">
          Join the brands that are using Solidus to power their marketplace.
        </p>

        <%= partial "use-cases/logos", locals: { use_case: 'marketplace' } %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="use-cases__image col-md">
          <img src="<%= image_path('use-cases/marketplace_01_placeholder@2x.png') %>" data-src="<%= image_path('use-cases/marketplace_01.svg') %>" class="img-fluid pr-md-2" alt="Powerful backend" width="100%" />
        </div>
        <div class="col-md">
          <div class="use-cases__header">
            <h5>Powerful backend</h5>
            <h2>A unified backend for everyone’s needs.</h2>
          </div>
          <p>
            The Solidus backend is built on top of a robust, role-based authorization system that allows you to define permissions at the user level. Your vendors will be able to leverage the entire power of the standard backend, while you can always access the big picture and see how your marketplace is performing — all without worrying about security.
          </p>
        </div>
      </div>
    </div>

    <div class="content-block">
      <div class="container">
        <div class="row">
          <div class="use-cases__image col-md order-md-2">
          <img src="<%= image_path('use-cases/marketplace_02_placeholder@2x.png') %>" data-src="<%= image_path('use-cases/marketplace_02.svg') %>" class="img-fluid pl-md-2" alt="Inventory management" width="100%" />
          </div>
          <div class="col-md">
            <div class="use-cases__header">
              <h5>Inventory management</h5>
              <h2>Fully manual, fully automated, or a bit of both.</h2>
            </div>
            <p>
              Benefit from a whole range of options when it comes to inventory management and order fulfillment: you can have your vendors use the default manual processes, or integrate with a 3PL that does everything for them, or use a mix of both approaches. Every marketplace is unique, but Solidus will work for all of them.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-block pt-0">
    <div class="container">
      <div class="row">
        <div class="use-cases__image col-md">
          <img src="<%= image_path("use-cases/marketplace_03@1x.png") %>" data-srcset="<%= image_path("use-cases/marketplace_03@2x.png") %> 2x, <%= image_path("use-cases/marketplace_03@1x.png") %> 1x" class="img-fluid pr-md-3" width="100%" alt="Global commerce" />
        </div>
        <div class="col-md">
          <div class="use-cases__header">
            <h5>Global commerce</h5>
            <h2>Take your vendors to new places.</h2>
          </div>
          <p>
            With Solidus’ global commerce capabilities, create new business opportunities for your vendors. Let your platform do the heavy lifting when it comes to price management, internationalization, compliance and tax collection, so that vendors can focus on selling memorable products to an even broader customer base.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="content-block pt-0">
    <div class="container">
      <div class="row">
        <div class="use-cases__image order-md-2 col-md">
          <img src="<%= image_path("use-cases/marketplace_04@1x.png") %>" data-srcset="<%= image_path("use-cases/marketplace_04@2x.png") %> 2x, <%= image_path("use-cases/marketplace_04@1x.png") %> 1x" class="img-fluid" width="100%" alt="Payments support" />
        </div>
        <div class="col-md">
          <div class="use-cases__header">
            <h5>Payments support</h5>
            <h2>Pay-ins and pay-outs tailored to you.</h2>
          </div>
          <p>
            Our flexible payment architecture allows you to manage payments in all directions however you want: you can use the same gateway for pay-ins and pay-outs, or go with separate gateways to optimize operational costs. You can also implement virtual payment methods such as store credits and gift cards, all while giving your users a consistent experience.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/cta_bottom" %>
