---
title: Use Cases | Online Store
description: Solidus is a limitless eCommerce platform. Create an integrated experience that has your brand's style all over it.
preview_image: use-cases/social/online-stores_preview.jpg
---

<div class="use-cases-hero hero-block content-block--skewed content-block-white pb-0">
  <div class="content-wrapper">
    <div class="content-block pt-0">
      <nav class="subnav">
        <div class="subnav-wrapper container">
          <small>Use Cases</small>
          <ul>
            <li class="subnav__item selected">
              <a class="subnav__item__link" href="/use-cases/online-store">Online Store</a>
            </li>
            <li class="subnav__item">
              <a class="subnav__item__link" href="/use-cases/headless-commerce">Headless Commerce</a>
            </li>
            <li class="subnav__item">
              <a class="subnav__item__link" href="/use-cases/marketplace">Marketplace</a>
            </li>
            <li class="subnav__item">
              <a class="subnav__item__link" href="/use-cases/global-commerce">Global Commerce</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg">
          <div class="pr-lg-6 mb-3">
            <h5>Online Store</h5>
            <h1 class="title">Supercharge <span class="d-block">your store.</span> Amaze your customers.</h1>
            <p class="mb-6">
              Choose a limitless eCommerce platform. Create an integrated experience that has your brand's style all over it.
            </p>
            <a class="btn btn-primary btn-lg" href="/get-started">Get started</a>
            <a class="btn btn-secondary btn-white" href="<%= data.urls.demo %>" target="_blank">Demo</a>
          </div>
        </div>
        <div class="col-lg">
          <div class="hero-image-wrapper">
            <img data-srcset="<%= image_path('use-cases/online-stores_hero@2x.png') %> 2x, <%= image_path('use-cases/online-stores_hero@1x.png') %> 1x" class="img-fluid" alt="Online Store" >
            <%= inline_svg("use-cases/hero-bg.svg", class: "hero-background") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="intro content-block--skewed content-block-gray-100 pb-0">
  <div class="content-wrapper">
    <div class="content-block pt-0">
      <div class="container">
        <p class="lead text-gray-600 text-center font-weight-light mb-4">
          Join the brands that are using Solidus to power their online store.
        </p>

        <%= partial "use-cases/logos", locals: { use_case: 'online_store' } %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="use-cases__image col-md">
          <img src="<%= image_path("use-cases/online-stores_01@1x.png") %>" data-srcset="<%= image_path("use-cases/online-stores_01@2x.png") %> 2x, <%= image_path("use-cases/online-stores_01@1x.png") %> 1x" class="img-fluid" width="100%" alt="Content-first commerce" />
        </div>
        <div class="col-md">
          <div class="use-cases__header">
            <h5>Content-first commerce</h5>
            <h2>Tell your story, win their hearts.</h2>
          </div>
          <p>
            Connecting with your customers is key to building a successful brand, and there's nothing better than storytelling for doing that. Integrate with any headless CMS to create inspirational content. Static pages, blog posts, different media and formats — there’s nothing you can't do. Create a 360-degree experience that turns visitors into lifelong fans.
          </p>
          <a href="/integrations" class="btn-link">See the most used integrations</a>
        </div>
      </div>
    </div>

    <div class="content-block">
      <div class="container">
        <div class="row">
          <div class="use-cases__image col-md order-md-2">
            <img src="<%= image_path("use-cases/online-stores_02@1x.png") %>" data-srcset="<%= image_path("use-cases/online-stores_02@2x.png") %> 2x, <%= image_path("use-cases/online-stores_02@1x.png") %> 1x" class="img-fluid" width="100%" alt="Omnichannel" />
          </div>
          <div class="col-md">
            <div class="use-cases__header">
              <h5>Omnichannel</h5>
              <h2>Use new channels in new ways.</h2>
            </div>
            <p>
              Digital brands don't just sell through their store: social media, brick and mortar, marketplaces, mobile apps… We know you will constantly experiment with new channels, and we want to give you and your customers an amazing experience. Wherever you want to be, Solidus has got your back with powerful logistics, marketing and reporting integrations.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="use-cases testimonials">
  <div class="container text-center">
    <div class="carousel-content">
      <div class="main-image-container">
        <img src="<%= image_path("use-cases/quote-floyd@1x.jpg") %>" data-srcset="<%= image_path("use-cases/quote-floyd@2x.jpg") %> 2x, <%= image_path("use-cases/quote-floyd@1x.jpg") %> 1x" class="img-fluid" width="100%" alt="Floyd" />
      </div>
      <div class="blockquote-container">
        <blockquote class="blockquote floyd d-flex flex-column justify-content-between">
          <a class="logo" href="https://floydhome.com/" target="_blank"><%= inline_svg("community-logos/floyd.svg", class: "isvg") %></a>
          <div>
            <%= inline_svg("icons/quote.svg", class: "quote") %>
            <p class="pl-4">
              I've never had to say 'no' to my product team. I can customize Solidus to do anything they want.
            </p>
          </div>
          <footer class="blockquote-footer pt-3">
            <cite>
              <img src="<%= image_path("quotes/jacky-giang.png") %>" data-srcset="<%= image_path("quotes/jacky-giang@2x.png") %> 2x, <%= image_path("quotes/jacky-giang.png") %> 1x" class="img-circled" width="48" height="48" alt="Jacky Giang" />
              <span class="text">
                <span class="author">Jacky Giang</span>
                  Head of Technology at Floyd
                </span>
              </cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="content-block">
  <div class="container">
    <div class="row">
      <div class="use-cases__image col-md">
        <img src="<%= image_path('use-cases/online-stores_03_placeholder@2x.png') %>" data-src="<%= image_path('use-cases/online-stores_03.svg') %>" class="img-fluid" alt="Custom storefront" width="100%" />
      </div>
      <div class="col-md">
        <div class="use-cases__header">
          <h5>Custom storefront</h5>
          <h2>Make your storefront truly yours.</h2>
        </div>
        <p>
          Forget about themes and templates: your brand doesn't fit the mold. Personalize your entire checkout flow, create upselling and cross-selling opportunities, build complex taxonomies that let users explore your products from different angles, and whatever else you need to build the shopping experience your customers deserve.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="content-block pt-0">
  <div class="container">
    <div class="row">
      <div class="use-cases__image order-md-2 col-md">
        <img src="<%= image_path('use-cases/online-stores_04_placeholder@2x.png') %>" data-src="<%= image_path('use-cases/online-stores_04.svg') %>" class="img-fluid" alt="Reporting" width="100%" />
      </div>
      <div class="col-md">
        <div class="use-cases__header">
          <h5>Reporting</h5>
          <h2>Use data like never before.</h2>
        </div>
        <p>
          There’s no one-size-fits-all when it comes to analytics, but most eCommerce platforms leave you stuck with their default reports. Solidus lets you retain full ownership over your data: build custom reports right in your store’s backend, or connect your store to external reporting and analytics tools for even more advanced use cases. It’s your brand — why shouldn’t it be your data?
        </p>
        <a href="/roadmap" class="btn-link">Discover more</a>
      </div>
    </div>
  </div>
</div>

<div class="use-cases testimonials">
  <div class="container text-center">
    <div class="carousel-content">
      <div class="main-image-container">
        <img src="<%= image_path("use-cases/quote-goby@1x.jpg") %>" data-srcset="<%= image_path("use-cases/quote-goby@2x.jpg") %> 2x, <%= image_path("use-cases/quote-goby@1x.jpg") %> 1x" class="img-fluid" width="100%" alt="Goby" />
      </div>
      <div class="blockquote-container">
        <blockquote class="blockquote goby d-flex flex-column justify-content-between">
          <a class="logo" href="https://goby.co" target="_blank"><%= inline_svg("community-logos/goby.svg", class: "isvg") %></a>
          <div>
            <%= inline_svg("icons/quote.svg", class: "quote") %>
            <p class="pl-4">
              Solidus offers Goby the flexibility we need to meet our ever-growing business demands. The ability to fully customize our site has been a meaningful driver of the continued growth of our business.
            </p>
          </div>
          <footer class="blockquote-footer pt-3">
            <cite>
              <img src="<%= image_path("quotes/ben-goldberg.png") %>" data-srcset="<%= image_path("quotes/ben-goldberg@2x.png") %> 2x, <%= image_path("quotes/ben-goldberg.png") %> 1x" class="img-circled" width="48" height="48" alt="Ben Goldberg" />
              <span class="text">
                <span class="author">Ben Goldberg</span>
                  CEO at Goby
                </span>
              </cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/cta_bottom" %>
