---
pageable: true
per_page: 1
---

<div class="content-block content-block-gray-100 text-center">
  <div class="container">
    <h1 class="title">Solidus <span class="text-gray-048">Blog</span></h1>
  </div>
</div>

<div class="blog-index-block content-block">
  <div class="container">
    <% page_articles.each_with_index do |article, i| %>
      <div class="blog-post-preview card">
        <div class="card-body">
          <h3 class="title"><%= link_to article.title, article, :class => 'text-gray' %></h3>
          <%= article.summary %>

          <div class="blog-post-author text-gray-048"><%= article.data.author %> · <%= article.date.strftime('%b %e, %Y') %></div>
        </div>
      </div>
    <% end %>


    <% if paginate && num_pages > 1%>
      <div class="text-center">
        <div class="btn-group" role="group">
          <a class="btn btn-primary <% unless prev_page %>disabled<% end %>" href="<% if prev_page %><%= url_for prev_page %><% else %>#<% end %>">Previous</a>
          <a class="btn btn-primary <% unless next_page %>disabled<% end %>" href="<% if next_page %><%= url_for next_page %><% else %>#<% end %>">Next</a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="content-block content-block-gray-100 text-center">
  <div class="container container-xs">
    <h4 class="title mb-1">Your feedback is important to us!</h4>
    <p>Join the Solidus user testing mailing list to share your opinions and participate in user testing. </p>

    <form action="" class="needs-validation" novalidate>
      <div class="form-group form-group-submittable">
        <div class="has-float-label">
          <input type="email" class="form-control " name="inputName" id="inputName" placeholder="Email" required>
          <label for="inputName">Email</label>
          <div class="invalid-feedback">Please enter correct email</div>
          <button type="submit" class="btn btn-link"><%= inline_svg("icons/arrow-right.svg", class: "isvg") %></button>
        </div>
      </div>
    </form>
  </div>
</div>
