---
title: Blog
pageable: true
per_page: 10
---

<div class="content-block content-block-gray-100 text-center">
  <div class="container">
    <h1 class="title">Solidus <span class="text-gray-048">Blog</span></h1>
  </div>
</div>

<div class="blog-index-block content-block">
  <div class="container">
    <% page_articles.each_with_index do |article, i| %>
      <a class="blog-post-preview card" href="<%= url_for article %>">
        <% if article.data.cover_image %>
          <img class="card-img-top img-fluid" src="<%= article.data.cover_image %>">
        <% end %>
        <div class="card-body">
          <h3 class="title"><%= article.title %></h3>
          <div class="blog-post-author text-gray-048"><%= article.data.author %> · <%= article.date.strftime('%b %e, %Y') %></div>
        </div>
      </a>
    <% end %>


    <% if paginate && num_pages > 1%>
      <div class="blog-pagination text-center">
        <div class="btn-group" role="group">
          <a class="btn btn-primary <% unless prev_page %>disabled<% end %>" href="<% if prev_page %><%= url_for prev_page %><% else %>#<% end %>">Previous</a>
          <a class="btn btn-primary <% unless next_page %>disabled<% end %>" href="<% if next_page %><%= url_for next_page %><% else %>#<% end %>">Next</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
