---
title: Solidus Blog
pageable: true
per_page: 10
description: What's new in Solidus! Check out the latest news about our technology, events and community.
---

<div class="content-block text-center">
  <div class="container">
    <h1 class="title">Solidus Blog</h1>
    <p>
      Stay up to date on the latest from Solidus.
    </p>
  </div>
</div>

<%# blog.tags.each do |tag, articles| %>
  <%#= link_to "#{tag} (#{articles.size})", tag_path(tag) %>
<%# end %>

<div class="blog-index-block content-block pt-0">
  <div class="container">
    <div class="blog-index-container align-items-center">
      <% page_articles.each_with_index do |article, i| %>
        <div class="blog-post-preview card js-fully-clickable">
          <div class="blog-post-cover">
            <a href="<%= url_for article %>">
              <% if article.data.cover_image %>
                <img class="img-fluid" src="<%= article.data.cover_image %>">
              <% else %>
                <img class="img-fluid" src="<%= image_path('blog-placeholder.jpg') %>">
              <% end %>
            </a>
          </div>
          <div class="blog-post-content">
            <div class="blog-post-author">
              <strong><%= article.data.author %></strong>
              <span class="blog-post-date"><%= article.date.strftime('%b %e, %Y') %></span>
            </div>
            <a href="<%= url_for article %>">
              <h3 class="title"><%= article.title %></h3>
            </a>
            <p>
              <%= article.summary(160) %>
            </p>
          </div>
        </div>
      <% end %>
    </div>

    <% if paginate && num_pages > 1%>
      <div class="blog-pagination text-center">
        <div class="btn-group" role="group">
          <a class="btn btn-primary <% unless prev_page %>disabled<% end %>" href="<% if prev_page %><%= url_for prev_page %><% else %>#<% end %>">Previous</a>
          <a class="btn btn-primary <% unless next_page %>disabled<% end %>" href="<% if next_page %><%= url_for next_page %><% else %>#<% end %>">Next</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
