---
title: Solidus Blog
pageable: true
per_page: 10
description: What's new in Solidus! Check out the latest news about our technology, events and community.
---

<div class="content-block content-block-gray-100 text-center">
  <div class="container">
    <h1 class="title">Solidus <span class="text-gray-048">Blog</span></h1>
    <p>
      Stay up to date on the latest from Solidus.
    </p>
  </div>
</div>

<%# blog.tags.each do |tag, articles| %>
  <%#= link_to "#{tag} (#{articles.size})", tag_path(tag) %>
<%# end %>

<div class="blog-index-block content-block">
  <div class="container">
    <div class="card-deck align-items-center">
      <% page_articles.each_with_index do |article, i| %>
        <a class="blog-post-preview card" href="<%= url_for article %>">
          <% if article.data.cover_image %>
          <div class="blog-post-cover">
            <img class="img-fluid" src="<%= article.data.cover_image %>">
          </div>
          <% end %>
          <div class="blog-post-content">
            <div class="blog-post-author"><%= article.data.author %> · <%= article.date.strftime('%b %e, %Y') %></div>
            <h3 class="title"><%= article.title %></h3>
            <p>
              <%= article.summary(160) %>
            </p>
          </div>
        </a>
      <% end %>
    </div>

    <% if paginate && num_pages > 1%>
      <div class="blog-pagination text-center">
        <div class="btn-group" role="group">
          <a class="btn btn-primary <% unless prev_page %>disabled<% end %>" href="<% if prev_page %><%= url_for prev_page %><% else %>#<% end %>">Previous</a>
          <a class="btn btn-primary <% unless next_page %>disabled<% end %>" href="<% if next_page %><%= url_for next_page %><% else %>#<% end %>">Next</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
