---
title: Community
---

<div class="community-hero content-block content-block-xl position-relative text-center">
  <div class="container container-md">
    <h1 class="title">You’re going to <%= inline_svg("icons/heart-big.svg", class: "isvg heart")%> this.</h1>
    <p class="lead mb-md-6 mb-3">Solidus is an open source ecommerce solution built with Ruby on Rails and maintained by a community of passionate developers.</p>
  </div>

  <div class="community-content">
    <div class="container">
      <div class="d-md-flex justify-content-around">
        <div class="community-data">
          <h2 class="title">14000+</h2>
          <p>
            Core commits since 2015
          </p>
        </div>
        <div class="community-data">
          <h2 class="title">2200+</h2>
          <p>
            Slack channel members
          </p>
        </div>
        <div class="community-data">
          <h2 class="title">40+</h2>
          <p>
            Community-supported extensions
          </p>
        </div>
        <div class="community-data">
          <h2 class="title">670+</h2>
          <p>
            Contributors
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="dev-slider">
    <div class="dev-slider-content">
      <div class="dev-community-circle"></div>
      <div class="dev-slide wrapper-1">
        <div class="dev-circle dev-1"></div>
        <div class="dev-circle dev-2"></div>
      </div>
      <div class="dev-slide wrapper-2">
        <div class="dev-circle dev-1"></div>
        <div class="dev-circle dev-2"></div>
      </div>
      <div class="dev-slide wrapper-3">
        <div class="dev-circle dev-1"></div>
        <div class="dev-circle dev-2"></div>
        <div class="dev-circle dev-3"></div>
      </div>
    </div>
  </div>
</div>

<div class="community-block content-block text-center">
  <div class="container container-md mb-6">
    <h2 class="title text-white">Join the Solidus Community.</h2>
    <p class="lead text-white-072">Connect and engage with a worldwide community of Solidus developers, stakeholders and experts all around the world.</p>
  </div>
  <div class="container">
    <div class="d-lg-flex justify-content-around">
      <div class="community-data pr-lg-1 pr-xl-2">
        <a href="http://slack.solidus.io/" target="_blank">
          <div class="d-flex align-items-center">
            <div class="picture text-center pr-2">
              <div class="card rounded-circle">
                <div class="mx-auto w-100 h-100 align-self-center">
                  <%= inline_svg("social-icons/slack-colored.svg", class: "isvg") %>
                </div>
              </div>
            </div>
            <div class="description text-left">
              <h4 class="title text-white">
                Join our Slack
              </h4>
              <p class="text-white-072">
                Connect and chat with other Solidus devs
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="community-data pr-lg-1 pr-xl-2">
        <a href="https://opencollective.com/solidus" target="_blank">
          <div class="d-flex align-items-center">
            <div class="picture text-center pr-2">
              <div class="card rounded-circle">

                <div class="mx-auto w-100 h-100 align-self-center">
                  <%= inline_svg("social-icons/opencollective-colored.svg", class: "isvg") %>
                </div>
              </div>
            </div>
            <div class="description text-left">
              <h4 class="title text-white">
                Become a donor
              </h4>
              <p class="text-white-072">
                Support this project on Open Collective
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="community-data pr-lg-1 pr-xl-2">
        <a href="https://github.com/solidusio/solidus" target="_blank">
          <div class="d-flex align-items-center">
            <div class="picture text-center pr-2">
              <div class="card rounded-circle">
                <div class="mx-auto w-100 h-100 align-self-center">
                  <%= inline_svg("social-icons/github-colored.svg", class: "isvg") %>
                </div>
              </div>
            </div>
            <div class="description text-left">
              <h4 class="title text-white">
                GitHub
              </h4>
              <p class="text-white-072">
                Official Solidus GitHub repository
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="community-data pr-lg-1 pr-xl-2">
        <a href="https://stackoverflow.com/questions/tagged/solidus" target="_blank">
          <div class="d-flex align-items-center">
            <div class="picture text-center pr-2">
              <div class="card rounded-circle">
                <div class="mx-auto w-100 h-100 align-self-center">
                  <%= inline_svg("social-icons/stack-overflow-colored.svg", class: "isvg") %>
                </div>
              </div>
            </div>
            <div class="description text-left">
              <h4 class="title text-white">
                Stack Overflow
              </h4>
              <p class="text-white-072">
                Learn and share your knownledge on SO
              </p>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>

<div class="content-block content-block-gray-100" id="core-team">
  <div class="container container-md text-center mb-8">
    <h2 class="title">Meet the core team.</h2>
    <p>
      The development of Solidus and its ecosystem is guided by an international team, some of whom have chosen to be featured below.
    </p>
  </div>

  <div class="container container-lg">
    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/alberto-vena.png') %>" srcset="<%= image_path('team/alberto-vena.png') %>, <%= image_path('team/alberto-vena@2x.png') %> 2x" alt="Alberto Vena">
            </div>
            <div class="card-body">
              <h4 class="name">Alberto Vena</h4>
              <p>Co-Founder & Developer <br> Nebulab</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/kennyadsl" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>kennyadsl</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="text-gray-048">Notable contribution</h6>
          <p>Helping community members to solve small and big problems with their stores. Decluttering the admin UI with the removal of icons, cleaning up how currency is handled on orders.</p>
          <h6 class="text-gray-048">Fun fact</h6>
          <p>While waiting for the tests suite to pass he plays with his fingerskate.</p>
        </div>
      </div>
    </div>

    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/gregor-macdougall.png') %>" srcset="<%= image_path('team/gregor-macdougall.png') %>, <%= image_path('team/gregor-macdougall@2x.png') %> 2x" alt="Gregor MacDougall">
            </div>
            <div class="card-body">
              <h4 class="name">Gregor MacDougall</h4>
              <p>Engineering Lead <br> JUUL Labs</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/gmacdougall" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>gmacdougall</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="text-gray-048">Notable contribution</h6>
          <p>Pre-Solidus fork he spearheaded the initiative to enable Solidus to support multiple currencies. </p>
          <h6 class="text-gray-048">Fun fact</h6>
          <p>Gregor is an avid developer, theatre fan and board gamer.</p>
        </div>
      </div>
    </div>

    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/thomas-von-deyen.png') %>" srcset="<%= image_path('team/thomas-von-deyen.png') %>, <%= image_path('team/thomas-von-deyen@2x.png') %> 2x" alt="Thomas von Deyen">
            </div>
            <div class="card-body">
              <h4 class="name">Thomas von Deyen</h4>
              <p>Senior Web Developer <br> Core team member of AlchemyCMS</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/tvdeyen" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>tvdeyen</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="text-gray-048">Notable contribution</h6>
          <p>Doing a lot of Admin UI work. He’s passionate about good UI, I18n and understandable, well organized code.</p>
          <h6 class="text-gray-048">Fun fact</h6>
          <p>Bilingual, former HipHop DJ and producer, core team member of AlchemyCMS, and father of two.</p>
        </div>
      </div>
    </div>

    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/jacob-herrington.png') %>" srcset="<%= image_path('team/jacob-herrington.png') %>, <%= image_path('team/jacob-herrington@2x.png') %> 2x" alt="Jacob Herrington">
            </div>
            <div class="card-body">
              <h4 class="name">Jacob Herrington</h4>
              <p>Senior Software Engineer <br> Engine</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/jacobherrington" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>jacobherrington</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="text-gray-048">Notable contribution</h6>
          <p>Investing in documentation and community. Jacob is interested in making Solidus absurdly developer-friendly.</p>
          <h6 class="text-gray-048">Fun fact</h6>
          <p>Jacob spends an unhealthy amount of time pursuing his disparate hobbies: Bass guitar, disc golf, podcasting, bouldering, and most recently, Muay Thai.</p>
        </div>
      </div>
    </div>

    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/eric-saupe.png') %>" srcset="<%= image_path('team/eric-saupe.png') %>, <%= image_path('team/eric-saupe@2x.png') %> 2x" alt="Eric Saupe">
            </div>
            <div class="card-body">
              <h4 class="name">Eric Saupe</h4>
              <p>Senior Software Engineer <br> Deseret Book Company</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/ericsaupe" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>ericsaupe</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="subheading text-gray-048 text-uppercase">Notable contribution</h6>
          <p>Dedicated to making the out-of-the-box Solidus experience one that will put stores on a path to success.</p>
          <h6 class="subheading text-gray-048 text-uppercase">Fun fact</h6>
          <p>When he's not turning caffeine into code he's passionate about pandas, cookies, and his two young daughters.</p>
        </div>
      </div>
    </div>

    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/andrea-longhi.png') %>" srcset="<%= image_path('team/andrea-longhi.png') %>, <%= image_path('team/andrea-longhi@2x.png') %> 2x" alt="Andrea Longhi">
            </div>
            <div class="card-body">
              <h4 class="name">Andrea Longhi</h4>
              <p>Senior Web Developer <br> Nebulab</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/spaghetticode" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>spaghetticode</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="subheading text-gray-048 text-uppercase">Notable contribution</h6>
          <p>Loves contributing to Solidus by fixing bugs, adding new features and improving the existing code... his motto is <code>@code.should be_beautiful</code>, after all.</p>
          <h6 class="subheading text-gray-048 text-uppercase">Fun fact</h6>
          <p>Vintage electronics enthusiast, Andrea spends much of his spare time tinkering with old computers from the 70s and 80s and fixing audio amplifier of the same vintage.</p>
        </div>
      </div>
    </div>

    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/alessandro-desantis.png') %>" srcset="<%= image_path('team/alessandro-desantis.png') %>, <%= image_path('team/alessandro-desantis@2x.png') %> 2x" alt="Alessandro Desantis">
            </div>
            <div class="card-body">
              <h4 class="name">Alessandro Desantis</h4>
              <p>Director <br> Nebulab</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/aldesantis" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>aldesantis</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="text-gray-048">Notable contribution</h6>
          <p>He implemented Rails 6 support and maintains the Solidus extensions ecosystem.</p>
          <h6 class="text-gray-048">Fun fact</h6>
          <p>Half-decent writer and amateur photographer, he’s interested in the intersection of technology and art.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-md text-center mb-8">
    <h2 class="title">Core team alumni.</h2>
    <p>
      Meet the Solidus Core Team Alumni. The contributions they made year over year were essential for the growth of the Solidus eCommerce platform.
    </p>
    <ul class="list-inline">
      <li class="list-inline-item alumni">
        <a href="https://github.com/cbrunsdon" target="_blank" rel="noopener noreferrer nofollow" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Clarke Brunsdon">
          <img class="img-fluid" src="https://github.com/cbrunsdon.png">
        </a>
      </li>
      <li class="list-inline-item alumni">
        <a href="https://github.com/jhawthorn" target="_blank" rel="noopener noreferrer nofollow" data-toggle="tooltip" data-placement="bottom" data-html="true" title="John Hawthorn">
          <img class="img-fluid" src="https://github.com/jhawthorn.png">
        </a>
      </li>
      <li class="list-inline-item alumni">
        <a href="https://github.com/jordan-brough" target="_blank" rel="noopener noreferrer nofollow" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Jordan Brough">
          <img class="img-fluid" src="https://github.com/jordan-brough.png">
        </a>
      </li>
      <li class="list-inline-item alumni">
        <a href="https://github.com/mamhoff" target="_blank" rel="noopener noreferrer nofollow" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Martin Meyerhoff">
          <img class="img-fluid" src="https://github.com/mamhoff.png">
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="container border-bottom border-secondary text-center">
  <div class="content-block container container-sm">
    <h2 class="title">Our Donors.</h2>
    <p>
      As a community-driven, open-source project, Solidus development and
      growth rely on funds donated through
      <a href="https://opencollective.com/solidus" target="_blank">
        OpenCollective
      </a>
      by a group of financial contributors. Let us introduce all the developers
      and stakeholders who love and empower Solidus!
    </p>
  </div>
</div>

<%= partial "partials/members_list" %>

<div class="donor-block content-block content-block-gray-900 position-relative p-md-0 pb-0">
  <div class="container">
    <div class="row">
      <div class="donor-content col-md-6">
        <div class="align-self-center pr-md-6 mb-4 mt-sm-4">
          <h2 class="title mb-4">Become a donor.</h2>
          <p class="lead">
            Consider supporting Solidus and its hard-working community with a
            monthly donation on
            <a href="https://opencollective.com/solidus" target="_blank">OpenCollective</a>.
            If you think that Solidus is a great project or you’re already
            using it for your business, this is your chance to participate and
            contribute actively. Help Solidus keep growing!
          </p>
          <a class="btn btn-primary" href="https://opencollective.com/solidus" target="_blank">Donate</a>
        </div>
      </div>
    </div>
  </div>
  <img class="img-fluid pb-3 pt-3" src="<%= image_path('illustrations/donor-become-a.svg') %>" alt="Become a donor">
</div>

<%= partial "partials/contributors_list" %>

<div class="call-to-action content-block text-center">
  <div class="container container-md">
    <h3 class="title">Ready to become a contributor?</h3>
    <a class="btn btn-primary btn-w-icon btn-lg" href="https://github.com/solidusio/solidus" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <span class="text">Fork Solidus on GitHub</span></a>
  </div>
</div>

<%= javascript_include_tag "heart" %>
