---
title: Community
description: Solidus is an open source ecommerce solution built with Ruby on Rails and maintained by a community of passionate developers.
---

<div class="community-hero content-block content-block-xl position-relative text-center">
  <div class="container container-md">
    <h1 class="title">You’re going to <%= inline_svg("icons/heart-big.svg", class: "isvg animate-heart")%> this.</h1>
    <p class="lead mb-md-6 mb-3">Solidus is an open source ecommerce solution built with Ruby on Rails and maintained by a community of passionate developers.</p>
  </div>

  <div class="community-content">
    <div class="container">
      <div class="d-lg-flex justify-content-center">
        <div class="community-data">
          <h3 class="title">23180+</h3>
          <p>
            Core commits since 2015
          </p>
        </div>
        <div class="community-data">
          <h3 class="title"><%= data.project_stats.slack_members %>+</h3>
          <p>
            Slack channel members
          </p>
        </div>
        <div class="community-data">
          <h3 class="title">50+</h3>
          <p>
            Community-supported <span class="d-block">extensions</span>
          </p>
        </div>
        <div class="community-data">
          <h3 class="title">670+</h3>
          <p>
            Contributors
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="community-block content-block text-center">
  <div class="container container-md mb-6">
    <h2 class="title text-white">Join the Solidus Community.</h2>
    <p class="lead text-white-072">Connect and engage with a worldwide community of Solidus developers, stakeholders and experts all around the world.</p>
  </div>
  <div class="container">
    <div class="d-lg-flex justify-content-around">
      <div class="community-data pr-lg-1 pr-xl-2">
        <a href="http://slack.solidus.io/" target="_blank">
          <div class="d-flex align-items-center">
            <div class="picture text-center pr-2">
              <div class="card rounded-circle">
                <div class="mx-auto w-100 h-100 align-self-center">
                  <%= inline_svg("social-icons/slack-colored.svg", class: "isvg") %>
                </div>
              </div>
            </div>
            <div class="description text-left">
              <h4 class="title text-white">
                Join our Slack
              </h4>
              <p class="text-white-072">
                Connect and chat with other Solidus devs
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="community-data pr-lg-1 pr-xl-2">
        <a href="https://opencollective.com/solidus" target="_blank">
          <div class="d-flex align-items-center">
            <div class="picture text-center pr-2">
              <div class="card rounded-circle">

                <div class="mx-auto w-100 h-100 align-self-center">
                  <%= inline_svg("social-icons/opencollective-colored.svg", class: "isvg") %>
                </div>
              </div>
            </div>
            <div class="description text-left">
              <h4 class="title text-white">
                Become a donor
              </h4>
              <p class="text-white-072">
                Support this project on Open Collective
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="community-data pr-lg-1 pr-xl-2">
        <a href="https://github.com/solidusio/solidus" target="_blank">
          <div class="d-flex align-items-center">
            <div class="picture text-center pr-2">
              <div class="card rounded-circle">
                <div class="mx-auto w-100 h-100 align-self-center">
                  <%= inline_svg("social-icons/github-colored.svg", class: "isvg") %>
                </div>
              </div>
            </div>
            <div class="description text-left">
              <h4 class="title text-white">
                GitHub
              </h4>
              <p class="text-white-072">
                Official Solidus GitHub repository
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="community-data pr-lg-1 pr-xl-2">
        <a href="https://stackoverflow.com/questions/tagged/solidus" target="_blank">
          <div class="d-flex align-items-center">
            <div class="picture text-center pr-2">
              <div class="card rounded-circle">
                <div class="mx-auto w-100 h-100 align-self-center">
                  <%= inline_svg("social-icons/stack-overflow-colored.svg", class: "isvg") %>
                </div>
              </div>
            </div>
            <div class="description text-left">
              <h4 class="title text-white">
                Stack Overflow
              </h4>
              <p class="text-white-072">
                Learn and share your knownledge on SO
              </p>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>

<div class="content-block content-block-gray-100" id="core-team">
  <div class="container container-md text-center mb-8">
    <h2 class="title">Meet the core team.</h2>
    <p>
      The development of Solidus and its ecosystem is guided by an international team, some of whom have chosen to be featured below.
    </p>
  </div>

  <div class="container container-lg">
    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/alberto-vena.png') %>" srcset="<%= image_path('team/alberto-vena.png') %>, <%= image_path('team/alberto-vena@2x.png') %> 2x" alt="Alberto Vena">
            </div>
            <div class="card-body">
              <h4 class="name">Alberto Vena</h4>
              <p>Co-Founder & Developer <br> Nebulab</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/kennyadsl" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>kennyadsl</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="text-gray-048">Notable contribution</h6>
          <p>Helping community members to solve small and big problems with their stores. Decluttering the admin UI with the removal of icons, cleaning up how currency is handled on orders.</p>
          <h6 class="text-gray-048">Fun fact</h6>
          <p>While waiting for the tests suite to pass he plays with his fingerskate.</p>
        </div>
      </div>
    </div>

    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/gregor-macdougall.png') %>" srcset="<%= image_path('team/gregor-macdougall.png') %>, <%= image_path('team/gregor-macdougall@2x.png') %> 2x" alt="Gregor MacDougall">
            </div>
            <div class="card-body">
              <h4 class="name">Gregor MacDougall</h4>
              <p>Software Developer & Engineering Manager</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/gmacdougall" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>gmacdougall</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="text-gray-048">Notable contribution</h6>
          <p>Pre-Solidus fork he spearheaded the initiative to enable Solidus to support multiple currencies. </p>
          <h6 class="text-gray-048">Fun fact</h6>
          <p>Gregor is an avid developer, theatre fan and board gamer.</p>
        </div>
      </div>
    </div>

    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/thomas-von-deyen.png') %>" srcset="<%= image_path('team/thomas-von-deyen.png') %>, <%= image_path('team/thomas-von-deyen@2x.png') %> 2x" alt="Thomas von Deyen">
            </div>
            <div class="card-body">
              <h4 class="name">Thomas von Deyen</h4>
              <p>Senior Web Developer <br> Core team member of AlchemyCMS</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/tvdeyen" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>tvdeyen</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="text-gray-048">Notable contribution</h6>
          <p>Doing a lot of Admin UI work. He’s passionate about good UI, I18n and understandable, well organized code.</p>
          <h6 class="text-gray-048">Fun fact</h6>
          <p>Bilingual, former HipHop DJ and producer, core team member of AlchemyCMS, and father of two.</p>
        </div>
      </div>
    </div>

    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/andrea-longhi.png') %>" srcset="<%= image_path('team/andrea-longhi.png') %>, <%= image_path('team/andrea-longhi@2x.png') %> 2x" alt="Andrea Longhi">
            </div>
            <div class="card-body">
              <h4 class="name">Andrea Longhi</h4>
              <p>Senior Web Developer <br> Nebulab</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/spaghetticode" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>spaghetticode</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="subheading text-gray-048 text-uppercase">Notable contribution</h6>
          <p>Loves contributing to Solidus by fixing bugs, adding new features and improving the existing code... his motto is <code>@code.should be_beautiful</code>, after all.</p>
          <h6 class="subheading text-gray-048 text-uppercase">Fun fact</h6>
          <p>Vintage electronics enthusiast, Andrea spends much of his spare time tinkering with old computers from the 70s and 80s and fixing audio amplifier of the same vintage.</p>
        </div>
      </div>
    </div>

    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/alessandro-desantis.png') %>" srcset="<%= image_path('team/alessandro-desantis.png') %>, <%= image_path('team/alessandro-desantis@2x.png') %> 2x" alt="Alessandro Desantis">
            </div>
            <div class="card-body">
              <h4 class="name">Alessandro Desantis</h4>
              <p>Director <br> Nebulab</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/aldesantis" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>aldesantis</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="text-gray-048">Notable contribution</h6>
          <p>He implemented Rails 6 support and maintains the Solidus extensions ecosystem.</p>
          <h6 class="text-gray-048">Fun fact</h6>
          <p>Half-decent writer and amateur photographer, he’s interested in the intersection of technology and art.</p>
        </div>
      </div>
    </div>

    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/jared-norman.png') %>" srcset="<%= image_path('team/jared-norman.png') %>, <%= image_path('team/jared-norman@2x.png') %> 2x" alt="Jared Norman">
            </div>
            <div class="card-body">
              <h4 class="name">Jared Norman</h4>
              <p>Founder & Developer <br> Super Good Software</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/jarednorman" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>jarednorman</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="text-gray-048">Notable contribution</h6>
          <p>He wrote much of the initial API documentation and has been involved in the project since its inception.</p>
          <h6 class="text-gray-048">Fun fact</h6>
          <p>Jared enjoys camping and the outdoors and is not very good at ice hockey.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-md text-center">
    <h2 class="title">Core team alumni.</h2>
    <p>
      Meet the Solidus Core Team Alumni. The contributions they made year over year were essential for the growth of the Solidus eCommerce platform.
    </p>
    <ul class="list-inline">
      <li class="list-inline-item alumni">
        <a href="https://github.com/cbrunsdon" target="_blank" rel="noopener noreferrer nofollow" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Clarke Brunsdon">
          <img class="img-fluid" src="https://github.com/cbrunsdon.png">
        </a>
      </li>
      <li class="list-inline-item alumni">
        <a href="https://github.com/jhawthorn" target="_blank" rel="noopener noreferrer nofollow" data-toggle="tooltip" data-placement="bottom" data-html="true" title="John Hawthorn">
          <img class="img-fluid" src="https://github.com/jhawthorn.png">
        </a>
      </li>
      <li class="list-inline-item alumni">
        <a href="https://github.com/jordan-brough" target="_blank" rel="noopener noreferrer nofollow" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Jordan Brough">
          <img class="img-fluid" src="https://github.com/jordan-brough.png">
        </a>
      </li>
      <li class="list-inline-item alumni">
        <a href="https://github.com/mamhoff" target="_blank" rel="noopener noreferrer nofollow" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Martin Meyerhoff">
          <img class="img-fluid" src="https://github.com/mamhoff.png">
        </a>
      </li>
      <li class="list-inline-item alumni">
        <a href="https://github.com/jacobherrington" target="_blank" rel="noopener noreferrer nofollow" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Jacob Herrington">
          <img class="img-fluid" src="https://github.com/jacobherrington.png">
        </a>
      </li>
      <li class="list-inline-item alumni">
        <a href="https://github.com/ericsaupe" target="_blank" rel="noopener noreferrer nofollow" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Eric Saupe">
          <img class="img-fluid" src="https://github.com/ericsaupe.png">
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="content-block">
  <div class="container container-sm text-center mb-8">
    <h2 class="title">Our Donors.</h2>
    <p>
      As a community-driven, open-source project, Solidus development and
      growth rely on funds donated through
      <a href="https://opencollective.com/solidus" target="_blank">
        OpenCollective
      </a>
      by a group of financial contributors. Let us introduce all the developers
      and stakeholders who love and empower Solidus!
    </p>
  </div>
  <%= partial "partials/members_list" %>
</div>

<div class="content-block-gray-900 position-relative">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md mt-5 mt-md-0">
        <h2 class="title mb-4">Become a donor.</h2>
        <p class="lead">
          Consider supporting Solidus and its hard-working community with a
          monthly donation on
          <a href="https://opencollective.com/solidus" target="_blank">OpenCollective</a>.
          If you think that Solidus is a great project or you’re already
          using it for your business, this is your chance to participate and
          contribute actively. Help Solidus keep growing!
        </p>
        <a class="btn btn-primary" href="https://opencollective.com/solidus" target="_blank">Donate</a>
      </div>
      <div class="col-md mt-5 mb-5">
        <img src="<%= image_path('illustrations/become-donor@2x.png') %>" data-srcset="<%= image_path('illustrations/become-donor@2x.png') %> 2x, <%= image_path('illustrations/become-donor@1x.png') %> 1x" class="img-fluid" alt="Become a donor" width="100%" >
      </div>
    </div>
  </div>
</div>

<%= partial "partials/contributors_list" %>

<div class="call-to-action content-block text-center">
  <div class="container container-md">
    <h3 class="title">Ready to become a contributor?</h3>
    <a class="btn btn-primary btn-w-icon btn-lg" href="https://github.com/solidusio/solidus" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <span class="text">Fork Solidus on GitHub</span></a>
  </div>
</div>
