---
title: Community
description: Solidus is an open source ecommerce solution built with Ruby on Rails and maintained by a community of passionate developers.
---

<div class="community-hero content-block content-block-xl position-relative text-center">
  <div class="container container-md">
    <h1 class="title">You’re going to <%= inline_svg("icons/heart-big.svg", class: "isvg animate-heart")%> this.</h1>
    <p class="lead mb-md-6 mb-3">Solidus is an open source ecommerce solution built with Ruby on Rails and maintained by a community of passionate developers.</p>
  </div>

  <div class="community-content">
    <div class="container">
      <div class="d-lg-flex justify-content-center">
        <div class="community-data">
          <h3 class="title">23180+</h3>
          <p>
            Core commits since 2015
          </p>
        </div>
        <div class="community-data">
          <h3 class="title"><%= data.project_stats.slack_members %>+</h3>
          <p>
            Slack channel members
          </p>
        </div>
        <div class="community-data">
          <h3 class="title">50+</h3>
          <p>
            Community-supported <span class="d-block">extensions</span>
          </p>
        </div>
        <div class="community-data">
          <h3 class="title">670+</h3>
          <p>
            Contributors
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="community-block content-block text-center">
  <div class="container container-md mb-6">
    <h2 class="title text-white">Join the Solidus Community.</h2>
    <p class="lead text-white-072">Connect and engage with a worldwide community of Solidus developers, stakeholders and experts all around the world.</p>
  </div>
  <div class="container">
    <div class="d-lg-flex justify-content-around">
      <div class="community-data pr-lg-1 pr-xl-2">
        <a href="http://slack.solidus.io/" target="_blank">
          <div class="d-flex align-items-center">
            <div class="picture text-center pr-2">
              <div class="card rounded-circle">
                <div class="mx-auto w-100 h-100 align-self-center">
                  <%= inline_svg("social-icons/slack-colored.svg", class: "isvg") %>
                </div>
              </div>
            </div>
            <div class="description text-left">
              <h4 class="title text-white">
                Join our Slack
              </h4>
              <p class="text-white-072">
                Connect and chat with other Solidus devs
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="community-data pr-lg-1 pr-xl-2">
        <a href="https://opencollective.com/solidus" target="_blank">
          <div class="d-flex align-items-center">
            <div class="picture text-center pr-2">
              <div class="card rounded-circle">

                <div class="mx-auto w-100 h-100 align-self-center">
                  <%= inline_svg("social-icons/opencollective-colored.svg", class: "isvg") %>
                </div>
              </div>
            </div>
            <div class="description text-left">
              <h4 class="title text-white">
                Become a donor
              </h4>
              <p class="text-white-072">
                Support this project on Open Collective
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="community-data pr-lg-1 pr-xl-2">
        <a href="https://github.com/solidusio/solidus" target="_blank">
          <div class="d-flex align-items-center">
            <div class="picture text-center pr-2">
              <div class="card rounded-circle">
                <div class="mx-auto w-100 h-100 align-self-center">
                  <%= inline_svg("social-icons/github-colored.svg", class: "isvg") %>
                </div>
              </div>
            </div>
            <div class="description text-left">
              <h4 class="title text-white">
                GitHub
              </h4>
              <p class="text-white-072">
                Official Solidus GitHub repository
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="community-data pr-lg-1 pr-xl-2">
        <a href="https://stackoverflow.com/questions/tagged/solidus" target="_blank">
          <div class="d-flex align-items-center">
            <div class="picture text-center pr-2">
              <div class="card rounded-circle">
                <div class="mx-auto w-100 h-100 align-self-center">
                  <%= inline_svg("social-icons/stack-overflow-colored.svg", class: "isvg") %>
                </div>
              </div>
            </div>
            <div class="description text-left">
              <h4 class="title text-white">
                Stack Overflow
              </h4>
              <p class="text-white-072">
                Learn and share your knownledge on SO
              </p>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>

<div class="content-block">
  <div class="container container-sm text-center mb-8">
    <h2 class="title">Our Donors.</h2>
    <p>
      As a community-driven, open-source project, Solidus development and
      growth rely on funds donated through
      <a href="https://opencollective.com/solidus" target="_blank">
        OpenCollective
      </a>
      by a group of financial contributors. Let us introduce all the developers
      and stakeholders who love and empower Solidus!
    </p>
  </div>
  <%= partial "partials/members_list" %>
</div>

<div class="content-block-gray-900 position-relative">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md mt-5 mt-md-0">
        <h2 class="title mb-4">Become a donor.</h2>
        <p class="lead">
          Consider supporting Solidus and its hard-working community with a
          monthly donation on
          <a href="https://opencollective.com/solidus" target="_blank">OpenCollective</a>.
          If you think that Solidus is a great project or you’re already
          using it for your business, this is your chance to participate and
          contribute actively. Help Solidus keep growing!
        </p>
        <a class="btn btn-primary" href="https://opencollective.com/solidus" target="_blank">Donate</a>
      </div>
      <div class="col-md mt-5 mb-5">
        <img src="<%= image_path('illustrations/become-donor@2x.png') %>" data-srcset="<%= image_path('illustrations/become-donor@2x.png') %> 2x, <%= image_path('illustrations/become-donor@1x.png') %> 1x" class="img-fluid" alt="Become a donor" width="100%" >
      </div>
    </div>
  </div>
</div>

<%= partial "partials/contributors_list" %>

<div class="call-to-action content-block text-center">
  <div class="container container-md">
    <h3 class="title">Ready to become a contributor?</h3>
    <a class="btn btn-primary btn-w-icon btn-lg" href="https://github.com/solidusio/solidus" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <span class="text">Fork Solidus on GitHub</span></a>
  </div>
</div>
