---
title: Developers
---

<div class="developers-hero content-block content-block-xl text-center">
  <div class="container container-md">
    <h1 class="title">You’re going to <%= inline_svg("icons/heart-big.svg", class: "isvg heart")%> this.</h1>
    <p class="lead mb-md-6">Solidus is an open source ecommerce solution built with Ruby on Rails and maintained by a community of passionate developers. Here’s everything you’ll need to start creating your own online store.</p>
    <div class="btns-wrapper">
      <a class="btn btn-primary btn-w-icon" href="http://slack.solidus.io/" target="_blank"><%= inline_svg("social-icons/slack.svg", class: "isvg") %> <span class="text">Join our Slack</span></a>
      <br class="d-md-none">
    </div>
  </div>
</div>

<div class="developers-springboard-block content-block text-center" data-aos="fade">
  <div class="container container-md mb-6">
    <h4 class="title text-white">Your GitHub springboard.</h4>
    <p class="lead text-white-072">Head over to GitHub and download the latest Solidus release, find instructions for getting set up, and contribute to the codebase.</p>
  </div>
  <div class="container">
    <div class="card mb-4">
      <div class="card-body">
        <div class="github">
          <div class="commits">
            <ol class="commit-list">
              <template class="commit-template">
                <li class="commit">
                  <div class="commit-flex-box">
                    <span class="commit-info">
                      <p class="commit-title">
                        <span class="user-commit">
                          <a target="_blank"></a>
                        </span>
                        <span class="web-flow-commit">
                          <a class="action" target="_blank"></a>
                          <a class="issue" href="" target="_blank"></a>
                          <a class="branch" target="_blank"></a>
                        </span>
                        <span class="ellipsis-container">
                          <button class="ellipsis-expander" onclick="toggleCommitMessage(this)">...</button>
                        </span>
                      </p>
                      <div class="commit-meta">
                        <span class="avatar">
                          <a class="avatar-link" target="_blank">
                            <img>
                          </a>
                        </span>
                        <span>
                          <a class="commit-author" target="_blank"></a>
                          committed
                          <span class="relative-time"></span>
                        </span>
                      </div>
                    </span>
                    <span class="commit-links">
                      <div class="btn-group">
                        <div class='btn verified'>
                          Verified
                        </div>
                      </div>
                      <div class="btn-group">
                        <a class="btn clipboard" target="_blank" title="Copy the full SHA">
                          <%= inline_svg("icons/clipboard.svg") %>
                        </a>
                        <a class="btn sha" target="_blank"></a>
                      </div>
                      <a class="btn btn-group code-link" target="_blank" title="Browse the repository at this point in history">
                        <%= inline_svg("icons/code.svg") %>
                      </a>
                    </span>
                  </div>
                  <div class="commit-message hide"></div>
                </li>
              </template>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <a class="btn btn-white" href="https://github.com/solidusio/solidus" target="_blank">Go to GitHub</a>
    </div>
  </div>
</div>

<div class="content-block content-block-gray-100" data-aos="fade">
  <div class="container container-md text-center mb-8">
    <h1 class="title">Meet the core team.</h1>
    <p class="lead">Solidus is maintained and directed primarily by five developers from Stembolt and Nebulab for the benefit of the community.</p>
  </div>

  <div class="container container-lg">
    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/john-hawthorn.png') %>" srcset="<%= image_path('team/john-hawthorn.png') %>, <%= image_path('team/john-hawthorn@2x.png') %> 2x" alt="John Hawthorn">
            </div>
            <div class="card-body">
              <h6 class="name">John Hawthorn</h6>
              <p>Software Developer<br> Stembolt</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/jhawthorn" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>jhawthorn</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="subheading text-gray-048 text-uppercase">Notable contribution</h6>
          <p>Can there be just one? John has been a full time, dedicated programmer on Solidus since early 2015 and touches everything from the API, to tests, and making the admin a better experience.</p>
          <h6 class="subheading text-gray-048 text-uppercase">Fun fact</h6>
          <p>When not programming, John likes watching baseball, fostering cats, and drinking a good IPA.</p>
        </div>
      </div>
    </div>

    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/clarke-brunsdon.png') %>" srcset="<%= image_path('team/clarke-brunsdon.png') %>, <%= image_path('team/clarke-brunsdon@2x.png') %> 2x" alt="Clarke Brunsdon">
            </div>
            <div class="card-body">
              <h6 class="name">Clarke Brunsdon</h6>
              <p>Co Founder & Developer <br> Stembolt</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/cbrunsdon" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>cbrunsdon</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="subheading text-gray-048 text-uppercase">Notable contribution</h6>
          <p>One of the leaders in the decision to fork from Spree.</p>
          <h6 class="subheading text-gray-048 text-uppercase">Fun fact</h6>
          <p>Avid Cookie Clicker, poker player, and owner of a cute corgi puppy named Riker.</p>
        </div>
      </div>
    </div>

    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/alberto-vena.png') %>" srcset="<%= image_path('team/alberto-vena.png') %>, <%= image_path('team/alberto-vena@2x.png') %> 2x" alt="Alberto Vena">
            </div>
            <div class="card-body">
              <h6 class="name">Alberto Vena</h6>
              <p>Co-Founder & Developer <br> Nebulab</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/kennyadsl" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>kennyadsl</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="subheading text-gray-048 text-uppercase">Notable contribution</h6>
          <p>Helping community members to solve small and big problems with their stores. Decluttering the admin UI with the removal of icons, cleaning up how currency is handled on orders.</p>
          <h6 class="subheading text-gray-048 text-uppercase">Fun fact</h6>
          <p>While waiting for the tests suite to pass he plays with his fingerskate.</p>
        </div>
      </div>
    </div>

    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/gregor-macdougall.png') %>" srcset="<%= image_path('team/gregor-macdougall.png') %>, <%= image_path('team/gregor-macdougall@2x.png') %> 2x" alt="Gregor MacDougall">
            </div>
            <div class="card-body">
              <h6 class="name">Gregor MacDougall</h6>
              <p>Software Developer <br> Stembolt</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/gmacdougall" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>gmacdougall</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="subheading text-gray-048 text-uppercase">Notable contribution</h6>
          <p>Pre-Solidus fork he spearheaded the initiative to enable Solidus to support multiple currencies. </p>
          <h6 class="subheading text-gray-048 text-uppercase">Fun fact</h6>
          <p>Gregor is an avid developer, theatre fan and board gamer.</p>
        </div>
      </div>
    </div>

    <div class="bio-block">
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="photo">
              <img class="img-fluid" src="<%= image_path('team/thomas-von-deyen.png') %>" srcset="<%= image_path('team/thomas-von-deyen.png') %>, <%= image_path('team/thomas-von-deyen@2x.png') %> 2x" alt="Thomas von Deyen">
            </div>
            <div class="card-body">
              <h6 class="name">Thomas von Deyen</h6>
              <p>Senior Web Developer <br> Core team member of AlchemyCMS</p>
              <ul class="links list-unstyled">
                <li>
                  <a href="https://github.com/tvdeyen" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %> <strong>tvdeyen</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h6 class="subheading text-gray-048 text-uppercase">Notable contribution</h6>
          <p>Doing a lot of Admin UI work. He’s passionate about good UI, I18n and understandable, well organized code.</p>
          <h6 class="subheading text-gray-048 text-uppercase">Fun fact</h6>
          <p>Bilingual, former hiphop DJ and producer, core team member of AlchemyCMS, and father of two.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/feedback" %>

<%= partial "partials/community_block" %>

<%= javascript_include_tag "vendor/clipboard.min" %>
<%= javascript_include_tag "vendor/moment.min" %>
<%= javascript_include_tag "heart" %>
<%= javascript_include_tag "github" %>
