---
title: Extensions
---

<div class="extensions-hero content-block content-block-gray-900 text-center">
  <div class="container container-md mb-7">
    <h1 class="title">Extensions for days.</h1>
    <p class="lead">Fine-tune your store’s capabilities with free extensions for Solidus.</p>
  </div>

  <img class="img-fluid" src="<%= image_path('illustrations/extensions.png') %>" srcset="<%= image_path('illustrations/extensions.png') %>, <%= image_path('illustrations/extensions@2x.png') %> 2x" alt="Extensions">
</div>

<div class="extensions-filter">
  <div class="container">
    <h6 class="title">Show:</h6>

    <div class="form-check form-check-custom">
      <input type="checkbox" class="form-check-input" id="filter-official" name="official" checked>
      <label class="form-check-label" for="filter-official">
        <%= inline_svg("icons/checkbox.svg", class: "isvg") %>
        Official
      </label>
    </div>

    <div class="form-check form-check-custom">
      <input type="checkbox" class="form-check-input" id="filter-community" name="community" checked>
      <label class="form-check-label" for="filter-community">
        <%= inline_svg("icons/checkbox.svg", class: "isvg") %>
        Community
      </label>
    </div>

    <div class="form-check form-check-custom">
      <input type="checkbox" class="form-check-input" id="filter-third-party" name="third-party" checked>
      <label class="form-check-label" for="filter-third-party">
        <%= inline_svg("icons/checkbox.svg", class: "isvg") %>
        Third-Party
      </label>
    </div>
  </div>
</div>

<% extensions = Solidus::Extension.from_yaml_data(data.extensions, environment: environment) %>

<div class="extensions-list-block content-block content-block-gray-100">
  <div class="container">
    <div class="alert alert-warning mb-0 d-none" role="alert">
      No extensions matching your criteria
    </div>

    <div class="accordion">
      <% group_extensions(extensions).each_pair.with_index do |(group_name, group_extensions), i| %>
        <div class="extensions-group accordion-item" id="extensions-group-<%= group_name.underscore.gsub('_', '-') %>">
          <h3 class="title">
            <a href="#" data-toggle="collapse" data-target="#collapse<%= i %>">
              <%= group_name %>
              <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %>
            </a>
          </h3>

          <div id="collapse<%= i %>" class="content collapse show" data-parent="#accordion">
            <div class="extensions">
              <% group_extensions.sort_by(&:title).each do |extension| %>
                <%= partial 'partials/extension', locals: { extension: extension } %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="content-block">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md">
        <div class="block-content mb-md-0">
          <h2 class="title">Build an extension.</h2>
          <p>Don’t see the functionality you need? Create your own  extension and share it with the community so everyone can benefit from your expertise!</p>
          <a class="btn btn-primary" href="https://github.com/solidusio/solidus_dev_support" target="_blank">Get coding!</a>
        </div>
      </div>
      <div class="col-md text-center text-md-right">
        <img class="img-fluid" src="<%= image_path('illustrations/build.svg') %>" alt="Edit Product">
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag 'extensions' %>
<% end %>
