---
title: Extensions
description: Solidus provides a lot of free extensions. Fine-tune your store’s capabilities!
---

<div class="extensions-hero hero-block content-block">
  <div class="container">
    <h1 class="title">Extensions for days.</h1>
    <p class="lead">Fine-tune your store’s capabilities with free extensions for Solidus.</p>
    <a href="https://github.com/solidusio/solidus_dev_support" target="_blank" class="btn btn-primary">Build your own</a>
  </div>
</div>


<div class="extensions-filter p-0">
  <div class="container extensions-filter__navbar">

  <input type="checkbox" class="form-check-input show-all__mobile show-all__mobile__input" id="show-all" name="Show all">
  <label class="show-all__mobile show-all__mobile__label" for="show-all"></label>

    <ul class="extensions-filter__navbar__nav nav align-items-center">
      <% extensions = Solidus::Extension.from_yaml_data(data.extensions, environment: environment) %>

      <% group_extensions(extensions).each_pair.with_index do |(group_name, group_extensions), i| %>
        <li class="nav-item" data-filter="<%= group_name.underscore.gsub('_', '-') %>">
          <div class="form-check-custom pl-0">
            <input type="checkbox" class="form-check-input extensions-filter__input" id="filter-<%= group_name.underscore.gsub(' ', '-') %>" name="<%= group_name.underscore.gsub(' ', '-') %>">
            <label class="btn btn-sm extensions-filter__label" for="filter-<%= group_name.underscore.gsub(' ', '-') %>">
              <%= group_name %>
            </label>
          </div>
        </li>
      <% end %>
      <button class="js-more btn btn-sm extensions-filter__more">More</button>
    </ul>
  </div>
</div>

<div class="extensions-list-block content-block content-block-gray-100">
  <div class="container">
    <div class="alert alert-warning mb-0 d-none" role="alert">
      No extensions matching your criteria
    </div>

    <div class="accordion" id="accordion">
      <% group_extensions(extensions).each_pair.with_index do |(group_name, group_extensions), i| %>
        <div class="extensions-group accordion-item <%= group_name.underscore.gsub(' ', '-') %>" id="extensions-group-<%= group_name.underscore.gsub(' ', '-') %>">
          <h3 class="title">
            <a class="collapsed" href="#" data-toggle="collapse" data-target="#collapse<%= i %>">
              <%= group_name %>
              <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %>
            </a>
          </h3>

          <div id="collapse<%= i %>" class="content collapse" data-parent="#accordion">
            <div class="extensions">
              <% group_extensions.sort_by(&:title).each do |extension| %>
                <%= partial 'partials/extension', locals: { extension: extension } %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag 'extensions' %>
<% end %>
