---
title: Extensions
layout: extensions
---

<div class="extensions-hero content-block content-block-gray-900 text-center">
  <div class="container container-md mb-7">
    <h1 class="title">Extensions for days.</h1>
    <p class="lead">Fine-tune your store’s capabilities with free extensions for Solidus.</p>
  </div>

  <img class="img-fluid" src="assets/images/illustrations/extensions.png" srcset="assets/images/illustrations/extensions.png, assets/images/illustrations/extensions@2x.png 2x" alt="Extensions">
</div>


<div class="extensions-filter" data-aos="fade">
  <div class="container">
    <span class="title">Show</span>

    <div class="form-check form-check-custom">
      <input type="checkbox" class="form-check-input" id="filter-customer" name="customer" checked>
      <label class="form-check-label" for="filter-customer">
        <%= inline_svg("icons/checkbox.svg", class: "isvg") %>
        Customer-Facing
      </label>
    </div>

    <div class="form-check form-check-custom">
      <input type="checkbox" class="form-check-input" id="filter-admin" name="admin" checked>
      <label class="form-check-label" for="filter-admin">
        <%= inline_svg("icons/checkbox.svg", class: "isvg") %>
        Admin
      </label>
    </div>

    <div class="form-check form-check-custom">
      <input type="checkbox" class="form-check-input" id="filter-backend" name="backend" checked>
      <label class="form-check-label" for="filter-backend">
        <%= inline_svg("icons/checkbox.svg", class: "isvg") %>
        Backend Functionality
      </label>
    </div>
  </div>
</div>

<div class="extensions-list-block content-block content-block-gray-100" data-aos="fade">
  <div class="container">

    <div class="alert alert-warning mb-0 d-none" role="alert">
      No extensions matching your criteria
    </div>

    <div class="accordion">
      <div class="extensions-group accordion-item">
        <h4 class="title"><a class="" href="#" data-toggle="collapse" data-target="#collapse1">Search <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapse1" class="content collapse show" data-parent="#accordion">
          <div class="extensions">
            <div class="extension-info card card-border-none e-customer e-backend">
              <div class="card-body">
                <h4 class="title">Solidus elastic product</h4>
                <div class="categories"><span class="category">Customer-Facing</span> <span class="category">Backend Functionality</span></div>
                <p>Allow users to search your store and explore trends and patterns in their searching behaviour. Elasticsearch, a distributed, RESTful search and analytics engine that centrally stores data.</p>
                <a class="link" href="https://github.com/boomerdigital/solidus_elastic_product" target="_blank">Get it on GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="extensions-group accordion-item">
        <h4 class="title"><a class="collapsed" href="#" data-toggle="collapse" data-target="#collapse2">Products & Inventory <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapse2" class="content collapse" data-parent="#accordion">
          <div class="extensions">
            <div class="extension-info card card-border-none e-customer">
              <div class="card-body">
                <h4 class="title">Solidus flexi variants</h4>
                <div class="categories"><span class="category">Customer-Facing</span></div>
                <p>Provide multiple product options, like colour and size, without creating individual variants. Customers can also upload or customize their own products (e.g. custom engravings).</p>
                <a class="link" href="https://github.com/boomerdigital/solidus_flexi_variants  " target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-admin">
              <div class="card-body">
                <h4 class="title">Solidus prototypes</h4>
                <div class="categories"><span class="category">Admin</span></div>
                <p>Create product templates to reduce the time it takes to create new products from scratch.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_prototypes" target="_blank">Get it on GitHub</a>
              </div>
            </div>


            <div class="extension-info card card-border-none e-admin">
              <div class="card-body">
                <h4 class="title">Solidus paperclip</h4>
                <div class="categories"><span class="category">Admin</span></div>
                <p>Upload and attach images to products, variants and taxons.</p>
                <a class="link" href="https://github.com/StemboltHQ/paperclip" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-admin">
              <div class="card-body">
                <h4 class="title">Solidus product assembly</h4>
                <div class="categories"><span class="category">Admin</span></div>
                <p>Create products that contain several items or customizable features like a gift basket or clothing options on a doll.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_product_assembly" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-admin">
              <div class="card-body">
                <h4 class="title">Solidus asset variant options</h4>
                <div class="categories"><span class="category">Admin</span></div>
                <p>Share product images across multiple variants to save time when options such as clothing size don’t change the way a product looks.</p>
                <a class="link" href="https://github.com/solidusio/solidus_asset_variant_options" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-customer e-admin">
              <div class="card-body">
                <h4 class="title">Solidus related products</h4>
                <div class="categories"><span class="category">Customer-Facing</span> <span class="category">Admin</span></div>
                <p>Create relationships between products and use them to cross sell and upsell compatible products like accessories, replacement parts and warranties. </p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_related_products" target="_blank">Get it on GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="extensions-group accordion-item">
        <h4 class="title"><a class="collapsed" href="#" data-toggle="collapse" data-target="#collapse3">Orders <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapse3" class="content collapse" data-parent="#accordion">
          <div class="extensions">
            <div class="extension-info card card-border-none e-customer e-backend e-admin">
              <div class="card-body">
                <h4 class="title">Solidus subscriptions</h4>
                <div class="categories"><span class="category">Customer-Facing</span><span class="category">Admin</span><span class="category">Backend Functionality</span></div>
                <p>Give your customers access to, and bill for, recurring orders.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_subscriptions  " target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-backend">
              <div class="card-body">
                <h4 class="title">Solidus Signifyd</h4>
                <div class="categories">
                  <span class="category">Backend Functionality</span>
                </div>
                <p>Provide fraud protection and chargeback prevention with this Signifyd integration for Solidus.</p>
                <a class="link" href="https://github.com/solidusio/solidus_signifyd" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-admin">
              <div class="card-body">
                <h4 class="title">Solidus print invoice</h4>
                <div class="categories">
                  <span class="category">Admin</span>
                </div>
                <p>Create a PDF of an individual invoice from the order screen. A template is provided and can be easily extended and styled.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_print_invoice" target="_blank">Get it on GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="extensions-group accordion-item">
        <h4 class="title"><a class="collapsed" href="#" data-toggle="collapse" data-target="#collapse4">Sales <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapse4" class="content collapse" data-parent="#accordion">
          <div class="extensions">
            <div class="extension-info card card-border-none e-customer e-admin">
              <div class="card-body">
                <h4 class="title">Solidus volume pricing</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                  <span class="category">Admin</span>
                </div>
                <p>Set pricing discounts based on a range of quantities to provide competitive rates for customers buying in bulk.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_volume_pricing" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-customer">
              <div class="card-body">
                <h4 class="title">Solidus multi domain</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                </div>
                <p>Create multiple storefronts and select which products and pricing are displayed on each.</p>
                <a class="link" href="https://github.com/solidusio/solidus_multi_domain" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-backend e-admin">
              <div class="card-body">
                <h4 class="title">Solidus Avatax certified</h4>
                <div class="categories">
                  <span class="category">Admin</span>
                  <span class="category">Backend Functionality</span>
                </div>
                <p>Calculate taxes automatically using this third-party integration with Avalara’s Avatax service.</p>
                <a class="link" href="https://github.com/solidusio/solidus_avatax" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-customer">
              <div class="card-body">
                <h4 class="title">Solidus wishlist</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                </div>
                <p>Allow your customers to create multiple wishlists that are either private or publicly shareable.</p>
                <a class="link" href="https://github.com/boomerdigital/solidus_wishlist" target="_blank">Get it on GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="extensions-group accordion-item">
        <h4 class="title"><a class="collapsed" href="#" data-toggle="collapse" data-target="#collapse5">Payments <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapse5" class="content collapse" data-parent="#accordion">
          <div class="extensions">
            <div class="extension-info card card-border-none e-customer">
              <div class="card-body">
                <h4 class="title">Solidus Amazon payments</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                </div>
                <p>Integrate Amazon Pay into your store’s checkout for a familiar, trusted way for customers to check out.</p>
                <a class="link" href="https://github.com/boomerdigital/solidus_amazon_payments" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-customer">
              <div class="card-body">
                <h4 class="title">Solidus Adyen</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                </div>
                <p>Support credit cards, PayPal, and direct debit payments through the Adyen payment gateway.</p>
                <a class="link" href="https://github.com/StemboltHQ/solidus-adyen" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-customer">
              <div class="card-body">
                <h4 class="title">Solidus Affirm</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                </div>
                <p>Offer flexible financing and monthly payment options to customers using the Affirm service.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_affirm" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-customer">
              <div class="card-body">
                <h4 class="title">Solidus Braintree</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                </div>
                <p>Support credit cards, PayPal, and Apple Pay payments through the Braintree payment gateway.</p>
                <a class="link" href="https://github.com/solidusio/solidus_braintree" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-customer">
              <div class="card-body">
                <h4 class="title">Solidus Paybright</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                </div>
                <p>Offer flexible financing and monthly payment options to customers using the Paybright service.</p>
                <a class="link" href="https://github.com/StemboltHQ/solidus_paybright" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-customer">
              <div class="card-body">
                <h4 class="title">Solidus Klarna payments</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                </div>
                <p>Offer flexible financing and monthly payment options to customer using the Klarna service.</p>
                <a class="link" href="https://github.com/bitspire/solidus_klarna_payments" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-customer">
              <div class="card-body">
                <h4 class="title">Solidus gateway</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                </div>
                <p>Support multiple payment service providers with this easy-to-configure gateway (based on Shopify’s Active Merchant gem).</p>
                <a class="link" href="https://github.com/solidusio/solidus_gateway" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-customer">
              <div class="card-body">
                <h4 class="title">Solidus virtual gift card</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                </div>
                <p>Add virtual gift card products with unique codes that can apply store credit to a user’s account.</p>
                <a class="link" href="https://github.com/solidusio/solidus_virtual_gift_card" target="_blank">Get it on GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="extensions-group accordion-item">
        <h4 class="title"><a class="collapsed" href="#" data-toggle="collapse" data-target="#collapse6">Shipping <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapse6" class="content collapse" data-parent="#accordion">
          <div class="extensions">
            <div class="extension-info card card-border-none e-customer e-admin">
              <div class="card-body">
                <h4 class="title">Solidus active shipping</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                  <span class="category">Admin</span>
                </div>
                <p>Find shipping rates and provides the ability to register and track shipments with this simple library. Negotiate rates directly with your carrier of choice and use this extension to connect your account. Choose from eight carriers including UPS, USPS, FedEx, Canada Post and more. </p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_active_shipping" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-customer e-admin">
              <div class="card-body">
                <h4 class="title">Solidus Shipstation</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                  <span class="category">Admin</span>
                </div>
                <p>Import, manage, and ship orders using the Shipstation service.</p>
                <a class="link" href="https://github.com/boomerdigital/solidus_shipstation" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-customer e-admin">
              <div class="card-body">
                <h4 class="title">Solidus EasyPost</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                  <span class="category">Admin</span>
                </div>
                <p>Compare rates, buy postage, track packages, verify addresses, and more, using the EasyPost service. This service integrates with USPS, UPS, Fedex, DHL, and other popular carriers.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_easypost" target="_blank">Get it on GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="extensions-group accordion-item">
        <h4 class="title"><a class="collapsed" href="#" data-toggle="collapse" data-target="#collapseSocial">Social <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapseSocial" class="content collapse" data-parent="#accordion">
          <div class="extensions">
            <div class="extension-info card card-border-none e-customer">
              <div class="card-body">
                <h4 class="title">Solidus social</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                </div>
                <p>Provide social login support for your customers including authorization, account creation, and association through third-party services. Twitter, Facebook, GitHub, Google oAuth2 and Amazon are available out of the box.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_social" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-customer">
              <div class="card-body">
                <h4 class="title">Solidus email to friend</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                </div>
                <p>Give</p>
                <a class="link" href="https://github.com/boomerdigital/solidus_email_to_friend" target="_blank">Get it on GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="extensions-group accordion-item">
        <h4 class="title"><a class="collapsed" href="#" data-toggle="collapse" data-target="#collapseSEO">SEO & Tracking <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapseSEO" class="content collapse" data-parent="#accordion">
          <div class="extensions">
            <div class="extension-info card card-border-none e-backend">
              <div class="card-body">
                <h4 class="title">Solidus product feed</h4>
                <div class="categories">
                  <span class="category">Backend Functionality</span>
                </div>
                <p>Create a RSS product feed with attributes like name, price, image etc that integrates with Google Shopping.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_product_feed" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-backend">
              <div class="card-body">
                <h4 class="title">Solidus sitemap</h4>
                <div class="categories">
                  <span class="category">Backend Functionality</span>
                </div>
                <p>Index product pages and others to generate a sitemap that you can submit to search engines.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_sitemap" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-admin">
              <div class="card-body">
                <h4 class="title">Solidus trackers</h4>
                <div class="categories">
                  <span class="category">Admin</span>
                </div>
                <p>Configure Google Analytics from the admin to track data around how your users interact with your storefront.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_trackers" target="_blank">Get it on GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="extensions-group accordion-item">
        <h4 class="title"><a class="collapsed" href="#" data-toggle="collapse" data-target="#collapseAuthoring">Authoring <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapseAuthoring" class="content collapse" data-parent="#accordion">
          <div class="extensions">
            <div class="extension-info card card-border-none e-admin">
              <div class="card-body">
                <h4 class="title">Solidus editor</h4>
                <div class="categories">
                  <span class="category">Admin</span>
                </div>
                <p>Edit product descriptions using a WYSIWYG editor. Choose from two separate options for inline WYSIWYG rich text editors.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_editor" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-backend">
              <div class="card-body">
                <h4 class="title">Solidus static content</h4>
                <div class="categories">
                  <span class="category">Backend Functionality</span>
                </div>
                <p>Manage static content like about pages, landing pages, and terms and conditions straight from the Solidus admin.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_static_content" target="_blank">Get it on GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="extensions-group accordion-item">
        <h4 class="title"><a class="collapsed" href="#" data-toggle="collapse" data-target="#collapseTools">Tools <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapseTools" class="content collapse" data-parent="#accordion">
          <div class="extensions">
            <div class="extension-info card card-border-none e-admin">
              <div class="card-body">
                <h4 class="title">Solidus log viewer</h4>
                <div class="categories">
                  <span class="category">Admin</span>
                </div>
                <p>View payment logs in the Solidus admin instead of a separate file. </p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_log_viewer" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-admin">
              <div class="card-body">
                <h4 class="title">Solidus comments</h4>
                <div class="categories">
                  <span class="category">Admin</span>
                </div>
                <p>Annotate and add messaging to tables on the order and shipment screens.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_comments" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-backend">
              <div class="card-body">
                <h4 class="title">Solidus papertrail</h4>
                <div class="categories">
                  <span class="category">Backend Functionality</span>
                </div>
                <p>Track changes to your models’ data. See how a model looks at any stage, revert it to any version, and restore it after it has been destroyed. Ideal for auditing and versioning your data.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_papertrail" target="_blank">Get it on GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="extensions-group accordion-item">
        <h4 class="title"><a class="collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomers">Customers & Users <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapseCustomers" class="content collapse" data-parent="#accordion">
          <div class="extensions">
            <div class="extension-info card card-border-none e-customer e-admin">
              <div class="card-body">
                <h4 class="title">Solidus auth devise</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                  <span class="category">Admin</span>
                </div>
                <p>Provide authentication services through email/password combinations using confirmation emails. This is the default Solidus authentication plugin.</p>
                <a class="link" href="https://github.com/solidusio/solidus_auth_devise" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-admin">
              <div class="card-body">
                <h4 class="title">Solidus user roles</h4>
                <div class="categories">
                  <span class="category">Admin</span>
                </div>
                <p>Create custom roles within your company with different permissions and access levels to admin screens.</p>
                <a class="link" href="https://github.com/boomerdigital/solidus_user_roles" target="_blank">Get it on GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="extensions-group accordion-item">
        <h4 class="title"><a class="collapsed" href="#" data-toggle="collapse" data-target="#collapseInternationalization">Internationalization <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapseInternationalization" class="content collapse" data-parent="#accordion">
          <div class="extensions">
            <div class="extension-info card card-border-none e-customer e-admin">
              <div class="card-body">
                <h4 class="title">Solidus_i18n</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                  <span class="category">Admin</span>
                </div>
                <p>Change the language of your store with internationalization and localization language support. 39 languages are included.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_i18n" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none e-customer e-admin">
              <div class="card-body">
                <h4 class="title">Solidus globalize</h4>
                <div class="categories">
                  <span class="category">Customer-Facing</span>
                  <span class="category">Admin</span>
                </div>
                <p>Translate your product names and descriptions.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_globalize" target="_blank">Get it on GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="content-block content-block-gray-100" data-aos="fade">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md">
        <div class="block-content mb-md-0">
          <h2 class="title">Build an extension.</h2>
          <p>Don’t see the functionality that you need? Create your own  extension and share it with the community so everyone can benefit from your expertise! All that’s needed is a commitment to maintenance and a pull request</p>
          <a class="font-weight-bolder" href="https://github.com/solidusio/extensions.solidus.io/blob/master/Rakefile" target="_blank">Submit a pull request.</a>
        </div>
      </div>
      <div class="col-md text-center text-md-right">
        <img class="img-fluid" src="assets/images/illustrations/build.svg" alt="Edit Product">
      </div>
    </div>
  </div>
</div>

<div class="content-block text-center" data-aos="fade">
  <div class="container">
    <h2 class="title mb-4">Want to get started with an extension?</h2>
    <p class="mb-4"><a class="btn btn-primary" href="http://extensions.solidus.io/" target="_blank">Get Extensions</a></p>
    <a class="font-weight-bolder" href="http://extensions.solidus.io/">Or, check out the extension support for each release of Solidus.</a>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag 'extensions' %>
<% end %>
