---
title: Extensions
---

<div class="extensions-hero content-block content-block-gray-900 text-center">
  <div class="container container-md mb-7">
    <h1 class="title">Extensions for days.</h1>
    <p class="lead">Fine-tune your store’s capabilities with free extensions for Solidus.</p>
  </div>

  <img class="img-fluid" src="assets/images/illustrations/extensions.png" srcset="assets/images/illustrations/extensions.png, assets/images/illustrations/extensions@2x.png 2x" alt="Extensions">
</div>


<div class="extensions-filter" data-aos="fade">
  <div class="container">
    <span class="title">Show</span>

    <div class="form-check form-check-custom">
      <input type="checkbox" class="form-check-input" id="filter-customer" name="customer" checked>
      <label class="form-check-label" for="filter-customer">
        <%= inline_svg("icons/checkbox.svg", class: "isvg") %>
        Customer-Facing
      </label>
    </div>

    <div class="form-check form-check-custom">
      <input type="checkbox" class="form-check-input" id="filter-admin" name="admin" checked>
      <label class="form-check-label" for="filter-admin">
        <%= inline_svg("icons/checkbox.svg", class: "isvg") %>
        Admin
      </label>
    </div>

    <div class="form-check form-check-custom">
      <input type="checkbox" class="form-check-input" id="filter-backend" name="backend" checked>
      <label class="form-check-label" for="filter-backend">
        <%= inline_svg("icons/checkbox.svg", class: "isvg") %>
        Backend Functionality
      </label>
    </div>
  </div>
</div>

<div class="extensions-list-block content-block content-block-gray-100" data-aos="fade">
  <div class="container">
    <div class="accordion">
      <div class="extensions-group accordion-item">
        <h4 class="title"><a class="" href="#" data-toggle="collapse" data-target="#collapse1">Search <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapse1" class="content collapse show" data-parent="#accordion">
          <div class="extensions">
            <div class="extension-info card card-border-none">
              <div class="card-body">
                <h4 class="title">Solidus elastic product</h4>
                <div class="categories"><span class="category">Customer-Facing</span> <span class="category">Backend Functionality</span></div>
                <p>Allow users to search your store and explore trends and patterns in their searching behaviour. Elasticsearch, a distributed, RESTful search and analytics engine that centrally stores data.</p>
                <a class="link" href="https://github.com/boomerdigital/solidus_elastic_product" target="_blank">Get it on GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="extensions-group accordion-item">
        <h4 class="title"><a class="" href="#" data-toggle="collapse" data-target="#collapse2">Products & Inventory <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapse2" class="content collapse show" data-parent="#accordion">
          <div class="extensions">
            <div class="extension-info card card-border-none">
              <div class="card-body">
                <h4 class="title">Solidus flexi variants</h4>
                <div class="categories"><span class="category">Customer-Facing</span></div>
                <p>Provide multiple product options, like colour and size, without creating individual variants. Customers can also upload or customize their own products (e.g. custom engravings).</p>
                <a class="link" href="https://github.com/boomerdigital/solidus_flexi_variants  " target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none">
              <div class="card-body">
                <h4 class="title">Solidus prototypes</h4>
                <div class="categories"><span class="category">Admin</span></div>
                <p>Create product templates to reduce the time it takes to create new products from scratch.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_prototypes" target="_blank">Get it on GitHub</a>
              </div>
            </div>


            <div class="extension-info card card-border-none">
              <div class="card-body">
                <h4 class="title">Solidus paperclip</h4>
                <div class="categories"><span class="category">Admin</span></div>
                <p>Upload and attach images to products, variants and taxons.</p>
                <a class="link" href="https://github.com/StemboltHQ/paperclip" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none">
              <div class="card-body">
                <h4 class="title">Solidus product assembly</h4>
                <div class="categories"><span class="category">Admin</span></div>
                <p>Create products that contain several items or customizable features like a gift basket or clothing options on a doll.</p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_product_assembly" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none">
              <div class="card-body">
                <h4 class="title">Solidus asset variant options</h4>
                <div class="categories"><span class="category">Admin</span></div>
                <p>Share product images across multiple variants to save time when options such as clothing size don’t change the way a product looks.</p>
                <a class="link" href="https://github.com/solidusio/solidus_asset_variant_options" target="_blank">Get it on GitHub</a>
              </div>
            </div>

            <div class="extension-info card card-border-none">
              <div class="card-body">
                <h4 class="title">Solidus related products</h4>
                <div class="categories"><span class="category">Customer-Facing</span> <span class="category">Admin</span></div>
                <p>Create relationships between products and use them to cross sell and upsell compatible products like accessories, replacement parts and warranties. </p>
                <a class="link" href="https://github.com/solidusio-contrib/solidus_related_products" target="_blank">Get it on GitHub</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-block content-block-gray-100" data-aos="fade">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md">
        <div class="block-content mb-md-0">
          <h2 class="title">Build an extension.</h2>
          <p>Don’t see the functionality that you need? Create your own  extension and share it with the community so everyone can benefit from your expertise! All that’s needed is a commitment to maintenance and a pull request</p>
          <a class="font-weight-bolder" href="https://github.com/solidusio/extensions.solidus.io/blob/master/Rakefile" target="_blank">Submit a pull request.</a>
        </div>
      </div>
      <div class="col-md text-center text-md-right">
        <img class="img-fluid" src="assets/images/illustrations/build.svg" alt="Edit Product">
      </div>
    </div>
  </div>
</div>

<div class="content-block text-center" data-aos="fade">
  <div class="container">
    <h2 class="title mb-4">Want to get started with an extension?</h2>
    <p class="mb-4"><a class="btn btn-primary" href="#" target="_blank">Get Extensions</a></p>
    <a class="font-weight-bolder" href="http://extensions.solidus.io/">Or, check out the extension support for each release of Solidus.</a>
  </div>
</div>
