---
title: Extensions
---

<div class="extensions-hero content-block content-block-gray-900 text-center">
  <div class="container container-md mb-7">
    <h1 class="title">Extensions for days.</h1>
    <p class="lead">Fine-tune your store’s capabilities with free extensions for Solidus.</p>
  </div>

  <img class="img-fluid" src="<%= image_path('illustrations/extensions.png') %>" srcset="<%= image_path('illustrations/extensions.png') %>, <%= image_path('illustrations/extensions@2x.png') %> 2x" alt="Extensions">
</div>


<div class="extensions-filter" data-aos="fade">
  <div class="container">
    <h6 class="title">Show</h6>

    <div class="form-check form-check-custom">
      <input type="checkbox" class="form-check-input" id="filter-customer" name="customer" checked>
      <label class="form-check-label" for="filter-customer">
        <%= inline_svg("icons/checkbox.svg", class: "isvg") %>
        Customer-Facing
      </label>
    </div>

    <div class="form-check form-check-custom">
      <input type="checkbox" class="form-check-input" id="filter-admin" name="admin" checked>
      <label class="form-check-label" for="filter-admin">
        <%= inline_svg("icons/checkbox.svg", class: "isvg") %>
        Admin
      </label>
    </div>

    <div class="form-check form-check-custom">
      <input type="checkbox" class="form-check-input" id="filter-backend" name="backend" checked>
      <label class="form-check-label" for="filter-backend">
        <%= inline_svg("icons/checkbox.svg", class: "isvg") %>
        Backend Functionality
      </label>
    </div>
  </div>
</div>

<div class="extensions-list-block content-block content-block-gray-100" data-aos="fade">
  <div class="container">

    <div class="alert alert-warning mb-0 d-none" role="alert">
      No extensions matching your criteria
    </div>

    <div class="accordion">
      <% data.extensions.each.with_index do |data, i| %>
      <% group = data[0] %>
      <div class="extensions-group accordion-item" id="<%= group.split(' ').first.downcase %>">
        <h3 class="title">
          <a href="#" data-toggle="collapse" data-target="#collapse<% i %>"><%= group %> <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a>
        </h3>

        <div id="collapse<%= i %>" class="content collapse show" data-parent="#accordion">
          <div class="extensions">
          <% data[1].each do |extension| %>
            <%= partial 'partials/extension', locals: { extension: extension } %>
          <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="content-block content-block-gray-100" data-aos="fade">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md">
        <div class="block-content mb-md-0">
          <h2 class="title">Build an extension.</h2>
          <p>Don’t see the functionality that you need? Create your own  extension and share it with the community so everyone can benefit from your expertise! All that’s needed is a commitment to maintenance and a pull request.</p>
          <a class="font-weight-bolder" href="https://github.com/solidusio/extensions.solidus.io/blob/master/Rakefile" target="_blank">Submit a pull request.</a>
        </div>
      </div>
      <div class="col-md text-center text-md-right">
        <img class="img-fluid" src="<%= image_path('illustrations/build.svg') %>" alt="Edit Product">
      </div>
    </div>
  </div>
</div>

<div class="content-block text-center" data-aos="fade">
  <div class="container">
    <h2 class="title mb-4">Want to get started with an extension?</h2>
    <p class="mb-4"><a class="btn btn-primary" href="http://extensions.solidus.io/" target="_blank">Get Extensions</a></p>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag 'extensions' %>
<% end %>
