---
title: Extensions
description: Solidus provides a lot of free extensions. Fine-tune your store’s capabilities!
---

<div class="extensions-hero hero-block content-block">
  <div class="container">
    <h1 class="title">Extensions for days.</h1>
    <p class="lead">Fine-tune your store’s capabilities with free extensions for Solidus.</p>
    <a href="https://github.com/solidusio/solidus_dev_support" target="_blank" class="btn btn-primary">Build your own</a>
  </div>
</div>


<div class="extensions-filter p-0">
  <div class="container-fluid extensions-filter__navbar d-flex justify-content-center">

  <input type="checkbox" class="form-check-input show-all__mobile show-all__mobile__input" id="show-all" name="Show all">
  <label class="show-all__mobile show-all__mobile__label" for="show-all"></label>

    <ul class="extensions-filter__navbar__nav nav align-items-center">
      <% extensions = Solidus::Extension.from_yaml_data(data.extensions, environment: environment) %>

      <% group_extensions(extensions).each_pair.with_index do |(group_name, group_extensions), i| %>
        <li class="nav-item" data-filter="<%= group_name.underscore.gsub('_', '-') %>">
          <div class="form-check-custom pl-0">
            <input type="checkbox" class="form-check-input extensions-filter__input" id="filter-<%= group_name.underscore.gsub(' ', '-') %>" name="<%= group_name.underscore.gsub(' ', '-') %>">
            <label class="btn btn-sm extensions-filter__label" for="filter-<%= group_name.underscore.gsub(' ', '-') %>">
              <%= group_name %>
            </label>
          </div>
        </li>
      <% end %>
      <button class="js-more btn btn-sm extensions-filter__more">More</button>
    </ul>
  </div>
</div>

<div class="extensions-list-block content-block content-block-gray-100">
  <div class="extensions-list-block__container container container-xl">

    <% group_extensions(extensions).each_pair.with_index do |(group_name, group_extensions), i| %>
      <div class="extensions-group <%= group_name.underscore.gsub(' ', '-') %> " id="extensions-group-<%= group_name.underscore.gsub(' ', '-') %>">
        <h3 class="title">
          <%= group_name %>
        </h3>
        <div class="extensions">
          <% group_extensions.sort_by(&:title).each do |extension| %>
            <%= partial 'partials/extension', locals: { extension: extension } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag 'extensions' %>
<% end %>
