---
title: Features
---

<div class="features-hero content-block content-block-gray-900 text-center">
  <div class="container container-md mb-6">
    <h1 class="title">Made for complex storefronts.</h1>
    <p class="lead">
      When you choose Solidus, you never have to change your platform again.
      Solidus can flex, adjust and extend as you deliver your customers a
      personalized shopping experience all day, every day.
    </p>
  </div>

  <img class="img-fluid"
       src="<%= image_path('illustrations/features.png') %>"
       srcset="<%= image_path('illustrations/features.png') %>, <%= image_path('illustrations/features@2x.png') %> 2x"
       alt="Edit Product">
</div>

<div class="features-main-block content-block content-block-gray-100">
  <div class="container">
    <h2 class="title text-center mb-4 mb-md-6">Our open source code works for you.</h2>
    <div class="row justify-content-around">
      <div class="col-md-4 text-center">
        <div class="feature">
          <div class="picture">
            <%= inline_svg("icons/stable.svg", class: "isvg") %>
          </div>
          <h4 class="title">Stable</h4>
          <p class="text-left text-md-center text-lg-left">
            Our team of core developers review all community code submissions
            for quality. You only receive production-ready releases and
            features.
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="feature">
          <div class="picture">
            <%= inline_svg("icons/secure.svg", class: "isvg") %>
          </div>
          <h4 class="title">Secure</h4>
          <p class="text-left text-md-center text-lg-left">
            Solidus provides timely security patches when vulnerabilities are
            discovered. Updates are easy to patch and available for
            multiple versions of Solidus.
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="feature">
          <div class="picture">
            <%= inline_svg("icons/scalable.svg", class: "isvg") %>
          </div>
          <h4 class="title">Scalable</h4>
          <p class="text-left text-md-center text-lg-left">
            Our free, open source codebase is built for high-volume stores: it
            loads quickly to handle your sales and spikes in traffic with ease.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-details-block content-block">
  <div class="container">
    <h2 class="title">All the features.</h2>
    <p class="lead mb-5 mb-md-8">
      Solidus offers essential ecommerce features out of the box. Take what you
      need, leave what you don’t, then fine-tune the rest to meet the needs of
      your store.
    </p>

    <div class="features-groups accordion">
      <div class="features-group accordion-item">
        <h3 class="title">
          <a class="" href="#" data-toggle="collapse" data-target="#collapse1">
            Product <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %>
          </a>
        </h3>

        <div id="collapse1" class="content collapse show" data-parent="#accordion">
          <div class="row">
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Inventory management</h6>
                <p>
                  Manage your incoming and outgoing inventory across multiple
                  warehouses and storefronts. It’s easy to update and monitor
                  your product stock as your business grows.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Product management</h6>
                <p>
                  Add products and create variants based on product attributes
                  or user-collected data. Create searchable product lists. Even
                  add metadata to products such as a manufacturer number.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Taxonomy management</h6>
                <p>
                  Organize your products using custom categories and subcategories.
                  Give your categories customer-friendly names on the front-end.
                  Your products can belong to any number of categories.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-group accordion-item">
        <h3 class="title">
          <a class="collapsed" href="#" data-toggle="collapse" data-target="#collapse2">
            Flexibility <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %>
          </a>
        </h3>

        <div id="collapse2" class="content collapse" data-parent="#accordion">
          <div class="row">
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">RESTful API</h6>
                <p>
                  Customize anything with the Solidus API. Build an API-based
                  frontend, a single-page application or dynamic elements that
                  don't require page reloads.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Fully customizable front-end</h6>
                <p>
                  Build your storefronts exactly the way that your marketing
                  team designed it. No more shoehorning your brand into
                  restrictive themes.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Multi-tenancy</h6>
                <p>
                  Manage your stores across multiple storefronts from one
                  convenient admin, regardless of differing currencies or
                  shipping solutions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-group accordion-item">
        <h3 class="title">
          <a class="collapsed" href="#" data-toggle="collapse" data-target="#collapse3">
            Payment <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %>
          </a>
        </h3>

        <div id="collapse3" class="content collapse" data-parent="#accordion">
          <div class="row">
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Tax calculations</h6>
                <p>
                  Calculate taxes for each country, state, or custom zone
                  that you ship to. The built-in tax calculator is flexible
                  and extensible, which means that it can handle all your
                  complex rates and tax categories.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Payment integrations</h6>
                <p>
                  Choose from dozens of payment processing services like
                  Braintree, Stripe and PayPal. Our extensions support
                  hundreds of payment methods used internationally.
                  Including Apple Pay.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Promotions</h6>
                <p>
                  Create promotions with a variety of built-in rules
                  and actions. Offer discounts on large orders, referral
                  discount codes, free products based on purchase history and
                  other, more complex promotions.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Subscription support</h6>
                <p>
                  Offer subscription payments for individual products and
                  services in your ecommerce store with definable start or end
                  dates and fully customizable payment periods.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Store credit</h6>
                <p>
                  Grant store credit to your customers as gifts or
                  reimbursements. Store credit becomes an additional payment
                  option that can be applied after taxes on any future order.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-group accordion-item">
        <h3 class="title">
          <a class="collapsed" href="#" data-toggle="collapse" data-target="#collapse4">
            Shipping <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %>
          </a>
        </h3>

        <div id="collapse4" class="content collapse" data-parent="#accordion">
          <div class="row">
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Order management</h6>
                <p>
                  Streamline your order fulfillment. See customer carts,
                  shipments, promotions, returns and payment information in one
                  location. Easily resend purchase or shipping confirmation
                  emails or make payment adjustments after a sale.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Multi-carrier shipping</h6>
                <p>
                  Provide multiple shipping options at checkout. Offer free
                  shipping, flat- or percentage-based rates. Buy postage,
                  request real-time carrier rates and shop around with shipping
                  extensions.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Returns and exchanges</h6>
                <p>
                  Make returns and exchanges hassle-free for your customers as
                  well as your customer service team. Manage every aspect of
                  these transactions and keep them clearly documented.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-group accordion-item">
        <h3 class="title">
          <a class="collapsed" href="#" data-toggle="collapse" data-target="#collapse5">
            Customers <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %>
          </a>
        </h3>

        <div id="collapse5" class="content collapse" data-parent="#accordion">
          <div class="row">
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">User permissions</h6>
                <p>
                  Limit access to any part of the Solidus admin interface.
                  Create and assign multiple roles for each user. Restrict
                  sales data, site settings or editing functionality for any
                  section individually.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Customer management</h6>
                <p>
                  View your customers’ lifetime stats – including their total
                  number of orders, address changes, store credit amount and
                  more.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-group accordion-item">
        <h3 class="title">
          <a class="collapsed" href="#" data-toggle="collapse" data-target="#collapse6">
            Analytics <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %>
          </a>
        </h3>

        <div id="collapse6" class="content collapse" data-parent="#accordion">
          <div class="row">
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Reports</h6>
                <p>
                  View sales reports directly in the admin interface. Connect with a
                  reports solution you already use like Looker or RJ Metrics and
                  streamline your analytics. See our extensions to quickly hook
                  into Google Analytics, too.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-block content-block-gray-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md">
        <div class="block-content mb-4 mb-md-0">
          <h2 class="title">All the freedom.</h2>
          <p>
            Some stores just don’t fit the mold – that’s where Solidus shines.
            An open-source codebase with extension points built into all critical
            intersections means you can build anything else you might need. Your
            ecommerce experience becomes absolutely limitless.
          </p>
        </div>
      </div>
      <div class="col-md text-center text-md-right">
        <img class="img-fluid"
             src="<%= image_path('illustrations/buildings.png') %>"
             srcset="<%= image_path('illustrations/buildings.png') %>, <%= image_path('illustrations/buildings@2x.png') %> 2x"
             alt="Edit Product">
      </div>
    </div>
  </div>
</div>

<div class="call-to-action content-block text-center">
  <div class="container container-md">
    <h3 class="title">Have a question? <span class="d-block">Ask the community.</span></h3>
    <a class="btn btn-primary btn-w-icon btn-lg" href="http://slack.solidus.io/" target="_blank"><%= inline_svg("social-icons/slack.svg", class: "isvg") %> <span class="text">Join our Slack</span></a>
  </div>
</div>
