---
title: Features
description: Solidus can flex, adjust and extend as you deliver your customers a personalized shopping experience all day, every day.
---

<div class="content-block-gray-100">
  <div class="features-hero features__gradient hero-block content-block--skewed">
    <div class="content-wrapper">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg">
            <div class="pr-md-6 mb-3">
              <h1 class="title">The foundation for eCommerce disruptors.</h1>
              <p class="mb-md-6">
                Build your store on top of a complete eCommerce suite that takes you to market in no
                time. Then iterate, customize and extend until perfection. When you choose Solidus,
                you never have to change platforms again.
              </p>
              <a class="btn btn-primary btn-lg" href="/get-started">Get started</a>
              <a class="btn btn-secondary btn-white" href="http://demo.solidus.io/" target="_blank">Demo</a>
            </div>
          </div>
          <div class="col-lg">
            <div class="hero-image-wrapper">
              <%= inline_svg("illustrations/features-hero.svg", class: "hero-image") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md">
          <h2>Our legacy is shaped by success.</h2>
          <p>
            Solidus is built on the shared knowledge of brands that revolutionized the world of
            consumer retail. We cherish this legacy and constantly iterate on it to provide you with
            a complete, fully customizable eCommerce platform.
          </p>
        </div>
        <div class="col-md">
          <%= inline_svg("illustrations/features-brands_updated.svg", class: "img-fluid") %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-block features__gradient text-center">
    <div class="container container-md">
      <h2 class="title">All the features.</h2>
      <p class="lead">
        Solidus offers a complete suite of essential eCommerce features out of the box in a fully
        modular package. Take what you need, leave what you don’t, and customize any of the built-in
        features to your heart's desire.
      </p>
    </div>
  </div>

  <div class="sub-navbar">
    <div class="container container-md">
      <ul class="nav justify-content-around align-items-center">
        <li class="nav-item"><a class="nav-link" href="#product-catalog">Product catalog</a></li>
        <li class="nav-item"><a class="nav-link" href="#flexibility">Flexibility</a></li>
        <li class="nav-item"><a class="nav-link" href="#payment">Payment</a></li>
        <li class="nav-item"><a class="nav-link" href="#logistics">Logistics</a></li>
      </ul>
    </div>
  </div>

  <div class="features content-block" id="product-catalog">
    <div class="container">
      <div class="features__header">
        <h2><%= inline_svg("icons/product.svg", class: "isvg group") %> Product catalog</h2>
      </div>
      <div class="row">
        <div class="col-md order-md-2 mb-5 mb-md-0">
          <img src="<%= image_path("illustrations/features-product@1x.png") %>" data-srcset="<%= image_path("illustrations/features-product@2x.png") %> 2x, <%= image_path("illustrations/features-product@1x.png") %> 1x" class="img-fluid" width="100%" alt="Product" />
        </div>
        <div class="col-md">
          <div class="mb-5">
            <h4>Inventory management</h4>
            <p>
              Manage your incoming and outgoing inventory across multiple warehouses and
              storefronts. It’s easy to update and monitor your product stock as your business
              grows.
            </p>
          </div>
          <div class="mb-5">
            <h4>Product management</h4>
            <p>
              Add products and create variants based on product attributes or user-collected data.
              Create searchable product lists. Even add metadata to products such as a manufacturer
              number.
            </p>
          </div>
          <div class="mb-5">
            <h4>Taxonomy management</h4>
            <p>
              Organize your products using custom categories and subcategories. Give your categories
              customer-friendly names on the front-end. Your products can belong to any number of
              categories.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="features content-block--skewed content-block-gray-900" id="flexibility">
    <div class="features__flexibility container content-wrapper">
      <div class="features__header mt-3 mt-md-0">
        <h2><%= inline_svg("icons/flexibility.svg", class: "isvg group") %> Flexibility</h2>
      </div>
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="row">
            <div class="col-md">
              <h4>RESTful API</h4>
              <p>
                Create a fully headless eCommerce experience by leveraging our complete RESTful API.
                Browse your product catalog, add items to your cart and check out. You can even
                access admin functionality to build your own backend UI.
              </p>
            </div>
            <div class="col-md">
              <h4>GraphQL API</h4>
              <p>
                If you fancy GraphQL instead of REST, we have that too. Our <a href="https://github.com/solidusio-contrib/solidus_graphql_api" target="_blank">GraphQL API</a> allows you
                to access and replicate any aspects of the standard Solidus experience. Integrate it
                with a React.js/Vue.js frontend to create an amazing storefront.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="features content-block" id="payment">
    <div class="container">
      <div class="features__header mt-md-6 mt-3">
        <h2><%= inline_svg("icons/payments.svg", class: "isvg group") %> Payment</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-5">
          <img class="mb-5" src="<%= image_path('illustrations/features-tax_placeholder@2x.png') %>" data-src="<%= image_path('illustrations/features-tax.svg') %>" alt="Tax calculation" height="178" width="auto">
          <h4>Tax calculation</h4>
          <p>
            Calculate taxes for each country, state, or custom zone that you ship to. The built-in
            tax calculator is flexible and extensible, which means that it can handle all your
            complex rates and tax categories.</p>
        </div>
        <div class="col-lg-4 mb-5">
          <img class="mb-5" src="<%= image_path('illustrations/features-payment_placeholder@2x.png') %>" data-src="<%= image_path('illustrations/features-payment.svg') %>" alt="Payment integrations" height="178" width="auto">
          <h4>Payment integrations</h4>
          <p>
            Choose from dozens of payment processing services like <a href="https://github.com/solidusio/solidus_paypal_braintree" target="_blank">Braintree</a>, <a href="https://github.com/solidusio/solidus_stripe" target="_blank">Stripe</a> and <a href="https://github.com/solidusio-contrib/solidus_paypal_commerce_platform" target="_blank">PayPal</a>. Our
            extensions support hundreds of payment methods used internationally, including digital
            wallets such as Apple Pay and Google Pay.
          </p>
        </div>
        <div class="col-lg-4 mb-5">
          <img class="mb-5" src="<%= image_path('illustrations/features-promotions_placeholder@2x.png') %>" data-src="<%= image_path('illustrations/features-promotions.svg') %>" alt="Promotions" height="178" width="auto">
          <h4>Promotions engine</h4>
          <p>
            Create promotions with a variety of built-in rules and actions. Offer discounts on large
            orders, referral discount codes, free products based on purchase history and other,
            more complex promotions.
          </p>
        </div>
        <div class="col-lg-4 offset-lg-2 mb-5">
          <img class="mb-5 mt-md-5" src="<%= image_path('illustrations/features-subscription_placeholder@2x.png') %>" data-src="<%= image_path('illustrations/features-subscription.svg') %>" alt="Subscription support" height="178" width="auto">
          <h4>Subscription support</h4>
          <p>
            Offer subscription payments for individual products and services in your ecommerce store
            with definable start or end dates and fully customizable payment periods.
          </p>
        </div>
        <div class="col-lg-4">
          <img class="mb-5 mt-md-5" src="<%= image_path('illustrations/features-store-credit_placeholder@2x.png') %>" data-src="<%= image_path('illustrations/features-store-credit.svg') %>" alt="Store credit" height="178" width="auto">
          <h4>Store credit</h4>
          <p>
            Grant store credit to your customers as gifts or reimbursements. Store credit becomes an
            additional payment option that can be applied after taxes on any future order.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="features content-block--skewed content-block-gray-900" id="logistics">
    <div class="features__logistics container content-wrapper">
      <div class="features__header mt-3 mt-md-0">
        <h2><%= inline_svg("icons/logistics-features.svg", class: "isvg group") %> Logistics</h2>
      </div>
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="row">
            <div class="col-md">
              <h4>Multi-carrier shipping</h4>
              <p>
                Provide multiple shipping options at checkout. Offer free shipping, flat or
                percentage-based rates. Buy postage, request real-time carrier rates and shop around
                with shipping extensions.
              </p>
            </div>

            <div class="col-md">
              <h4>Returns and exchanges</h4>
              <p>
                Make returns and exchanges hassle-free for your customers as well as your customer
                service team. Manage every aspect of these transactions and keep them clearly
                documented.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="features content-block">
    <div class="content-wrapper">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md">
            <h2 class="mt-3 mt-md-0">All the freedom.</h2>
            <p>
              Some stores just don’t fit the mold – that’s where Solidus shines. An open-source
              codebase with extension points built into all critical intersections that allows you to
              build anything you need. With Solidus, your eCommerce experience becomes absolutely
              limitless.
            </p>
          </div>
          <div class="col-md mt-5 mt-sm-0">
            <img class="img-fluid" src="<%= image_path('illustrations/features-all-the-freedom_placeholder@2x.png') %>" data-src="<%= image_path('illustrations/features-all-the-freedom.svg') %>" alt="All the freedom">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/cta_bottom" %>
