---
title: Features
---

<div class="features-hero content-block content-block-gray-900 text-center">
  <div class="container container-md mb-6">
    <h1 class="title">Made for complex storefronts.</h1>
    <p class="lead">When you choose Solidus, you never have to change your platform again. Solidus can flex, adjust and extend as you deliver your customers a personalized shopping experience all day, every day.</p>
  </div>

  <img class="img-fluid" src="assets/images/illustrations/cards.png" srcset="assets/images/illustrations/cards.png, assets/images/illustrations/cards@2x.png 2x" alt="Edit Product">
</div>

<div class="features-main-block content-block content-block-gray-100" data-aos="fade">
  <div class="container">
    <h3 class="title text-center mb-4 mb-md-6">Our open source code works for you.</h3>
    <div class="row justify-content-around">
      <div class="col-md-4 text-center">
        <div class="feature">
          <%= inline_svg("icons/stable.svg", class: "isvg") %>
          <h6 class="title">Stable</h6>
          <p class="text-left text-md-center text-lg-left">Our team of core developers review all community code submissions for quality assurance so you only receive the best production-ready releases and features.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="feature">
          <%= inline_svg("icons/secure.svg", class: "isvg") %>
          <h6 class="title">Secure</h6>
          <p class="text-left text-md-center text-lg-left">Solidus consistently provides new security updates so you can keep your online store secure.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="feature">
          <%= inline_svg("icons/scalable.svg", class: "isvg") %>
          <h6 class="title">Scalable</h6>
          <p class="text-left text-md-center text-lg-left">Our free, open source codebase is built for high volume stores and loads quickly to handle spikes in traffic and sales with ease.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-details-block content-block" data-aos="fade">
  <div class="container">
    <h3 class="title">All the features.</h3>
    <p class="lead mb-5 mb-md-8">Solidus offers all essential ecommerce features out-of-the-box. Take what you need, leave what you don’t, then fine-tune to meet the specific needs of your store.</p>


    <div class="features-groups accordion">
      <div class="features-group accordion-item">
        <h4 class="title"><a class="" href="#" data-toggle="collapse" data-target="#collapse1">Product <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapse1" class="content collapse show" data-parent="#accordion">
          <div class="row">
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Inventory management</h6>
                <p>Manage your inventory across multiple warehouses and storefronts. It’s easy to add, update, and monitor your products as you grow.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Product management</h6>
                <p>Add, update or customize all of your products. You can create variants from specified attributes or user-collected data, create searchable product lists and even add metadata to products such as a manufacturer number. </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Taxonomy management</h6>
                <p>Organize your products in custom categories and subcategories. You can also add your products to multiple categories and name your categories differently on the front-end, if desired.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-group accordion-item">
        <h4 class="title"><a class="collapsed" href="#" data-toggle="collapse" data-target="#collapse2">Flexibility <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapse2" class="content collapse" data-parent="#accordion">
          <div class="row">
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">RESTful API</h6>
                <p>Customize anything with the Solidus API. With the API you can build your entire front end, create a single page app, or even build dynamic elements that don’t require page reload.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Fully customizable front-end</h6>
                <p>Build your full site exactly how your marketing team designed it. No more shoehorning your brand into restrictive themes.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Multi-tenancy</h6>
                <p>Manage stores across multiple storefronts from one convenient admin regardless of differing currencies or shipping solutions. </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-group accordion-item">
        <h4 class="title"><a class="collapsed" href="#" data-toggle="collapse" data-target="#collapse3">Payment <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapse3" class="content collapse" data-parent="#accordion">
          <div class="row">
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Tax calculations</h6>
                <p>Customize anything with the Solidus API. With the API you can build your entire front end, create a single page app, or even build dynamic elements that don’t require page reload.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Multiple payment gateways</h6>
                <p>Build your full site exactly how your marketing team designed it. No more shoehorning your brand into restrictive themes.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Promotions</h6>
                <p>Manage stores across multiple storefronts from one convenient admin regardless of differing currencies or shipping solutions.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Subscription support</h6>
                <p>Offer subscription payments for individual products and services in your ecommerce store with definable start or end dates and fully customizable payment periods.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Store credits</h6>
                <p>Provide store credit to customers when necessary. The credit is automatically applied to their next order after taxes as a payment option. </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-group accordion-item">
        <h4 class="title"><a class="collapsed" href="#" data-toggle="collapse" data-target="#collapse4">Shipping <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapse4" class="content collapse" data-parent="#accordion">
          <div class="row">
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Order management</h6>
                <p>Organize and streamline the order fulfillment process. Access each customer’s cart, shipping and payment information, shipment tracking, and any exchange or return related information in one convenient location. It’s easy to resend purchase or shipping confirmation emails and make any payment adjustments after the sale. </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Multi-carrier shipping</h6>
                <p>Provide multiple shipping options at checkout. You can offer free shipping or flat/percentage based rates and buy postage, get real-time rates for actual costs and shop around with our extensions. </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Returns and exchanges</h6>
                <p>Make it hassle-free for your customers and your service team to manage returns, refunds and exchanges by customizing each transaction. </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-group accordion-item">
        <h4 class="title"><a class="collapsed" href="#" data-toggle="collapse" data-target="#collapse5">Customers <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapse5" class="content collapse" data-parent="#accordion">
          <div class="row">
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">User permissions</h6>
                <p>Set user permissions to limit what sections of the Solidus admin each role has access to. You can create unlimited roles and assign multiple roles. With user permissions you can keep admins from viewing sales data, settings, or restrict editing functionality on products or promotions, or any other section of the admin.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Customer management</h6>
                <p>View your customers’ lifetime stats including number of orders, address changes, store credit and more.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-group accordion-item">
        <h4 class="title"><a class="collapsed" href="#" data-toggle="collapse" data-target="#collapse6">Analytics <%= inline_svg("icons/arrow-down.svg", class: "isvg isvg-arrow") %></a></h4>

        <div id="collapse6" class="content collapse" data-parent="#accordion">
          <div class="row">
            <div class="col-md-4">
              <div class="feature">
                <h6 class="title">Reports</h6>
                <p>See basic sales reports directly in the admin or connect with a solution you’re already using like Looker or RJ Metrics to streamline your analytics. See our extensions for a quick hook into Google Analytics too.  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-block content-block-gray-100" data-aos="fade">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md">
        <div class="block-content mb-4 mb-md-0">
          <h2 class="title">All the freedom.</h2>
          <p>Some stores just don’t fit the mold—that’s where Solidus shines. An open-source codebase with extension points built into all critical intersections means you can build anything else you might need. Your ecommerce experience becomes absolutely limitless.</p>
        </div>
      </div>
      <div class="col-md text-center text-md-right">
        <img class="img-fluid" src="assets/images/illustrations/buildings.png" srcset="assets/images/illustrations/buildings.png, assets/images/illustrations/buildings@2x.png 2x" alt="Edit Product">
      </div>
    </div>
  </div>
</div>

<div class="content-block text-center" data-aos="fade">
  <div class="container">
    <h2 class="title mb-4">Have a question? Ask the community.</h2>
    <a class="btn btn-primary btn-w-icon" href="#" target="_blank"><%= inline_svg("social-icons/slack.svg", class: "isvg") %> <span class="text">Join our Slack</span></a>
  </div>
</div>

