---
title: Get started with Solidus
description: Solidus is an open source ecommerce solution built with Ruby on Rails and maintained by a community of passionate developers.
---

<div class="get-started-hero hero-block content-block">
  <div class="container container-md text-center">
    <h1 class="title">Get started <span class="d-block">with <span>Solidus</span></span></h1>
    <p class="lead mb-md-6">
      Solidus is an open source ecommerce solution built with Ruby on Rails and maintained by a community of passionate developers.
    </p>
    <div class="btn-group get-started__anchor-links">
      <a href="#developers" class="">For Developers</a>
      <a href="#non-developers" class="">For Non-developers</a>
    </div>
  </div>
</div>

<div class="content-block content-block-gray-900">
  <div class="container container-md content-block pt-0 text-center" id="developers">
    <h5 class="text-success">For Developers</h5>
    <h2>A truly open-source <span class="d-lg-block">mindset</span></h2>
    <p class="lead">Solidus is created by a dedicated group of passionate developers, agencies and retailers that work together to move the platform forward.</p>
  </div>
  <div class="container get-started-developers">
    <div class="row align-items-center get-started-developers__step">
      <div class="col-md-5 get-started-developers__step__image mb-4 mb-md-0">
        <img data-srcset="<%= image_path('illustrations/get-started_terminal@2x.png') %> 2x, <%= image_path('illustrations/get-started_terminal@1x.png') %> 1x" class="img-fluid" alt="Install Solidus" width="100%" >
      </div>
      <div class="col-md-5 ml-md-auto">
        <h4>Install Solidus</h4>
        <p>If you have an existing Ruby on Rails application, installing Solidus is fairly simple.</p>
        <a href="https://github.com/login?return_to=%2Fsolidusio%2Fsolidus" target="blank" class="btn btn-primary"><%= inline_svg("social-icons/github.svg", class: "isvg") %> Fork Solidus</a>
      </div>
    </div>
    <div class="row align-items-center get-started-developers__step">
      <div class="col-md-5 get-started-developers__step__image mb-4 mb-md-0">
        <img data-srcset="<%= image_path('illustrations/get-started_browser@2x.png') %> 2x, <%= image_path('illustrations/get-started_browser@1x.png') %> 1x" class="img-fluid" alt="Build your storefront" width="100%" >
      </div>
      <div class="col-md-5 ml-md-auto">
        <h4>Build your storefront</h4>
        <p>If you have an existing Ruby on Rails application, installing Solidus is fairly simple.</p>
        <a href="/extensions" class="get-started-link">See all the extensions</a>
      </div>
    </div>
    <div class="row align-items-center get-started-developers__step">
      <div class="col-md-5 get-started-developers__step__image mb-4 mb-md-0">
        <img data-srcset="<%= image_path('illustrations/get-started_guides@2x.png') %> 2x, <%= image_path('illustrations/get-started_guides@1x.png') %> 1x" class="img-fluid" alt="Learn Solidus" width="100%" >
      </div>
      <div class="col-md-5 ml-md-auto">
        <h4>Learn Solidus</h4>
        <p>Solidus Guides provide a foundation for web developers to learn the Solidus ecommerce platform. Use it while you build out your Solidus store.</p>
        <a href="https://guides.solidus.io/developers/" target="_blank" class="get-started-link">Read our guides</a>
      </div>
    </div>
    <div class="row align-items-center get-started-developers__step">
      <div class="col-md-5 get-started-developers__step__image mb-4 mb-md-0">
        <img data-srcset="<%= image_path('illustrations/get-started_support@2x.png') %> 2x, <%= image_path('illustrations/get-started_support@1x.png') %> 1x" class="img-fluid" alt="Solidus support" width="100%" >
      </div>
      <div class="col-md-5 ml-md-auto">
        <h4>Get help</h4>
        <p>Get help from our community. Stay connected with developers, stakeholders and experts all around the world.</p>
        <a href="http://slack.solidus.io/" target="_blank" class="get-started-link">Join our Slack</a>
      </div>
    </div>
  </div>
</div>

<div class="content-block">
  <div class="container container-md content-block pt-0 text-center" id="non-developers">
    <h5 class="text-primary">For Non-developers</h5>
    <h2>Yours to customize, <span class="d-lg-block">yours forever.</span></h2>
    <p class="lead">Free your business from useless limitations. Solidus gives you the freedom to change and iterate as much as you want. Start small, grow big: discover what moves the needle for your brand and make it happen.</p>
  </div>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-md get-started__image">
        <img data-srcset="<%= image_path('illustrations/take-a-tour-solidus@2x.png') %> 2x, <%= image_path('illustrations/take-a-tour-solidus@1x.png') %> 1x" class="img-fluid" alt="Take a tour" width="100%" >
      </div>
      <div class="col-md">
        <h3>Take a tour</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
      </div>
    </div>
    <div class="content-block pb-0">
      <div class="row align-items-center">
        <div class="col-md order-md-2 get-started__image">
          <img data-srcset="<%= image_path('illustrations/get-help-from-solidus@2x.png') %> 2x, <%= image_path('illustrations/get-help-from-solidus@1x.png') %> 1x" class="img-fluid" alt="Get help from Solidus experts" width="100%" >
        </div>
        <div class="col-md order-md-1">
          <h3>Get help from Solidus experts</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
          <a class="get-started-link" href="/partners">Find a Solidus Partner</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-block content-block-gray-100">
  <div class="container container-md text-center">
    <h2>See what Solidus can do for you</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
  </div>
  <div class="content-block">
    <div class="container-fluid px-0">
      <div class="get-started-services centered-carousel row-1">
        <% data.get_started_services.values.select { |service| service }.take(4).each do |service| %>
          <div class="px-1 px-md-2 pt-2 pb-2">
            <div class="get-started-services__card card">
              <div class="card-body">
                <%= inline_svg("icons/#{service.icon}", class: "isvg group") %>
                <h5 class="get-started-services__card__title">
                  <a href="/<%= service.url %>">
                    <%= service.name %> <%= inline_svg("icons/arrow-right.svg", class: "isvg") %>
                  </a>
                </h5>
                <p><%= service.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="get-started-services mt-4 centered-carousel row-2">
        <% data.get_started_services.values.select { |service| service }.drop(4).each do |service| %>
          <div class="px-1 px-md-2 pt-2 pb-2">
            <div class="get-started-services__card card">
              <div class="card-body">
                <%= inline_svg("icons/#{service.icon}", class: "isvg group") %>
                <h5 class="get-started-services__card__title">
                  <a href="/<%= service.url %>">
                    <%= service.name %> <%= inline_svg("icons/arrow-right.svg", class: "isvg") %>
                  </a>
                </h5>
                <p><%= service.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>
    <!--div class="container-fluid">
      <div class="get-started-services row">
        <% data.get_started_services.values.select { |service| service }.take(4).each do |service| %>
          <div class="col-md-4 mb-4">
            <div class="card get-started-services__card js-fully-clickable">
              <div class="card-body">
                <%= inline_svg("icons/#{service.icon}", class: "isvg group") %>
                <h5 class="get-started-services__card__title">
                  <a href="/<%= service.url %>">
                    <%= service.name %> <%= inline_svg("icons/arrow-right.svg", class: "isvg") %>
                  </a>
                </h5>
                <p><%= service.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="get-started-services row">
        <% data.get_started_services.values.select { |service| service }.take(5).each do |service| %>
          <div class="col-md-4 mb-4">
            <div class="card get-started-services__card js-fully-clickable">
              <div class="card-body">
                <%= inline_svg("icons/#{service.icon}", class: "isvg group") %>
                <h5 class="get-started-services__card__title">
                  <a href="/<%= service.url %>">
                    <%= service.name %> <%= inline_svg("icons/arrow-right.svg", class: "isvg") %>
                  </a>
                </h5>
                <p><%= service.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>-->

  </div>
</div>