---
---

<div class="homepage-hero skew-block content-block content-block-white">
  <div class="container content-block-white">
    <div class="row align-items-center">
      <div class="col-md">
        <div class="pr-md-6 mb-3">
          <h1 class="title">The only eCommerce platform you’ll ever need.</h1>
          <p class="lead mb-md-6">
            Build, customize and scale your store: no limits, no license fees. Solidus is the open-source eCommerce framework for digitally-native brands, fast-growing online businesses, and passionate developers.
          </p>
          <a class="btn btn-primary" href="#">Get started</a>
        </div>
      </div>
      <div class="col-md">
        <img src="<%= image_path('imgholdr-image.png') %>" class="img-fluid rounded" alt="" >
      </div>
    </div>
  </div>
</div>

<div class="content-block content-block-gray-100">
  <div class="content-block" data-aos="fade">
    <div class="container">
      <p class="title text-gray-600 text-center font-weight-light mb-4">Solidus powers the brands defining the future of eCommerce.</p>

      <div class="community-logos">
        <div class="row align-items-center justify-content-center">
          <div class="col-4 col-lg-auto"><a class="item" href="https://www.glossier.com/" target="_blank"><%= inline_svg("community-logos/glossier.svg", class: "isvg") %></a></div>
          <div class="col-4 col-lg-auto"><a class="item" href="https://www.meundies.com/" target="_blank"><%= inline_svg("community-logos/meundies.svg", class: "isvg") %></a></div>
          <div class="col-4 col-lg-auto"><a class="item" href="https://www.aceandtate.com/" target="_blank"><%= inline_svg("community-logos/ace&tate.svg", class: "isvg") %></a></div>
          <div class="col-4 col-lg-auto"><a class="item pt-1" href="https://casper.com/" target="_blank"><%= inline_svg("community-logos/casper.svg", class: "isvg") %></a></div>
          <div class="col-4 col-lg-auto"><a class="item" href="https://floyddetroit.com/" target="_blank"><%= inline_svg("community-logos/floyd.svg", class: "isvg") %></a></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="intro content-block">
    <div data-aos="fade">
      <div class="container container-md text-center">
        <h2 class="title">Yours to customize, yours forever.</h2>
        <p class="lead">
          Free your business from meaningless boundaries. Solidus gives you the freedom to experiment, change and develop. Start small, grow huge: find what’s really important for your business and make it happen.
        </p>
      </div>
      <div class="container">
        <div class="content-block">
          <div class="row align-items-center">
            <div class="col-md">
              <div class="pr-md-6">
                <img src="<%= image_path('imgholdr-image.png') %>" class="img-fluid rounded" alt="" >
              </div>
            </div>
            <div class="col-md">
              <div class="pl-md-6">
                <div class="mb-4 mt-4">
                  <h3>Truly Flexible</h3>
                  <p>
                    Solidus fits to your business requirements, not the other way around. Integrate anything, customize everything, without constraints.
                  </p>
                </div>
                <div class="mb-4">
                  <h3>Endlessly Scalable</h3>
                  <p>
                    Adapt and react to any condition. Solidus handles the complexity and removes the headache of scaling from small to enterprise.
                  </p>
                </div>
                <div>
                  <h3>Stable and Reliable</h3>
                  <p>
                    Built on the shared knowledge of 500+ brands that revolutionized the eCommerce world. Tap into a shared knowledge of  10 years worth of experiences.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container" data-aos="fade">
      <div class="content-block">
        <div class="row align-items-center">
          <div class="col-md">
            <div class="pr-md-6">
              <div class="mb-4 mt-4">
                <h3>Free forever</h3>
                <p>
                  No license costs. No 3rd-party application costs. Invest in what matters the most: your team, your product.
                </p>
              </div>
              <div class="mb-4">
                <h3>Secure by default</h3>
                <p>
                  Sleep tight knowing your store is secure. Automated security fixes, a clear disclosure policy and strict code reviews guarantee a seamless experience.
                </p>
              </div>
              <div>
                <h3>Easy adoption</h3>
                <p>
                  Community edition is the only edition. Build your next brand on top of a truly open-source, community-driven platform that multiplies your competitive advantage.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="pl-md-6">
              <img src="<%= image_path('imgholdr-image.png') %>" class="img-fluid rounded" alt="" >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonials homepage-hero skew-block content-block-gray-100">
  <div class="container content-block-gray-100 text-center">
    <%= partial "partials/testimonials_list" %>
  </div>
</div>

<div class="open-source content-block content-block-gray-900">
  <div class="container content-block-gray-900">
    <div class="content-block" data-aos="fade">
      <div class="row align-items-center">
        <div class="col-md">
          <div class="pr-md-6">
            <img src="<%= image_path('imgholdr-image.png') %>" class="img-fluid rounded" alt="" >
          </div>
        </div>
        <div class="col-md">
          <div class="pl-md-6">
            <h2 class="title mt-4">A truly Open Source mindset</h2>
            <div class="mb-4 mt-4">
              <h3>Driven Collectively</h3>
              <p>
                Solidus can count on the support of a vibrant community of passionate developers, agencies and retailers that work together that work together to move the platform forward.
              </p>
            </div>
            <div class="mb-4">
              <h3>Funded Transparently</h3>
              <p>
                Our community actively supports Solidus with financial contributions through OpenCollective. These funds are used to improve and promote the platform.
              </p>
            </div>
            <div class="mb-4">
              <h3>Developed Publicly</h3>
              <p>
                Our Public Roadmap is our way to build our community through transparency. See what the Solidus community is working on right now and planning ahead. Take part in writing the future of our platform.
              </p>
            </div>
            <a class="btn btn-primary" href="#">Join our Community</a>
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="ruby-on-rails content-block" data-aos="fade">
      <div class="row align-items-center">
        <div class="col-md">
          <h2 class="title">Powered by <span class="text-danger">Ruby on Rails</span>.</h2>
          <p class="mb-4">
            Solidus is powered by Ruby on Rails, the framework used by the most popular online applications such as <b>Basecamp, GitHub, Shopify, Airbnb, Twitch, SoundCloud, Hulu, Zendesk, Square</b>.
          </p>
          <a class="btn btn-primary mb-4" href="#">Read our Guides</a>
        </div>
        <div class="col-md">
            <img src="<%= image_path('imgholdr-image.png') %>" class="img-fluid rounded" alt="" >
        </div>
      </div>
    </div>
    
    <div class="row" data-aos="fade">
      <div class="col-md-4 mb-4">
        <h4 class="title">Fast development</h4>
        <p>
          Solidus is excellent for building MVPs and iterating quickly. No matter if you only have one developer or an agile team of 50, Solidus has the flexibility to drive your store.
        </p>
      </div>
      <div class="col-md-4 mb-4">
        <h4 class="title">Future-proof APIs</h4>
        <p>
          No need to choose between REST or GraphQL, Solidus has both. Whether it’s headless, single page app or traditional HTML Solidus has it.
        </p>
      </div>
      <div class="col-md-4">
        <h4 class="title">Fully Costumizable Front-End</h4>
        <p>
          Build your storefronts exactly the way that your marketing team designed it. No more shoehorning your brand into restrictive themes.
        </p>
      </div>
    </div>
  </div>
</div>


<blockquote class="hide blockquote content-block content-block-gray-100" data-aos="fade">
  <div class="container">
    <p class="mb-4">"I've never had to say 'no' to my product team. I can customize Solidus to do anything they want."</p>
    <footer class="blockquote-footer">
      <cite>
        <img class="img-circled" src="<%= image_path('quotes/jacky-giang.png') %>" srcset="<%= image_path('quotes/jacky-giang.png') %>, <%= image_path('quotes/jacky-giang@2x.png') %> 2x" alt="Jacky Giang" width="48" height="48"><span class="text">
         Jacky Giang, Head of Technology <br>
         <a rel="nofollow" href="https://floyddetroit.com/" target="_blank">Floyd Furniture</a>
       </span>
      </cite>
    </footer>
  </div>
</blockquote>

<div class="content-block text-center" data-aos="fade">
  <div class="container">
    <h2 class="title mb-4">Join the brands changing the future of eCommerce</h2>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
    </p>
    <a class="btn btn-primary" href="#">Get started</a>
  </div>
</div>
