---
title: Home
---

<div class="content-block content-block-lg content-block-gray-900">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md">
        <div class="block-content mb-4 mb-md-0">
          <h1 class="title">A free, open-source ecommerce platform that gives you complete control over your store.</h1>
          <p class="lead">Running a high-volume online business isn’t easy — but it doesn’t have to be a headache, either.</p>
        </div>
      </div>
      <div class="col-md text-center text-lg-right">
        <img class="img-fluid" src="assets/images/illustrations/proceed-to-checkout.png" srcset="assets/images/illustrations/proceed-to-checkout.png, assets/images/illustrations/proceed-to-checkout@2x.png 2x" alt="Edit Product">
      </div>
    </div>
  </div>
</div>

<div class="content-block content-block-gray-100" data-aos="fade">
  <div class="container">
    <h3 class="title text-gray-600 text-center font-weight-light mb-4">Our community builds innovative ecommerce experiences.</h3>

    <div class="community-logos">
      <div class="row align-items-center justify-content-center">
        <div class="col-4 col-lg-auto"><a class="item" href="https://www.smartthings.com/" target="_blank"><%= inline_svg("community-logos/smartthings.svg", class: "isvg") %></a></div>
        <div class="col-4 col-lg-auto"><a class="item" href="https://www.glossier.com/" target="_blank"><%= inline_svg("community-logos/glossier.svg", class: "isvg") %></a></div>
        <div class="col-4 col-lg-auto"><a class="item" href="https://www.tommyjohn.com/" target="_blank"><%= inline_svg("community-logos/tommyjohn.svg", class: "isvg") %></a></div>
        <div class="col-4 col-lg-auto"><a class="item" href="https://www.wonderbly.com/" target="_blank"><%= inline_svg("community-logos/wonderbly.svg", class: "isvg") %></a></div>
        <div class="col-4 col-lg-auto"><a class="item" href="https://floyddetroit.com/" target="_blank"><%= inline_svg("community-logos/floyd.svg", class: "isvg") %></a></div>
        <div class="w-100 d-none d-lg-block"></div>
        <div class="col-4 col-lg-auto"><a class="item" href="https://www.aceandtate.com/" target="_blank"><%= inline_svg("community-logos/ace&tate.svg", class: "isvg") %></a></div>
        <div class="col-4 col-lg-auto"><a class="item" href="https://www.lalignenyc.com/" target="_blank"><%= inline_svg("community-logos/laligne.svg", class: "isvg") %></a></div>
        <div class="col-4 col-lg-auto"><a class="item" href="https://revere.co/" target="_blank"><%= inline_svg("community-logos/revere.svg", class: "isvg") %></a></div>
        <div class="col-4 col-lg-auto"><a class="item" href="https://www.raden.com/" target="_blank"><%= inline_svg("community-logos/raden.svg", class: "isvg") %></a></div>
      </div>
    </div>
  </div>
</div>

<div class="content-block" data-aos="fade">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md">
        <div class="block-content mb-4 mb-md-0">
          <!-- Nav tabs -->

          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#block1t1" role="tab">For Decision Makers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#block1t2" role="tab">For developers</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active fade show" id="block1t1" role="tabpanel">
              <h2 class="title">The only store framework you’ll ever need.</h2>
              <p>Hosted ecommerce solutions are a great option for simple stores with low to medium traffic. But what happens when your store’s needs outgrow the capabilities of your current solution? Solidus was built to support high-volume stores with varied and complex needs. Many outlying use cases or specific features have already been included in our platform. </p>
              <ul class="list-underlined">
                <li>Order & inventory management</li>
                <li>Every major payment gateway</li>
                <li>Always 100% FREE to use</li>
              </ul>
              <a href="/features"><strong>See the features</strong></a>
            </div>
            <div class="tab-pane fade" id="block1t2" role="tabpanel">
              <h2 class="title">Solidus is modular and stable.</h2>
              <p>Often we get asked to move mountains to make ecommerce work. We’re expected to get the job done, when sometimes it’s all but impossible on a platform you don’t control. The Solidus platform has all of the essential ecommerce functionality out-of-the-box, with easy-to-use extension points allowing for full customization.</p>
              <ul class="list-underlined">
                <li>RESTful API</li>
                <li>Aggressive release schedule</li>
                <li>Great community support</li>
                <li>Always 100% FREE to use</li>
              </ul>
              <a href="/features"><strong>See the features</strong></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md text-center text-lg-right">
        <img class="img-fluid" src="assets/images/illustrations/edit-product.png" srcset="assets/images/illustrations/edit-product.png, assets/images/illustrations/edit-product@2x.png 2x" alt="Edit Product">
      </div>
    </div>
  </div>
</div>

<blockquote class="blockquote content-block content-block-gray-100" data-aos="fade">
  <div class="container">
    <p class="mb-4">"I've never had to say 'no' to my product team. I can customize Solidus to do anything they want."</p>
    <footer class="blockquote-footer">
      <cite>
        <img class="img-circled" src="assets/images/quotes/jacky-giang.png" srcset="assets/images/quotes/jacky-giang.png, assets/images/quotes/jacky-giang@2x.png 2x" alt="Jacky Giang" width="48" height="48"><!--
        --><span class="text">
          Jacky Giang, Head of Technology <br>
          <a rel="nofollow" href="https://stembolt.com/team/" target="_blank">Floyd Furniture</a>
        </span>
      </cite>
    </footer>
  </div>
</blockquote>

<div class="content-block" data-aos="fade">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md">
        <div class="block-content ml-lg-auto mb-4 mb-md-0">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#block2t1" role="tab">For Decision Makers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#block2t2" role="tab">For developers</a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active fade show" id="block2t1" role="tabpanel">
              <h2 class="title">Don’t reinvent the wheel.</h2>
              <p>Are you sinking big bucks into your own in-house ecommerce solution as your developers struggle to keep up with features requests? Solidus keeps your store running smoothly, while a community of developers work together around the world to improve the platform. </p>
              <ul class="list-underlined">
                <li>5400+ Core commits since 2015</li>
                <li>1400+ Slack channel members</li>
                <li>35 Community-supported extensions</li>
                <li>650+ Contributors</li>
              </ul>
            </div>
            <div class="tab-pane fade" id="block2t2" role="tabpanel">
              <h2 class="title">A community of support.</h2>
              <p>Solidus has over 600 contributors with thousands of active developers across North America and Western Europe. All commits are reviewed and validated by the core team before being added to the codebase; all pull requests are open for a minimum of 48 hours to allow for community feedback. Around-the-clock support is always available in our Slack channel.</p>
              <ul class="list-underlined">
                <li>5400+ Core commits since 2015</li>
                <li>1400+ Slack channel members</li>
                <li>35 Community-supported extensions</li>
                <li>650+ Contributors</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md order-md-first text-center text-lg-left">
        <img class="img-fluid" src="assets/images/illustrations/rings.png" srcset="assets/images/illustrations/rings.png, assets/images/illustrations/rings@2x.png 2x" alt="Rings">
      </div>
    </div>
  </div>
</div>

<blockquote class="blockquote content-block content-block-gray-100" data-aos="fade">
  <div class="container">
    <p>"If you love the joy baked into the Ruby programming language and need to sell products, Solidus should be on the forefront of your radar. Thoughtful refactoring goes into the codebase daily, the community is exceptionally friendly and building a product that sells goods couldn't be easier."</p>
    <footer class="blockquote-footer">
      <cite>
        <img class="img-circled float-left" src="assets/images/quotes/braden-douglass.png" srcset="assets/images/quotes/braden-douglass.png, assets/images/quotes/braden-douglass@2x.png 2x" alt="Braden Douglass" width="48" height="48"><!--
        --><span class="text">
          Braden Douglass, Developer<br>
          <a rel="nofollow" href="https://stembolt.com/team/" target="_blank">Glossier</a>
        </span>
      </cite>
    </footer>
  </div>
</blockquote>


<div class="calculator-block content-block content-block-gray-900" data-aos="fade">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg">
        <div class="block-content mx-auto mb-4 mb-lg-0">
          <h2 class="title">Solidus is free, forever</h2>
          <p>Are you spending your hard earned cash on hosted ecommerce solutions? There are no service, licensing, management or transaction fees for using Solidus. And because it’s open source, you decide where and how to host your store. Take control of your ecommerce experience without losing control of your chequebook.</p>
        </div>
      </div>
      <div class="col-lg">
        <div class="cost-calculator card">
          <div class="card-body">
            <h5 class="title expense-title">Annual Sales</h5>
            <div class="sales expense-amount text-gray">$<span class="js-sales">20,000,000</span></div>
            <div class="slider" data-start="20000000" data-min="1000000" data-max="40000000"></div>

            <table class="table">
              <thead>
              <tr>
                <th><%= inline_svg("logo.svg", class: "solidus-logo isvg") %></th>
                <th>Industry Average</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <h6 class="expense-title">Annual License Fees</h6>
                  <div class="expense-amount">0%</div>
                </td>
                <td>
                  <h6 class="expense-title">Annual License Fees</h6>
                  <div class="expense-amount">2%</div>
                </td>
              </tr>

              <tr>
                <td>
                  <h6 class="expense-title">Total Annual Cost</h6>
                  <div class="expense-amount"><strong class="text-primary">Free Forever</strong></div>
                </td>
                <td>
                  <h6 class="expense-title">Total Annual Cost</h6>
                  <div class="expense-amount font-weight-bold">$<span class="js-total-cost">400,000</span></div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<blockquote class="blockquote content-block content-block-gray-100" data-aos="fade">
  <div class="container">
    <p class="mb-4">“Solidus has pretty much everything built into its core, so we can spend our time creating a great branded customer experience.“</p>
    <footer class="blockquote-footer">
      <cite>
        <img class="img-circled float-left" src="assets/images/quotes/dan-mitchell.png" srcset="assets/images/quotes/dan-mitchell.png, assets/images/quotes/dan-mitchell@2x.png 2x" alt="Dan Mitchell" width="48" height="48"><!--
        --><span class="text">
          Dan Mitchell, Director<br>
          <a rel="nofollow" href="https://stembolt.com/team/" target="_blank">Digital Reflow</a>
        </span>
      </cite>
    </footer>
  </div>
</blockquote>

<div class="content-block text-center" data-aos="fade">
  <div class="container">
    <h2 class="title mb-4">Discover what Solidus can do for you.</h2>
    <a class="btn btn-primary" href="/features">See the Features</a>
  </div>
</div>