---
title: Integrations
description: Your eCommerce platform should expand your capabilities, not limit them. Solidus comes with plenty of integrations that will save you a ton of development time.
---

<div class="integrations-hero hero-block content-block">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg">
        <div class="pr-md-6 mb-3">
          <h1 class="title">The power of experience. <br> The flexibility of open source.</h1>
          <p class="lead mb-md-6">
            Your eCommerce platform should expand your capabilities, not limit them. Solidus comes with plenty of integrations that will save you a ton of development time.
          </p>
        </div>
      </div>
      <div class="col-lg">
        <div class="hero-image-wrapper">
          <%= inline_svg("illustrations/integrations-hero.svg", class: "hero-image") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="integrations-navigation">
  <div class="container container-md">
    <ul class="nav justify-content-around align-items-center">
      <li class="nav-item"><a class="nav-link" href="#payments">Payments</a></li>
      <li class="nav-item"><a class="nav-link" href="#logistics">Logistics</a></li>
      <li class="nav-item"><a class="nav-link" href="#marketing">Marketing</a></li>
      <li class="nav-item"><a class="nav-link" href="#taxation">Taxation</a></li>
    </ul>
  </div>
</div>

<div class="integration content-block" id="payments">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg">
        <%= inline_svg("icons/payments.svg", class: "isvg group") %>
        <h2>Payments</h2>
        <p>Choosing the right payment gateway can make a huge difference in how many customers you reach. Subscriptions, local payment methods, split payments… The possibilities are endless.</p>
        <p>With its clean and flexible payments architecture, Solidus allows you to make it happen with no hassle. The foundation is already there for you, all you have to do is choose what’s best for your company.</p>
        <a class="btn btn-primary" href="/extensions#extensions-group-payments" target="_blank">View all payments extensions</a>
      </div>
      <div class="integration__list col-lg offset-lg-1">
        <div class="js-fully-clickable integration__list__item highlighted">
          <div class="integration__list__item__image">
            <%= inline_svg("integrations/paypal.svg", class: "isvg") %>
          </div>
          <div class="integration__list__item__description">
            <h4>PayPal</h4>
            <p>The official PayPal Commerce Platform integration of Solidus.</p>
            <a href="https://github.com/solidusio-contrib/solidus_paypal_commerce_platform" target="_blank" class="btn btn-sm btn-white">Install the Official Gem</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row align-items-stretch mt-lg-8 mt-0 integration__list">
      <div class="col">
        <a href="https://github.com/solidusio/solidus_affirm" class="integration__list__item inline-card" target="_blank">
          <div class="integration__list__item__image">
            <%= inline_svg("integrations/affirm.svg", class: "isvg") %>
          </div>
          <div class="integration__list__item__description">
            <h4>Affirm</h4>
            <p>Affirm payment option for your Solidus storefront.</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="https://github.com/solidusio/solidus_stripe" class="integration__list__item inline-card" target="_blank">
          <div class="integration__list__item__image">
            <%= inline_svg("integrations/stripe.svg", class: "isvg") %>
          </div>
          <div class="integration__list__item__description">
            <h4>Stripe</h4>
            <p>Stripe Payment Methods for Solidus.</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="https://github.com/solidusio/solidus_paypal_braintree" class="integration__list__item inline-card" target="_blank">
          <div class="integration__list__item__image">
            <%= inline_svg("integrations/braintree.svg", class: "isvg") %>
          </div>
          <div class="integration__list__item__description">
            <h4>Braintree</h4>
            <p>Integrate Solidus with Braintree, including PayPal and Apple Pay support.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="integration content-block--skewed content-block-gray-100" id="logistics">
  <div class="container content-wrapper">
    <div class="row align-items-center">
      <div class="col-md order-md-2 offset-md-1">
        <%= inline_svg("icons/logistics.svg", class: "isvg group") %>
        <h2>Logistics</h2>
        <p>With the right logistics partner, you can reach your buyers wherever they are. Optimize inventory allocation and costs, and maybe ship with Instagram-ready packaging that will make customers talk about you for weeks.</p>
        <p>You can integrate with any provider, no matter their workflow, and even with multiple providers at once. Always use the right partner for the job, all while retaining full control over your data and customer experience.</p>
        <a class="btn btn-primary" href="/extensions#extensions-group-shipping" target="_blank">View all logistics extensions</a>
      </div>
      <div class="integration__list col-md">
        <a href="https://github.com/solidusio-contrib/solidus_shipwire" class="integration__list__item" target="_blank">
          <div class="integration__list__item__image">
            <img class="img-fluid" src="<%= image_path('integrations/shipwire.png') %>" width="90" height="auto">
          </div>
          <div class="integration__list__item__description">
            <h4>Shipwire</h4>
            <p>Solidus and Shipwire connect manager.</p>
          </div>
        </a>
        <a href="https://github.com/boomerdigital/solidus_shipstation" class="integration__list__item" target="_blank">
          <div class="integration__list__item__image">
            <%= inline_svg("integrations/shipstation.svg", class: "isvg") %>
          </div>
          <div class="integration__list__item__description">
            <h4>ShipStation</h4>
            <p>Enables ShipStation to pull shipments from the system and update tracking numbers.</p>
          </div>
        </a>
        <a href="https://github.com/solidusio-contrib/solidus_easypost" class="integration__list__item" target="_blank">
          <div class="integration__list__item__image">
            <%= inline_svg("integrations/easypost.svg", class: "isvg") %>
          </div>
          <div class="integration__list__item__description">
            <h4>EasyPost</h4>
            <p>Solidus integration with EasyPost.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="integration content-block" id="marketing">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md">
        <%= inline_svg("icons/marketing.svg", class: "isvg group") %>
        <h2>Marketing</h2>
        <p>Collecting data and using it in meaningful ways can be challenging. Marketing and analytics tools help you generate useful insights that inform your business decisions and promotional campaigns.</p>
        <p>Solidus has integrations for the best analytics and marketing tools, as well as a powerful event-based architecture to easily integrate new services.</p>
        <a class="btn btn-primary" href="/extensions#extensions-group-marketing" target="_blank">View all marketing extensions</a>
      </div>
      <div class="integration__list col-md offset-md-1">
        <a href="https://guides.solidus.io/developers/integrations/google-analytics.html" class="integration__list__item" target="_blank">
          <div class="integration__list__item__image">
            <%= inline_svg("integrations/google_analytics.svg", class: "isvg") %>
          </div>
          <div class="integration__list__item__description">
            <h4>Google Analytics</h4>
            <p>Easily integrate Solidus with Google Analytics.</p>
          </div>
        </a>
        <a href="https://github.com/solidusio-contrib/solidus_drip" class="integration__list__item" target="_blank">
          <div class="integration__list__item__image">
            <%= inline_svg("integrations/drip.svg", class: "isvg") %>
          </div>
          <div class="integration__list__item__description">
            <h4>Drip</h4>
            <p>Solidus integration for Drip.</p>
          </div>
        </a>
        <a href="https://github.com/2beDigital/solidus_segment" class="integration__list__item" target="_blank">
          <div class="integration__list__item__image">
            <%= inline_svg("integrations/segment.svg", class: "isvg") %>
          </div>
          <div class="integration__list__item__description">
            <h4>Segment</h4>
            <p>Provides support for Segment APIs.</p>
          </div>
        </a>
        <a href="https://github.com/solidusio-contrib/solidus_klaviyo" class="integration__list__item" target="_blank">
          <div class="integration__list__item__image">
            <%= inline_svg("integrations/klaviyo.svg", class: "isvg") %>
          </div>
          <div class="integration__list__item__description">
            <h4>Klaviyo</h4>
            <p>Integrate your Solidus store with Klaviyo for email, social and SMS marketing.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="integration content-block--skewed content-block-gray-100" id="taxation">
  <div class="container content-wrapper">
    <div class="row align-items-center">
      <div class="col-md order-md-2 offset-md-1">
        <%= inline_svg("icons/taxation.svg", class: "isvg group") %>
        <h2>Taxation</h2>
        <p>Let technology deal with your taxes, so that you can focus on your company. From up-and-coming startup to eCommerce behemoth, our integrations give you the peace of mind you need to build an awesome brand.</p>
        <p>Every business is unique, and sometimes tax reporting can get convoluted. We know this, and we have made it dead-simple to customize the existing Solidus integrations or even build your own, if that’s what it takes.</p>
        <a class="btn btn-primary" href="/extensions#extensions-group/taxation" target="_blank">View all taxation extensions</a>
      </div>
      <div class="integration__list col-md">
        <a href="https://github.com/boomerdigital/solidus_avatax_certified" class="integration__list__item" target="_blank">
          <div class="integration__list__item__image">
            <%= inline_svg("integrations/avalara.svg", class: "isvg") %>
          </div>
          <div class="integration__list__item__description">
            <h4>Avalara AvaTax</h4>
            <p>Improve your Solidus store's sales tax decision automation with Avalara AvaTax.</p>
          </div>
        </a>
        <a href="https://github.com/solidusio-contrib/solidus_tax_cloud" class="integration__list__item" target="_blank">
          <div class="integration__list__item__image">
            <%= inline_svg("integrations/taxcloud.svg", class: "isvg") %>
          </div>
          <div class="integration__list__item__description">
            <h4>TaxCloud</h4>
            <p>An extension to integrate Solidus with TaxCloud for US-based taxation.</p>
          </div>
        </a>
        <a href="https://github.com/SuperGoodSoft/solidus_taxjar" class="integration__list__item" target="_blank">
          <div class="integration__list__item__image">
            <%= inline_svg("integrations/taxjar.svg", class: "isvg") %>
          </div>
          <div class="integration__list__item__description">
            <h4>TaxJar</h4>
            <p>Support for using TaxJar to handle tax calculations in Solidus.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="content-block mt-8">
  <div class="container">
    <div class="row">
      <div class="col-md ">
        <h2>We’re not done yet.</h2>
        <p>We’ve just scratched the surface. Over the years, brands have integrated hundreds of services in their stores for the most disparate needs: advanced return processing, custom fraud detection, user-generated content, referral programs and a lot more.</p>
        <p>Solidus allows your development team to quickly write integrations tailored to your unique needs that are stable and do the job, creating endless opportunities for you.</p>
        <div class="integrations-cta">
          <a class="btn btn-primary" href="/extensions">View all extensions</a>
          <a class="btn btn-white" href="https://guides.solidus.io/developers/extensions/writing-extensions.html#writing-a-new-solidus-extension" target="_blank">Write your own integration</a>
        </div>
      </div>
      <div class="col-md offset-md-1">
        <img data-src="<%= image_path('illustrations/integrations-api.svg') %>" class="img-fluid" alt="Integrations API" width="100%" >
      </div>
    </div>
  </div>
</div>
