---
title: Partners
---

<div class="partners-hero content-block content-block-gray-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md">
        <div class="pr-md-6 mb-3">
          <h1 class="title">Solidus Partners.</h1>
          <p class="lead mb-md-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue quam in rutrum condimentum. Pellentesque habitant morbi tristique senectus et netus.
          </p>
          <a class="btn btn-primary" href="#partners-list">Find a Partner</a>
        </div>
      </div>
      <div class="col-md">
        <img class="img-fluid" src="<%= image_path('illustrations/partners.svg') %>" alt="Solidus Partners">
      </div>
    </div>
  </div>
</div>

<div class="partners-detail-block content-block" data-aos="fade">
  <div class="container">
    <h2 class="title text-center mb-4 mb-md-6">Fusce ultrices sodales velit bibendum vulputate.</h2>
    <div class="row justify-content-around">
      <div class="col-md-4 text-center">
        <div class="detail">
          <div class="picture">
            <%= inline_svg("icons/stable.svg", class: "isvg") %>
          </div>
          <h3 class="title">Ut maximus</h3>
          <p class="text-left text-md-center text-lg-left">
            Ut lorem massa, luctus vel massa nec, iaculis porttitor turpis. Maecenas non justo sed nisi tempor volutpat. Pellentesque porta ut nibh eu scelerisque. In varius.
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="detail">
          <div class="picture">
            <%= inline_svg("icons/secure.svg", class: "isvg") %>
          </div>
          <h3 class="title">Mauris et</h3>
          <p class="text-left text-md-center text-lg-left">
            Ut lorem massa, luctus vel massa nec, iaculis porttitor turpis. Maecenas non justo sed nisi tempor volutpat. Pellentesque porta ut nibh eu scelerisque. In varius.
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="detail">
          <div class="picture">
            <%= inline_svg("icons/scalable.svg", class: "isvg") %>
          </div>
          <h3 class="title">Nulla porta</h3>
          <p class="text-left text-md-center text-lg-left">
            Ut lorem massa, luctus vel massa nec, iaculis porttitor turpis. Maecenas non justo sed nisi tempor volutpat. Pellentesque porta ut nibh eu scelerisque. In varius.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="partners-main-block content-block content-block-gray-100" id="partners-list" data-aos="fade">
  <div class="container container-md text-center mb-8">
    <h2 class="title">Find a Solidus Partner</h2>
    <p class="lead mb-5 mb-md-8">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>

  <div class="container">
    <div class="partner-block">
      <div class="media">
        <%= inline_svg("icons/partners-main.svg", class: "isvg align-self-start mr-3") %>
        <div class="media-body">
          <h3 class="title">Main Contributor & Director</h3>
          <p class="mb-5 mb-md-8 text-gray-048">
            Curabitur scelerisque erat et orci pellentesque, sit amet efficitur dui ultrices. Nulla convallis egestas rhoncus. Integer viverra maximus efficitur. Quisque viverra.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="card card-border-none">
            <div class="logo">
              <img class="img-fluid" src="<%= image_path('partners/nebulab-logo.svg') %>" alt="Nebulab">
            </div>
          </div>
        </div>
        <div class="data col-md">
          <h4 class="title">Nebulab</h4>
          <p class="text-gray-048">Back-End, Front-End, UX Design</p>
          <p class="lead mb-md-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
          </p>
          <a class="link" href="https://nebulab.it" target="_blank">Contact</a>
        </div>
      </div>
    </div>
    
    <div class="partner-block">
      <div class="media">
        <%= inline_svg("icons/partners-gold.svg", class: "isvg align-self-start mr-3") %>
        <div class="media-body">
          <h3 class="title">Gold</h3>
          <p class="mb-5 mb-md-8 text-gray-048">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
          </p>
        </div>
      </div>
      <div class="card-deck">
        <div class="card card-border-none">
          <div class="card-body">
            <div class="d-md-flex column-wrapper">
              <div class="logo">
                <img class="img-fluid" src="<%= image_path('partners/sample-logo.svg') %>" alt="Sample Logo">
              </div>
              <div class="data">
                <h4 class="title">Super Good</h4>
                <p class="text-gray-048">Back-End</p>
                <p class="lead">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis. Sed volutpat convallis.
                </p>
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>

        <div class="card card-border-none">
          <div class="card-body">
            <div class="d-md-flex column-wrapper">
              <div class="logo">
                <img class="img-fluid" src="<%= image_path('partners/sample-logo.svg') %>" alt="Sample Logo">
              </div>
              <div class="data">
                <h4 class="title">Super Good</h4>
                <p class="text-gray-048">Back-End</p>
                <p class="lead">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis. Sed volutpat convallis.
                </p>
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>

      </div>
    </div>
    
    <div class="partner-block">
      <div class="media">
        <%= inline_svg("icons/partners-silver.svg", class: "isvg align-self-start mr-3") %>
        <div class="media-body">
          <h3 class="title">Silver</h3>
          <p class="mb-5 mb-md-8 text-gray-048">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
          </p>
        </div>
      </div>
      <div class="card-deck">
        <div class="card card-border-none silver-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid" src="<%= image_path('partners/sample-logo.svg') %>" alt="Sample Logo">
            </div>
            <h4 class="title">Boomer Digital</h4>
            <p class="text-gray-048">Back-End</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis. Sed volutpat convallis.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
        
        <div class="card card-border-none silver-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid" src="<%= image_path('partners/sample-logo.svg') %>" alt="Sample Logo">
            </div>
            <h4 class="title">Boomer Digital</h4>
            <p class="text-gray-048">Back-End</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis. Sed volutpat convallis.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
        
        <div class="card card-border-none silver-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid" src="<%= image_path('partners/sample-logo.svg') %>" alt="Sample Logo">
            </div>
            <h4 class="title">Boomer Digital</h4>
            <p class="text-gray-048">Back-End</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis. Sed volutpat convallis.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
        
        <div class="w-100"></div>

      </div>
    </div>
    
    <div class="partner-block">
      <div class="media">
        <%= inline_svg("icons/partners-bronze.svg", class: "isvg align-self-start mr-3") %>
        <div class="media-body">
          <h3 class="title">Bronze</h3>
          <p class="mb-5 mb-md-8 text-gray-048">
            Nulla convallis egestas rhoncus. Integer viverra maximus efficitur.
          </p>
        </div>
      </div>
      
      <div class="">
        
      </div>
      
      <div class="card-deck">
        <div class="card card-border-none bronze-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid rounded-circle" src="<%= image_path('partners/sample-avatar.png') %>" srcset="<%= image_path('partners/sample-avatar.png') %>, <%= image_path('partners/sample-avatar@2x.png') %> 2x" alt="Raelene Verona">
            </div>
            <h4 class="title">Ranele Verona</h4>
            <p class="text-gray-048">Developer</p>
            <p>
              Lorem ipsum dolor sit amet.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
        
        <div class="card card-border-none bronze-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid rounded-circle" src="<%= image_path('partners/sample-avatar.png') %>" srcset="<%= image_path('partners/sample-avatar.png') %>, <%= image_path('partners/sample-avatar@2x.png') %> 2x" alt="Raelene Verona">
            </div>
            <h4 class="title">Ranele Verona</h4>
            <p class="text-gray-048">Developer</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
        
        <div class="card card-border-none bronze-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid rounded-circle" src="<%= image_path('partners/sample-avatar.png') %>" srcset="<%= image_path('partners/sample-avatar.png') %>, <%= image_path('partners/sample-avatar@2x.png') %> 2x" alt="Raelene Verona">
            </div>
            <h4 class="title">Ranele Verona</h4>
            <p class="text-gray-048">Developer</p>
            <p>
              Sed volutpat convallis.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
        
        <div class="w-100"></div>
        
        <div class="card card-border-none bronze-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid rounded-circle" src="<%= image_path('partners/sample-avatar.png') %>" srcset="<%= image_path('partners/sample-avatar.png') %>, <%= image_path('partners/sample-avatar@2x.png') %> 2x" alt="Raelene Verona">
            </div>
            <h4 class="title">Ranele Verona</h4>
            <p class="text-gray-048">Developer</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis. Sed volutpat convallis.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
        
        <div class="card card-border-none bronze-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid rounded-circle" src="<%= image_path('partners/sample-avatar.png') %>" srcset="<%= image_path('partners/sample-avatar.png') %>, <%= image_path('partners/sample-avatar@2x.png') %> 2x" alt="Raelene Verona">
            </div>
            <h4 class="title">Ranele Verona</h4>
            <p class="text-gray-048">Developer</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis. Sed volutpat convallis.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
        
        <div class="card card-border-none bronze-partner">
          <div class="card-body">
            <div class="logo text-center">
              <img class="img-fluid rounded-circle" src="<%= image_path('partners/sample-avatar.png') %>" srcset="<%= image_path('partners/sample-avatar.png') %>, <%= image_path('partners/sample-avatar@2x.png') %> 2x" alt="Raelene Verona">
            </div>
            <h4 class="title">Ranele Verona</h4>
            <p class="text-gray-048">Developer</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus metus in lectus vehicula, non condimentum enim venenatis. Sed volutpat convallis.
            </p>
          </div>
          <div class="card-footer text-right">
            <a class="link" href="#" target="_blank">Contact</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
