---
title: Partners
description: Solidus Partners are Ruby on Rails and Solidus eCommerce experts from all around the world ready to give you everything you need to run and scale a successful online business.
---

<div class="partners-hero hero-block content-block--skewed content-block-gray-100">
  <div class="content-wrapper container content-block-gray-100">
    <div class="row align-items-center">
      <div class="col-md">
        <div class="pr-md-6 mb-3">
          <h1 class="title">Solidus Partners.</h1>
          <p class="lead mb-md-6">
            Solidus Partners are Ruby on Rails and Solidus eCommerce experts from all around the world ready to give you everything you need to run and scale a successful online business.
          </p>
          <a class="btn btn-primary" href="#partners-list">Find a Partner</a>
        </div>
      </div>
      <div class="col-md">
        <img src="<%= image_path('illustrations/partners-hero@2x.png') %>" data-srcset="<%= image_path('illustrations/partners-hero@2x.png') %> 2x, <%= image_path('illustrations/partners-hero@1x.png') %> 1x" class="img-fluid" alt="Solidus Partners" width="100%" >
      </div>
    </div>
  </div>
</div>

<div class="partners-detail-block content-block">
  <div class="container">
    <h2 class="title text-center mb-4 mb-md-6">How a Solidus Partner can help you.</h2>
    <div class="row justify-content-around">
      <div class="col-md-4 text-center">
        <div class="detail">
          <div class="picture">
            <%= inline_svg("icons/migrate.svg", class: "isvg") %>
          </div>
          <h4 class="title">Migrate</h4>
          <p class="text-left text-md-center text-lg-left">
            Our partners can help you migrate your store to Solidus from any other platform (Spree, Shopify, Magento, etc...) and make the whole process smooth and pain-free. They've got you covered!
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="detail">
          <div class="picture">
            <%= inline_svg("icons/maintain.svg", class: "isvg") %>
          </div>
          <h4 class="title">Maintain</h4>
          <p class="text-left text-md-center text-lg-left">
            Our partners can take care of the daily maintenance of your eCommerce website. From bug fix to speed optimization, they guarantee your online store to be always up-to-date, stable, reliable, and efficient.
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="detail">
          <div class="picture">
            <%= inline_svg("icons/customize.svg", class: "isvg") %>
          </div>
          <h4 class="title">Customize</h4>
          <p class="text-left text-md-center text-lg-left">
            It doesn't matter how specific your business needs are, our partners can customize your store to meet them and facilitate quick and efficient integrations with external services or other systems.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-block">
  <div class="container container-md text-center">
    <h2 class="title">Find a Solidus Partner</h2>
    <p class="lead">
      Rely on one of our trusted partners is the best choice. Hire the partner you think that has the best package to suit your business' needs and culture.
    </p>
  </div>
</div>

<%= partial "partials/partners_list" %>

<div class="content-block content-block-gray-900 p-md-0 pb-0" id="become-a-partner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md mt-5 mt-md-0">
        <div class="pr-md-6">
          <h2 class="title mb-4">Why become a Partner.</h2>
          <p class="lead">
            Solidus partnership program is your chance to present yourself as a Solidus expert and show your commitment to the project. With a financial contribution on <a href="https://opencollective.com/solidus" target="_blank">Open Collective</a>, you'll be listed on this page and have the opportunity to get in touch with promising clients.
          </p>
        </div>
      </div>
      <div class="col-md mt-5 mb-5">
        <img src="<%= image_path('illustrations/become-a-partner@2x.png') %>" data-srcset="<%= image_path('illustrations/become-a-partner@2x.png') %> 2x, <%= image_path('illustrations/become-a-partner@1x.png') %> 1x" class="img-fluid" alt="Become a Solidus Partner" width="100%" >
      </div>
    </div>
  </div>
</div>

<div class="call-to-action content-block text-center">
  <div class="container container-md">
    <h3 class="title">Ready to become a Partner?</h3>
    <a class="btn btn-primary btn-lg" href="https://solidusio.typeform.com/to/IiIPeI" target="_blank">Sure!</a>
  </div>
</div>
