---
title: Partners
---

<div class="partners-hero content-block content-block-gray-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md">
        <div class="pr-md-6 mb-3">
          <h1 class="title">Solidus Partners.</h1>
          <p class="lead mb-md-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue quam in rutrum condimentum. Pellentesque habitant morbi tristique senectus et netus.
          </p>
          <a class="btn btn-primary" href="#partners-list">Find a Partner</a>
        </div>
      </div>
      <div class="col-md">
        <img class="img-fluid" src="<%= image_path('illustrations/partners.svg') %>" alt="Solidus Partners">
      </div>
    </div>
  </div>
</div>

<div class="partners-detail-block content-block" data-aos="fade">
  <div class="container">
    <h2 class="title text-center mb-4 mb-md-6">Fusce ultrices sodales velit bibendum vulputate.</h2>
    <div class="row justify-content-around">
      <div class="col-md-4 text-center">
        <div class="detail">
          <div class="picture">
            <%= inline_svg("icons/stable.svg", class: "isvg") %>
          </div>
          <h3 class="title">Ut maximus</h3>
          <p class="text-left text-md-center text-lg-left">
            Ut lorem massa, luctus vel massa nec, iaculis porttitor turpis. Maecenas non justo sed nisi tempor volutpat. Pellentesque porta ut nibh eu scelerisque. In varius.
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="detail">
          <div class="picture">
            <%= inline_svg("icons/secure.svg", class: "isvg") %>
          </div>
          <h3 class="title">Mauris et</h3>
          <p class="text-left text-md-center text-lg-left">
            Ut lorem massa, luctus vel massa nec, iaculis porttitor turpis. Maecenas non justo sed nisi tempor volutpat. Pellentesque porta ut nibh eu scelerisque. In varius.
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="detail">
          <div class="picture">
            <%= inline_svg("icons/scalable.svg", class: "isvg") %>
          </div>
          <h3 class="title">Nulla porta</h3>
          <p class="text-left text-md-center text-lg-left">
            Ut lorem massa, luctus vel massa nec, iaculis porttitor turpis. Maecenas non justo sed nisi tempor volutpat. Pellentesque porta ut nibh eu scelerisque. In varius.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/partners_list" %>

<div class="content-block content-block-gray-900 p-md-0 pb-0" data-aos="fade">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md">
        <div class="pr-md-6 mb-4 mt-sm-4">
          <h2 class="title mb-4">Why become a Partner.</h2>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi.
          </p>
        </div>
      </div>
      <div class="col-md">
        <img class="img-fluid" src="<%= image_path('illustrations/partners-become-a.svg') %>" alt="Become a Solidus Partners">
      </div>
    </div>
  </div>
</div>

<div class="content-block text-center" data-aos="fade">
  <div class="container">
    <h2 class="title mb-4">Ready to become a Partner?</h2>
    <a class="btn btn-primary" href="#" target="_blank">Read how</a>
  </div>
</div>
