---
title: Roadmap
---

<div class="roadmap-hero content-block">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md">
        <div class="pr-md-6 mb-3">
          <h1 class="title">See what’s next for Solidus</h1>
          <p class="lead mb-md-6">
            Solidus provides unmatched stability and a smooth upgrade path for all users, but that doesn't mean we don't move forward. Here's what's cookin'!
          </p>
          <%= partial "partials/newsletter_form" %>
        </div>
      </div>
      <div class="col-md">
        <img src="<%= image_path('https://dummyimage.com/450x343/f0f0f0/ffffff.jpg') %>" class="img-fluid rounded" alt="">
      </div>
    </div>
  </div>
</div>

<div class="roadmap-use-case content-block content-block-gray-100" data-aos="fade">
  <div class="container">
    <div class="row"> 
      <div class="roadmap-use-case__image col-md">
        <img src="<%= image_path('https://dummyimage.com/450x343/f0f0f0/ffffff.jpg') %>" class="img-fluid rounded" alt="" >
      </div>
      <div class="col-md">
        <div class="roadmap-use-case__header">
          <h5>What we’re doing for</h5>
          <h2>Developers</h5>
          <p>We want to provide an ever more amazing experience for developers in the Solidus ecosystem, no matter whether they’re improving the framework and its plugins, doing work for a trend-setting digital brand, or both! This means an even better, more flexible architecture and support for modern technologies.</p>
        </div>
        <div class="roadmap-use-case__timeline roadmap-use-case__timeline--currently">
          <h6>Currently working on</h6>
          <h5>Extension toolbelt</h5>
          <p>Our goal is to completely automate and streamline all of the repetitive tasks around extension development and maintenance, so we are providing new development and runtime tools for Solidus developers to leverage in their code.</p>
          <h5>GraphQL API</h5>
          <p>We are building a new shiny GraphQL API for Solidus, that will eventually supersede the REST API. GraphQL support will create a lot of opportunities for developers and retailers, with its performance and usability benefits and out-of-the-box support for modern frontend frameworks.</p>
          <h5>Modern frontend stack</h5>
          <p>The standard Solidus frontend is getting a full revamp, with a modular, component-based rewrite on its way. We are also adding support for Webpack and modern frontend frameworks such as React (Next.js) and Vue (Nuxt.js), with starter kits you can use to build your storefront.</p>
        </div>
        <div class="roadmap-use-case__timeline roadmap-use-case__timeline--long-term roadmap-use-case__timeline--future">
          <h6>Long-term</h6>
          <h5>Event-driven architecture</h5>
          <p>Solidus already shines for its ease of customization, but we want to take it up one notch. We’re one of the first eCommerce solutions to experiment with an event-driven architecture, easier to hook into and inspect. The events system will be accessible both by application code and extensions.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="roadmap-use-case content-block content-block-gray-100" data-aos="fade">
  <div class="container">
    <div class="row"> 
      <div class="roadmap-use-case__image col-md order-md-2">
        <img src="<%= image_path('https://dummyimage.com/450x343/f0f0f0/ffffff.jpg') %>" class="img-fluid rounded" alt="" >
      </div>
      <div class="col-md">
        <div class="roadmap-use-case__header">
          <h5>What we’re doing for</h5>
          <h2>Customers</h5>
          <p>Since its inception, Solidus has been the eCommerce framework for brands who want their online presence to further and extend their vision. We will continue to design features that allow you to have an edge on the competition by providing the best possible experience to your customers, whatever that entails for your brand.</p>
        </div>
        <div class="roadmap-use-case__timeline roadmap-use-case__timeline--currently">
          <h6>Currently working on</h6>
          <h5>Global commerce</h5>
          <p>We will work to improve Solidus’ internationalization and globalization capabilities with improvements to our existing features and some new tricks, such as content translation and automatic currency conversions.</p>
          <h5>More payment gateways</h5>
          <p>When it comes to payment gateways, more is better. We want to give an ample set of options to our users, so we’ll be expanding our payment integrations to include support for local payment methods in addition to the current, more established options.</p>
        </div>
        <div class="roadmap-use-case__timeline roadmap-use-case__timeline--soon roadmap-use-case__timeline--future">
          <h6>We will work on soon</h6>
          <h5>Revamped returns</h5>
          <p>The experience of returning a product can make or break your customers’ relationship with your brand. Solidus will ship an improved returns system. The long-term plan is to allow easy integration with external return processing systems such as Returnly so that you can provide a best-in-class return flow.</p>
        </div>
        <div class="roadmap-use-case__timeline roadmap-use-case__timeline--long-term roadmap-use-case__timeline--future">
          <h6>Long-term</h6>
          <h5>Point of sale</h5>
          <p>You should be able to offer customers a fully integrated experience, both in-store and online. By creating a standardized architecture for POS integrations, we will allow you to leverage Solidus’ inventory and order management systems with your solution of choice, all while minimizing implementation time and cost.</p>
          <h5>Subscriptions</h5>
          <p>Subscription-based businesses are all the rage right now, and we know we should jump on that bandwagon. You shouldn’t have to reinvent the wheel when implementing subscriptions for your store, so we’ll create a single, configurable extension that can adapt to your needs.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="roadmap-use-case content-block content-block-gray-100" data-aos="fade">
  <div class="container">
    <div class="row"> 
      <div class="roadmap-use-case__image col-md">
        <img src="<%= image_path('https://dummyimage.com/450x343/f0f0f0/ffffff.jpg') %>" class="img-fluid rounded" alt="" >
      </div>
      <div class="col-md">
        <div class="roadmap-use-case__header">
          <h5>What we’re doing for</h5>
          <h2>Marketers</h5>
          <p>Marketers should have the tools they need to promote your brand, and we can help them in so many ways. We have a ton of features in store for your marketing team that will enable them to run campaigns and experiments with no development work.</p>
        </div>
        <div class="roadmap-use-case__timeline roadmap-use-case__timeline--currently">
          <h6>Currently working on</h6>
          <h5>Headless CMS</h5>
          <p>Through a flexible integration with your headless CMS of choice, you and your team will be able to manage static pages and other content on your website without bothering your devs, with out-of-the-box support for multiple content types, nested elements, caching and editorial workflows</p>
        </div>
        <div class="roadmap-use-case__timeline roadmap-use-case__timeline--soon roadmap-use-case__timeline--future">
          <h6>We will work on soon</h6>
          <h5>No-code email sequences</h5>
          <p>Extensions that add support for modern email marketing platforms (Klaviyo, MailChimp) will allow your team to easily build and test complex email sequences such as abandoned cart flows with no development work.</p>
          <h5>Advanced SEO</h5>
          <p>SEO means something different for every brand, but that doesn’t mean we can’t ship we a sensible set of defaults. Solidus will do an even better job of helping your developers and marketers get your content on that first page in organic searches.</p>
          <h5>Segment integration</h5>
          <p>By integrating with Segment, you’ll be able to send your data to your analytics and reporting services of choice without having to build custom integrations for each one. This way, you’ll be able to try new services with little to no engineering investment.</p>
        </div>
        <div class="roadmap-use-case__timeline roadmap-use-case__timeline--long-term roadmap-use-case__timeline--future">
          <h6>Long-term</h6>
          <h5>User-generated content</h5>
          <p>UGC is one of the best ways to organically promote your brand, which is why we aim to integrate with popular services that will help you generate and promote user content for your brand.</p>
          <h5>Multi-channel support</h5>
          <p>Support for automatically uploading and bi-directional syncing of your product catalog with major channels such as Facebook, Instagram and Amazon means no more manual exports or inaccurate inventory counts.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="roadmap-use-case content-block content-block-gray-100" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="roadmap-use-case__image col-md order-md-2">
        <img src="<%= image_path('https://dummyimage.com/450x343/f0f0f0/ffffff.jpg') %>" class="img-fluid rounded" alt="" >
      </div>
      <div class="col-md">
        <div class="roadmap-use-case__header">
          <h5>What we’re doing for</h5>
          <h2>Store Admins</h5>
          <p>We want store administrators to have the right tools for the job: common business workflows will be streamlined thanks to the feedback we collected from the community, and the UX and UI of the Solidus backend will be improved dramatically over the next year.</p>
        </div>
        <div class="roadmap-use-case__timeline roadmap-use-case__timeline--soon roadmap-use-case__timeline--future">
          <h6>We will work on soon</h6>
          <h5>Bulk actions</h5>
          <p>This will speed up repetitive work by allowing administrators to bulk-apply actions to many records (orders, users, products) at once and even bulk-edit products. Solidus will ship with some default actions and provide a simple and flexible interface to add as many as you want!</p>
          <h5>Data importer</h5>
          <p>We want to provide an extendable importer for one-time replatforms and data migrations tasks, as well as recurring imports. The importer will use a standardized, Shopify-compatible format in order to more easily sync with external data sources and make replatforms a walk in the park.</p>
        </div>
        <div class="roadmap-use-case__timeline roadmap-use-case__timeline--long-term roadmap-use-case__timeline--future">
          <h6>Long-term</h6>
          <h5>CCPA compliance</h5>
          <p>Solidus is the only eCommerce platform to provide an extendable architecture with sensible defaults for complying with the GDPR, and it only makes sense to do the same with the CCPA. Our GDPR extension will be extended so that your developers don’t have to implement compliance logic from scratch.</p>
          <h5>Accounting integrations</h5>
          <p>We’re not in the accounting business and you shouldn’t be either. Solidus will provide options to integrate with popular accounting tools, starting with QuickBooks, so that revenue data is constantly synced and available to consult.</p>
          <h5>Pluggable promotions system</h5>
          <p>Sometimes, the default, rule-based promotions system just doesn’t cut it. This is why we want to create a pluggable architecture for our promotions system that allows you to completely replace the stock logic with your own implementation or even a third-party product.<p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-block content-block-gray-900 data-aos="fade">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md order-md-2 mb-4">
        <img src="<%= image_path('https://dummyimage.com/450x343/f0f0f0/ffffff.jpg') %>" class="img-fluid rounded" alt="" >
      </div>
      <div class="col-md">
        <h2 class="title mb-4">Help us shape this roadmap!</h2>
        <p>
          The Solidus roadmap is the result of a yearly discovery and prioritization process that involves user interviews, community surveys and retailer feedback, in order to make sure we address the needs and challenges of those who use the product.
        </p>
        <p>
          If you are a Solidus user and want to help shape the roadmap, you can join the stakeholders group and get privileged access to our decision-making process!
        </p>
        <a class="btn btn-primary btn-w-icon" href="http://slack.solidus.io/" target="_blank">Become a stakeholder!</a>
      </div>
    </div>
  </div>
</div>

<div class="content-block text-center" data-aos="fade">
  <div class="container container-md">
    <h3 class="title mb-4">Want to know more?</h3>
    <p>Join our Slack community for regular updates about the development of our roadmap and to provide feebdack to our development team!<p>
    <a class="btn btn-primary btn-w-icon" href="http://slack.solidus.io/" target="_blank"><%= inline_svg("social-icons/slack.svg", class: "isvg") %> <span class="text">Join our Slack</span></a>
  </div>
</div>