---
title: Roadmap
description: See what's next for Solidus! Solidus provides unmatched stability and a smooth upgrade path for all users, but that doesn't mean we don't move forward. Here's what's cookin'!
preview_image: roadmap/preview_image.png
---

<div class="dark-background">
  <div class="roadmap-hero hero-block content-block--skewed content-block-gray-900">
    <div class="content-wrapper container">
      <div class="row align-items-center">
        <div class="col-lg">
          <div class="pr-md-6 mb-3">
            <h1 class="title">See what’s next for Solidus</h1>
            <p class="lead mb-md-6">
              Solidus provides unmatched stability and a smooth upgrade path for all users, but that doesn't mean we don't move forward. Here's what's cookin'!
            </p>
            <%= partial "partials/newsletter_form" %>
          </div>
        </div>
        <div class="col-lg">
          <%= inline_svg("illustrations/roadmap-solidus-logo.svg", class: "roadmap-logo")%>
          <div class="d-flex roadmap-hero__anchorlist">
            <div class="roadmap-hero__anchorlist__item">
              <a href="#devs" class="btn roadmap-hero__anchorlist__item__link">Developers
              <%= inline_svg("icons/arrow-gradient.svg", class: "arrow")%>
              <%= inline_svg("icons/arrow-gradient.svg", class: "arrow-fixed")%>
              </a>
            </div>
            <div class="roadmap-hero__anchorlist__item">
              <a href="#operators" class="btn roadmap-hero__anchorlist__item__link">Operators
              <%= inline_svg("icons/arrow-gradient.svg", class: "arrow")%>
              <%= inline_svg("icons/arrow-gradient.svg", class: "arrow-fixed")%>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-block--skewed content-block-gray-100">
    <div class="content-wrapper">
      <div class="roadmap-use-case" id="devs">
        <div class="container">
          <div class="row">
            <div class="roadmap-use-case__image col-md">
              <img class="img-fluid" src="<%= image_path('illustrations/roadmap-devs_placeholder@1x.png') %>" data-src="<%= image_path('illustrations/roadmap-devs.svg') %>" alt="Developers">
            </div>
            <div class="col-md">
              <div class="roadmap-use-case__header">
                <h5>What we’re doing for</h5>
                <h2>Developers</h2>
              </div>
              <%= partial "partials/roadmap_developers_list" %>
            </div>
          </div>
        </div>
      </div>

      <div class="roadmap-use-case content-block pb-0" id="operators">
        <div class="container">
          <div class="row">
            <div class="roadmap-use-case__image col-md order-md-2">
              <img class="img-fluid" src="<%= image_path('illustrations/roadmap-storeadmins_placeholder@1x.png') %>" data-src="<%= image_path('illustrations/roadmap-storeadmins.svg') %>" alt="Store Admins">
            </div>
            <div class="col-md">
              <div class="roadmap-use-case__header">
                <h5>What we’re doing for</h5>
                <h2>Operators</h2>
              </div>
              <%= partial "partials/roadmap_operators_list" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="roadmap-cta content-block content-block-gray-900">
    <div class="content-block pb-0">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md order-md-2 offset-md-1 mb-4">
            <img class="roadmap-cta__image img-fluid" src="<%= image_path('illustrations/roadmap-shape_placeholder@1x.png') %>" data-src="<%= image_path('illustrations/roadmap-shape.svg') %>" alt="Shape this roadmap!">
          </div>
          <div class="col-md">
            <h2 class="title mb-4">Help us shape this roadmap!</h2>
            <p>
              The Solidus roadmap is the result of a yearly discovery and prioritization process that involves user interviews, community surveys and retailer feedback, in order to make sure we address the needs and challenges of those who use the product.
            </p>
            <p>
              If you are a Solidus user and want to help shape the roadmap, you can join the stakeholders group and get privileged access to our decision-making process!
            </p>
            <a class="btn btn-primary btn-w-icon" href="mailto:info@solidus.io?subject=Hi! I want to become a Solidus stakeholder." target="_blank">Become a stakeholder!</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-block content-block-white text-center">
    <div class="container container-md">
      <h3 class="title mb-4">Want to know more?</h3>
      <p>Join our Slack community for regular updates about the development of our roadmap and to provide feebdack to our development team!<p>
      <a class="btn btn-primary btn-w-icon" href="http://slack.solidus.io/" target="_blank"><%= inline_svg("social-icons/slack.svg", class: "isvg") %> <span class="text">Join our Slack</span></a>
    </div>
  </div>
</div>
